workflows/6BZMWHtrr4hVX82x.json
{
  "active": false,
  "connections": {
    "設定變數": {
      "main": [
        [
          {
            "node": "是不是一個完整的故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "指令切換",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "步驟 - [生圖指令]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "圖檔轉影片開始",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "合併檔案開始",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "步驟 - [檢查圖片]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "照片轉影片": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最後的合併": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "確認合併狀態",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "最後的合併1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "確認合併狀態": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得所有單一影音檔": {
      "main": [
        [
          {
            "node": "最後的合併",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最後的合併1": {
      "main": [
        [
          {
            "node": "Send Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        []
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "合併影片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料要轉影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定風格": {
      "main": [
        [
          {
            "node": "組合URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組合URL": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔": {
      "main": [
        [
          {
            "node": "照片轉影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指令切換": {
      "main": [
        [
          {
            "node": "[重做指令]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "故事內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "故事內容": {
      "main": [
        [
          {
            "node": "設定變數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "圖檔轉影片開始": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合併檔案開始": {
      "main": [
        [
          {
            "node": "取得所有單一影音檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生分鏡": {
      "main": [
        [
          {
            "node": "設定人物及場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生故事": {
      "main": [
        [
          {
            "node": "Convert To Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Object": {
      "main": [
        [
          {
            "node": "整理故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定人物及場景": {
      "main": [
        [
          {
            "node": "建立主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得分鏡Code": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "步驟 - [生圖指令]": {
      "main": [
        [
          {
            "node": "設定Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得主檔": {
      "main": [
        [
          {
            "node": "取得分鏡資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "建立副檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立主檔": {
      "main": [
        [
          {
            "node": "取得分鏡Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立副檔": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得分鏡資料": {
      "main": [
        [
          {
            "node": "逐步取出資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生圖檔描寫": {
      "main": [
        [
          {
            "node": "設定風格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新image": {
      "main": [
        [
          {
            "node": "逐步取出資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "逐步取出資料": {
      "main": [
        [
          {
            "node": "選圖檔",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料待生圖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "步驟 - [檢查圖片]": {
      "main": [
        [
          {
            "node": "取得故事主檔_VerifyImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔資料": {
      "main": [
        [
          {
            "node": "依序處理場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "取得縮圖圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "批次組成ImageBase64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取出縮圖做為後續判斷": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得縮圖圖檔": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批次組成ImageBase64": {
      "main": [
        [
          {
            "node": "挑一張適合的圖檔11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "依序處理場景": {
      "main": [
        [
          {
            "node": "轉影片1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料待生圖1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得故事主檔_VerifyImage": {
      "main": [
        [
          {
            "node": "取得圖檔資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "只保留一張": {
      "main": [
        [
          {
            "node": "依序處理場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "依ID刪除故事": {
      "main": [
        [
          {
            "node": "找出副檔備刪",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "刪主檔",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "刪副檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "找出副檔備刪": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "刪副檔": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "建立圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立圖檔": {
      "main": [
        [
          {
            "node": "更新image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[重做指令]": {
      "main": [
        [
          {
            "node": "重做指令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料待生圖": {
      "main": [
        [
          {
            "node": "選圖檔",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "產生圖檔描寫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料待生圖1": {
      "main": [
        [
          {
            "node": "轉影片1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取出縮圖做為後續判斷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料要轉影片": {
      "main": [
        [
          {
            "node": "合併影片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取得圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是不是一個完整的故事": {
      "main": [
        [
          {
            "node": "如果是完整故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果是完整故事": {
      "main": [
        [
          {
            "node": "直接拿輸入為故事內容",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "產生故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "直接拿輸入為故事內容": {
      "main": [
        [
          {
            "node": "整理故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理故事": {
      "main": [
        [
          {
            "node": "產生分鏡",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定Prompt": {
      "main": [
        [
          {
            "node": "取得主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "挑一張適合的圖檔11": {
      "main": [
        [
          {
            "node": "只保留一張",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-19T13:52:29.947Z",
  "id": "6BZMWHtrr4hVX82x",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "繪本英文版",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f92a3dc-22d5-466e-b1f8-69c0045055ff",
              "name": "pollinations_token",
              "value": "v58NNo7fauiWtBsS",
              "type": "string"
            },
            {
              "id": "d6d50a69-8d15-4990-aa43-c34eb25e4546",
              "name": "=timestamp",
              "value": "={{ Math.floor(Date.now() / 1000) }}",
              "type": "number"
            },
            {
              "id": "d37851e8-b1cc-4b0c-9d9b-3b9c93678916",
              "name": "system_prompt",
              "value": "You are an expert in designing storyboards for picture books for 12-year-old children. Please create picture book content and divide it into independent storyboards based on the user's provided story.\n\nEach storyboard must include story narration and a corresponding scene description, suitable for a picture book layout. Please reply in **JSON format**, where each object must contain the following three properties:\n\n1.  **\"sequence\"**: The sequence number of the scene.\n2.  **\"paragraph\"**: The story content, presented in English.\n3.  **\"scene\"**: The scene description, presented in English, contains the following three sub-properties:\n    * **\"description\"**: A detailed description of the scene.\n    * **\"characters\"**: A description of the characters' appearances.\n    * **\"action\"**: A description of the characters' body movements.\n\n**Example Output:**\n\n```json\n[\n  {\n    \"sequence\": 1,\n    \"paragraph\": \"On a sunny day, the north wind and the sun met on the grass.\",\n    \"scene\": {\n      \"action\": \"The Sun smiles brightly while the North Wind puffs up his cheeks, creating a chilly breeze.\",\n      \"characters\": \"The Sun, personified as a cheerful, glowing character with a golden aura. The North Wind, depicted as a swirling, icy figure with a frosty appearance.\",\n      \"description\": \"A bright day with a clear blue sky and fluffy clouds. The sun shines warmly over a grassy field.\"\n    }\n  }\n]\n\n",
              "type": "string"
            },
            {
              "id": "798cfcb3-0f86-4efb-93a7-d7c4ae75d642",
              "name": "user_prompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "915613f9-1411-405f-bd5f-5fea7711ac0b",
              "name": "gen_char_prompt",
              "value": "You are an expert in designing initial visual appearances for characters and objects based on specific requirements. Your task is to analyze the provided story content and extract its key characters and important objects. For each identified character and object, you will generate a detailed visual description optimized for AI image generation.\n\nYour response must be in **JSON format** and structured as an array of objects. Each object will represent either a character or an object and must include the following attributes:\n\n1.  **\"name\"** (string): The clear, concise name of the character or object (e.g., \"Captain Kael\", \"The Obsidian Orb\").\n2.  **\"type\"** (string): Specify if it's a \"character\" or an \"object\".\n3.  **\"description\"** (string): This will be your main AI image prompt. Provide a comprehensive visual description.\n    * **For characters**: **Crucially, include all visible appearance details to ensure consistency across generations, such as:**\n        * **Skin tone** (e.g., fair, olive, dark brown)\n        * **Face shape** (e.g., oval, square, heart-shaped)\n        * **Hair style and color** (e.g., long wavy black hair, short spiky blonde hair)\n        * **Eye color and shape** (e.g., bright blue almond eyes)\n        * **Body build/type** (e.g., slender, muscular, average)\n        * **Specific facial features** (e.g., freckles, scar over left eye, prominent cheekbones)\n        * **Clothing style, patterns, and materials** (e.g., a flowing velvet robe with gold embroidery, worn denim jacket, sturdy leather boots)\n        * **Accessories or adornments** (e.g., a silver locket, intricate ear piercings, a utility belt with pouches)\n        * **Any visible items carried or held** (e.g., a staff carved with runes, an antique pocket watch)\n        * **Overall demeanor or expression** (e.g., a determined gaze, a mischievous smirk)\n    * **For objects**: Describe material, form, texture, state, and any defining details.\n\n```json\n[\n  {\n    \"name\": \"Captain Kael\",\n    \"type\": \"character\",\n    \"description\": \"A rugged male human, late 30s, with olive skin and a square jawline. He has a neatly trimmed dark brown beard and piercing bright blue almond eyes. His build is broad-shouldered and muscular. He wears a worn, dark brown leather trench coat with heavy brass buttons over a dark grey wool tunic, reinforced with tarnished steel pauldrons. A vintage brass compass hangs from a thick leather cord around his neck, and he has a deep, thin scar running down his right cheekbone. His sturdy leather boots are scuffed, and he carries a heavy iron-wood axe strapped to his back. His expression is resolute and slightly grim.\"\n  },\n  {\n    \"name\": \"The Obsidian Orb\",\n    \"type\": \"object\",\n    \"description\": \"A perfectly spherical orb, about 10 cm in diameter, crafted from highly polished obsidian. Its surface is incredibly smooth and reflects light with a deep, inky sheen, occasionally revealing subtle, swirling patterns within its depths. It emits a faint, cold, wispy mist that gently curls around its base.\"\n  }\n]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        -860
      ],
      "id": "6a578ae9-458b-4d78-a7dc-e655b2ce96a5",
      "name": "設定變數"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1900,
        -1010
      ],
      "id": "78c707ed-592b-4031-92b3-df6da07aad4a",
      "name": "Telegram Trigger",
      "webhookId": "b4e6115e-ad75-40c6-b7cd-bc1d7f81afc9",
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Action"
            },
            {
              "name": "RecordID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1900,
        760
      ],
      "id": "8623c815-b22f-40ad-95a4-8dadd2c775d1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7704c244-855a-4d4e-ad63-f3a119200ecb",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "Start",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "SenceToVideo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33fee299-2cd3-4d03-9504-5be11d3f31af"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e173d0e-6efb-4a39-91f4-a387d58f4cfa",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "MergeVideo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f5aa4e5-c96a-44e1-bbfb-6b51c4433177",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "VerifyImage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1680,
        739
      ],
      "id": "917b04ae-d9e1-4ce5-8679-252843573182",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ParentRecordID": "={{ $('When Executed by Another Workflow').item.json.RecordID }}",
            "Sequence": "={{ $('Loop Over Items1').item.json.Sequence }}",
            "AudioDuration": "={{ $('Get Status').item.json.data.audio_duration }}",
            "VideoPath": "={{ $('Get Status').item.json.data.videos[0] }}"
          },
          "matchingColumns": [
            "ParentRecordID",
            "Sequence"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        660
      ],
      "id": "49f050b8-a38c-4899-93a3-70bfa3dace51",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/imagesubtitle",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"bgm_file\": \"\",\n    \"bgm_type\": \"random\",\n    \"bgm_volume\": 0.2,\n    \"font_name\": \"STHeitiMedium.ttc\",\n    \"font_size\": 60,\n    \"image_base64\": \"{{ $input.first().binary[\"data\"].data }}\",\n    \"stroke_color\": \"#000000\",\n    \"stroke_width\": 1.5,\n    \"subtitle_enabled\": \"true\",\n    \"subtitle_position\": \"bottom\",\n    \"text_background_color\": true,\n    \"text_fore_color\": \"#FFFFFF\",\n    \"video_language\": \"zh-tw\",\n    \"video_script\": \"{{ $json.Paragraph }}\",\n    \"video_source\": \"local\",\n    \"voice_name\": \"azure-openai:nova\",\n    \"voice_rate\": 1.0,\n    \"voice_volume\": 1.0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        585
      ],
      "id": "155269a2-9d8f-4d2a-8fd5-11b5de60003e",
      "name": "照片轉影片"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -360,
        585
      ],
      "id": "33ca3fed-aeea-4815-807b-731488221c59",
      "name": "Wait",
      "webhookId": "5e3ef7d9-8616-4a6c-9ce6-d1cb2e676a26"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        485
      ],
      "id": "b36a89ba-06bf-49c3-8472-c86dc609edcb",
      "name": "Get Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b6fe6d5-027e-40a6-b4a5-47333a06edd8",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        585
      ],
      "id": "0313b6a3-ef3f-4d2c-9f31-7aa50a5a131e",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/merge",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1020,
        1010
      ],
      "id": "41ef1f30-5b93-4875-8278-2e7bd3185078",
      "name": "最後的合併"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -800,
        1010
      ],
      "id": "b2a1655b-41ec-418e-9444-09e5b44a9901",
      "name": "Wait1",
      "webhookId": "c319e2a1-214d-4306-adb5-a311cb990c79"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b6fe6d5-027e-40a6-b4a5-47333a06edd8",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -360,
        1010
      ],
      "id": "20f9f132-baff-4110-8e75-4479dc17a325",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "=5513588652",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "12e2e286-5392-4606-b6c2-397b6bf478d0",
      "name": "Send Analysis",
      "type": "n8n-nodes-base.telegram",
      "position": [
        80,
        1010
      ],
      "webhookId": "d8167853-07b6-49d5-a19f-48e66e15be71",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        910
      ],
      "id": "ad4d34fc-b765-479f-840f-b0abe1ed9ab4",
      "name": "確認合併狀態"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all(); // 獲取所有傳入的資料項目\nconst names = [];\n\n// 迭代每一個輸入項目，取出 'name' 屬性\nfor (const item of inputItems) {\n  if (item.json && item.json.VideoPath) {\n    names.push(item.json.VideoPath);\n  }\n}\n\n// 將收集到的 'name' 陣列封裝成 { \"name\": [...] } 的物件\nreturn [{\n  json: {\n    video_sources: names\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1240,
        1010
      ],
      "id": "92461802-6aa2-4fc8-81b3-16149b68faec",
      "name": "取得所有單一影音檔"
    },
    {
      "parameters": {
        "url": "={{ $json.data.merged_video }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        1010
      ],
      "id": "fd8dd7b3-a550-4163-b37d-fe2e3e86e740",
      "name": "最後的合併1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "Start",
            "RecordID": "={{ $('建立主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1180,
        -1060
      ],
      "id": "9ec276b9-a600-4cb6-8083-2424c1f91401",
      "name": "Start",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1240,
        535
      ],
      "id": "113870b4-0427-4261-9ca1-10ab27fef9ea",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25124828-d738-4a6c-9554-f091cb606b9e",
              "name": "message.content",
              "value": "={{ $json.data }}\nGuidance: Disney 3D animation, Pixar-style rendering, stylized realism, soft lighting, detailed textures, expressive characters. A charming Disney 3D animation style, reminiscent of Pixar, featuring stylized yet realistic rendering, soft and inviting lighting, meticulously crafted textures, and highly expressive character designs.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        185
      ],
      "id": "52bf6d8f-2221-42f8-932c-11ce3c7ce3be",
      "name": "設定風格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52dba29a-4770-485c-a792-ab67227c788a",
              "name": "=URL",
              "value": "=[\n  \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1024&height=768&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n  \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1024&height=768&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n  \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1024&height=768&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n  \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1024&height=768&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\"\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        185
      ],
      "id": "68f8b7e1-941b-450d-a140-5a90b2827827",
      "name": "組合URL"
    },
    {
      "parameters": {
        "url": "={{ $json.PickedImage[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        585
      ],
      "id": "0d1f6ee3-5854-4589-984c-ac61ef108d94",
      "name": "取得圖檔"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "MergeVideo",
            "RecordID": "={{ $('When Executed by Another Workflow').item.json.RecordID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -800,
        360
      ],
      "id": "bacbe31a-b461-4da4-8689-a8164cdbb0c3",
      "name": "合併影片",
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e3ed24d1-3d28-467e-b191-5eea690ecc92"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd39ccd2-cd4a-4723-87a5-81a9246643a5",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1680,
        -1010
      ],
      "id": "24483e6e-99fd-4ef4-9050-fd169cfe681e",
      "name": "指令切換"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -860
      ],
      "id": "8324da6b-dbdc-4e5d-9b1b-8b94e7189a6a",
      "name": "故事內容"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.RecordID }}\"), ({VideoPath} = \"\")) ",
        "returnAll": false,
        "options": {
          "fields": [
            "PickedImage",
            "Paragraph",
            "Sequence"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "Sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1460,
        535
      ],
      "id": "d61281b1-d961-44c7-9f96-a3c8234674f8",
      "name": "圖檔轉影片開始",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.RecordID }}\"), ({VideoPath} != \"\")) ",
        "options": {
          "fields": [
            "VideoPath"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "Sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1460,
        1010
      ],
      "id": "d9ddc8f1-b2ea-45df-b559-39edac939051",
      "name": "合併檔案開始",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($json.data.Contect) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('設定變數').item.json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms×"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "={{ encodeURIComponent($('設定變數').item.json.system_prompt) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -860
      ],
      "id": "f8db652c-f528-4494-9d54-fdd9c9c3f322",
      "name": "產生分鏡",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($('設定變數').item.json.user_prompt) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('設定變數').item.json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=Please generate appropriate story content as requested and respond in JSON format as follows:\n{\n    \"Title\":[Story Title]\",\n    \"Contect\":[Story Content]\n}\n\nThe ending should be neutral, ambiguous, or directly related to the story's ending, without containing any grand philosophical exposition. Characters' actions and fates should reflect their motivations (e.g., self-interest, ambition, or specific goals), rather than being presented as allegories of moral behavior or broader moral lessons. Characters' successes or failures should stem directly from their choices and situations in the narrative, rather than from adherence to or deviation from universal moral good."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        -760
      ],
      "id": "0ed1a3be-a6b0-4e15-8408-bbb001921c69",
      "name": "產生故事",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58a40198-eba4-48ab-b93c-d132444e0f96",
              "name": "data",
              "value": "={{ JSON.parse($input.first().json.data)  }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -360,
        -760
      ],
      "id": "90384758-9c1e-44ac-b09c-eaaf0ae0716c",
      "name": "Convert To Object"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://text.pollinations.ai/openai?referrer=gxrrgj6t-443.asse.devtunnels.ms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messages\":\n    [\n        {\n            \"content\": {{ JSON.stringify($('設定變數').item.json.gen_char_prompt) }},\n            \"role\": \"system\"\n        },\n        {\n            \"content\": {{ JSON.stringify($('整理故事').item.json.data.Contect) }},\n            \"role\": \"user\"\n        }\n    ],\n    \"model\": \"openai\",\n    \"private\": false,\n    \"token\": \"{{ $('設定變數').item.json.pollinations_token }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        -860
      ],
      "id": "f8a25d76-2a75-4ec4-89d8-dd1bdd8bc712",
      "name": "設定人物及場景",
      "executeOnce": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawString = $('產生分鏡').first().json.data;// 獲取你的輸入字串\nconst startDelimiter = '```json\\n';\nconst endDelimiter = '\\n```'; // 注意：這裡的結束分隔符只包含換行和三個反引號\nconst startIndex = rawString.indexOf(startDelimiter);\nconst endIndex = rawString.indexOf(endDelimiter, startIndex); // 從開始分隔符之後尋找結束分隔符\nlet jsonString;\n\nif (startIndex !== -1 && endIndex !== -1) {\n    // 找到了開頭和結尾分隔符\n    // 從 '```json\\n' 的下一個字元開始，直到 '\\n```' 的前一個字元\n    jsonString = rawString.substring(startIndex + startDelimiter.length, endIndex);\n} else {\n    // 如果沒有找到特定的包裹格式，則假設整個字串就是 JSON\n    console.warn('String does not seem to be wrapped with \"```json\\\\n\" and \"\\\\n```\". Attempting direct parse.');\n    jsonString = rawString;\n}\ntry {\n    const jsonObject = JSON.parse(jsonString);\n    return jsonObject;\n} catch (e) {\n    throw new Error(`Failed to parse JSON. Raw string (or extracted part): \"${jsonString.substring(0, 200)}...\" Error: ${e.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        -860
      ],
      "id": "95ad876e-1235-4a57-a0f5-d20d2c1cd1fe",
      "name": "取得分鏡Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        135
      ],
      "id": "42444286-e6f2-4c75-b919-c43b2ca6a155",
      "name": "步驟 - [生圖指令]"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "id": "={{ $('When Executed by Another Workflow').item.json.RecordID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1020,
        135
      ],
      "id": "e961efeb-943b-412e-a7fb-7024c4a499ce",
      "name": "取得主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        -860
      ],
      "id": "33ea6cc7-0dd2-4fb4-b2bd-180df4af7a25",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblmxMe7DDQGJk8AF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "故事內容": "={{ $('整理故事').item.json.data.Contect }}",
            "故事": "={{ $('整理故事').item.json.data.Title }}",
            "角色設定": "={{ $('設定人物及場景').item.json.choices[0].message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "故事",
              "displayName": "故事",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "故事內容",
              "displayName": "故事內容",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "角色設定",
              "displayName": "角色設定",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        520,
        -860
      ],
      "id": "31251ef4-9cef-40c9-937e-6c64e2cf366d",
      "name": "建立主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sequence": "={{ $json.sequence }}",
            "Paragraph": "={{ $json.paragraph }}",
            "Scene": "={{ JSON.stringify($json.scene) }}",
            "ParentRecordID": "={{ $('建立主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1180,
        -860
      ],
      "id": "d339b0f8-2172-475c-8b0a-23418c70c139",
      "name": "建立副檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.id }}\"), ({ImagePrompt} = \"\")) ",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -800,
        135
      ],
      "id": "580c2d03-7eaf-4829-a7e5-32ac73dda73f",
      "name": "取得分鏡資料",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($json.Scene) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "v58NNo7fauiWtBsS"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=You are an expert at creating English descriptions for AI image generation. Your output must align with the provided story's plot and content, specifically for a children's picture book suitable for 12-year-olds.\n\nThe story content is as follows:\n** Story start ** \n{{ encodeURIComponent($('取得主檔').item.json[\"故事內容\"]) }}\n** Story end ** \nThe page elements are defined as follows (if any elements are used, they must strictly follow these definitions for their descriptions). If there is more than one character, provide a complete and distinct visual description for EACH character to prevent distorted or inconsistent image generation:\n** Definitions start ** \n{{ encodeURIComponent($('取得主檔').item.json[\"角色設定\"]) }}\n** Definitions end ** \n*Provide only the English descriptions, with no additional replies or conversational fillers.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        185
      ],
      "id": "8bb3226a-c26f-46b3-8750-a63b79afc3c1",
      "name": "產生圖檔描寫",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('逐步取出資料').item.json.id }}",
            "ImagePrompt": "={{ $('產生圖檔描寫').item.json.data }}",
            "Images": "=[\n    {\n        \"url\": \"{{$input.all()[0].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[1].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[2].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[3].json.URL}}\"\n    }\n]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        260
      ],
      "id": "5517cd4f-e422-4948-a0b5-7f496a9b0888",
      "name": "更新image",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -580,
        135
      ],
      "id": "6fc153af-91b3-47d7-b6fd-f6ccfc6cee2d",
      "name": "逐步取出資料"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        1410
      ],
      "id": "e286e788-e40b-40ec-94fb-64c1456100f7",
      "name": "步驟 - [檢查圖片]"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.id }}\"), ({ImagePrompt} != \"\"), {PickedImage} = \"\") ",
        "options": {
          "fields": [
            "Images"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1020,
        1410
      ],
      "id": "c5e90b8a-41c5-437e-81cb-5a2c92d3a6dd",
      "name": "取得圖檔資料",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -140,
        1435
      ],
      "id": "a9e8ee74-e4c6-4778-88c1-37c614d10023",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        300,
        1435
      ],
      "id": "c2a1fa55-bc93-4adb-b53c-0b995f9c764d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.first().json.Images; // 獲取所有傳入的資料項目\nconst names = [];\n\n// 迭代每一個輸入項目，取出 'name' 屬性\nfor (const item of inputItems)\n{\n    names.push(item.thumbnails.large.url);\n}\n\n// 將收集到的 'name' 陣列封裝成 { \"name\": [...] } 的物件\nreturn [\n{\n    json:\n    {\n        image_url: names\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        1435
      ],
      "id": "0725367d-b062-42f4-92c8-b827a25f594e",
      "name": "取出縮圖做為後續判斷"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        1435
      ],
      "id": "1f510278-f90d-45c7-9cfd-db72ea0bf892",
      "name": "取得縮圖圖檔"
    },
    {
      "parameters": {
        "jsCode": "const base64ImagesArray = []; // 用於存放所有 Base64 字串的陣列\n// 遍歷所有傳入 Code 節點的 Item\nfor (const item of $input.all()) {\n    // 檢查當前 Item 是否有二進位資料\n    if (item.binary && Object.keys(item.binary).length > 0) {\n        // 一個 Item 的 binary 物件可能有多個二進位檔案\n        for (const binaryKey in item.binary) {\n            // 確保是物件自身的屬性\n            if (Object.hasOwnProperty.call(item.binary, binaryKey)) {\n                const binaryFile = item.binary[binaryKey];\n                const dataBuffer = binaryFile.data; // 這是 n8n 內部表示的 Base64 編碼緩衝區字串\n\n                if (dataBuffer) {\n                    // 將 n8n 的二進位資料 (Base64 編碼的緩衝區字串) 轉換為真正的 Buffer\n                    // 然後再將 Buffer 轉換為 Base64 字串\n                    const base64String = Buffer.from(dataBuffer, 'base64').toString('base64');\n\n                    innImage_url = { \"url\": base64String }\n\n\n                    // 將結果推入陣列。你可以選擇只推入 Base64 字串，或一個包含更多資訊的物件。\n                    base64ImagesArray.push({\n                        image_url: { \"url\": \"data:\" + binaryFile.mimeType + \";base64,\" + base64String },\n                        \"type\": \"image_url\"\n                    });\n                }\n            }\n        }\n    }\n}\n\n// 返回一個包含 Base64 圖片陣列的單一 Item\nreturn [{\n    json: {\n        data: base64ImagesArray\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        1435
      ],
      "id": "8704db73-b4b8-49c0-a9d2-3715af99e789",
      "name": "批次組成ImageBase64",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('依序處理場景').item.json.id }}",
            "PickedImage": "=[\n    {\n        \"url\": \"{{ $('依序處理場景').item.json.Images[JSON.parse($json.choices[0].message.content).number - 1].url }}\"\n    }\n]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        1535
      ],
      "id": "2ea12a92-78fd-455b-b8aa-dfbc21e70f73",
      "name": "只保留一張",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -800,
        1410
      ],
      "id": "f3ba5358-880e-4a42-9b16-e04bbccf882e",
      "name": "依序處理場景"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblmxMe7DDQGJk8AF"
        },
        "id": "={{ $json.RecordID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1240,
        1410
      ],
      "id": "03693212-a61b-47e8-9979-01411c14be29",
      "name": "取得故事主檔_VerifyImage",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1900,
        -350
      ],
      "id": "9d5a3c1f-8b27-4f10-a18d-eab7a3e4717a",
      "name": "依ID刪除故事",
      "webhookId": "54c58271-489f-42f7-9dbe-39e4e957a116"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1460,
        -350
      ],
      "id": "2b985826-0ba9-463d-8f02-a4853a5e745b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=({ParentRecordID} = \"{{ $json.chatInput }}\")",
        "options": {
          "fields": [
            "PK"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1680,
        -350
      ],
      "id": "4f70e9bd-ff92-4f47-a2e2-0e058ac390b9",
      "name": "找出副檔備刪",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "id": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1240,
        -300
      ],
      "id": "18b34eef-5da3-4fa2-bc9e-99e719fa2840",
      "name": "刪副檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblmxMe7DDQGJk8AF"
        },
        "id": "={{ $('依ID刪除故事').item.json.chatInput }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1240,
        -500
      ],
      "id": "a5282d61-8825-4ba9-ac59-40af861dd383",
      "name": "刪主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "URL",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        520,
        185
      ],
      "id": "11826def-ed32-459a-be02-d9c52aad58b4",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        185
      ],
      "id": "2ead4118-f70a-4201-9b35-bb27ed2e8706",
      "name": "建立圖檔",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "SenceToVideo",
            "RecordID": "={{ $('取得故事主檔_VerifyImage').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -360,
        1235
      ],
      "id": "c0fa4ba3-e61f-4c50-afb9-1614a0a9aeae",
      "name": "轉影片1",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -1060
      ],
      "id": "692b012a-37ce-478f-89d5-bfe307c64527",
      "name": "[重做指令]"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "={{ $json.message.text.substring(1).split(' ')[0] }}",
            "RecordID": "={{ $json.message.text.substring(1).split(' ')[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1240,
        -1060
      ],
      "id": "20143373-a955-4f31-a945-862baf15f988",
      "name": "重做指令",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -360,
        135
      ],
      "id": "50d047ea-dc0c-4694-a43f-7be48471e7d9",
      "name": "如果無資料待生圖"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -580,
        1410
      ],
      "id": "9b537cf3-5ab9-497f-b9ed-a307dc8cce5e",
      "name": "如果無資料待生圖1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1020,
        535
      ],
      "id": "f42df031-6991-4381-9cdb-8a3880c9ab14",
      "name": "如果無資料要轉影片"
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($json.user_prompt) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "0.8"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=Please confirm whether the input content is a complete story. Only the story name or story outline is not complete. If it is a complete story, please name the story. You will reply in Json format, as follows:\n{\n    \"IsFullStory\":[Is it a complete story, true or false],\n    \"Title\":\"[Story name]\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1020,
        -860
      ],
      "id": "aaaa1b9f-fcae-4828-98f0-21872b58b819",
      "name": "是不是一個完整的故事",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f2b296b-72ce-4b56-b1e1-798553373cac",
              "leftValue": "={{ JSON.parse($json.data).IsFullStory  }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        -860
      ],
      "id": "9d26cabb-9407-4cd2-87b7-6228314623d3",
      "name": "如果是完整故事"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c915e9d-6f8e-4469-bbcc-a31f1b427d31",
              "name": "data",
              "value": "={ \"Title\":\"{{ JSON.parse($json.data).Title  }}\", \"Contect\":{{ JSON.stringify($('設定變數').item.json.user_prompt) }} }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -360,
        -960
      ],
      "id": "dc8659d1-2fef-481a-bb3a-a076dc7fead4",
      "name": "直接拿輸入為故事內容"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc846706-8a8a-4ced-b2f5-1a6caefabf2a",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        -860
      ],
      "id": "6c9bb9af-bcb1-4596-8d99-b85d3d4e4cca",
      "name": "整理故事"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "VerifyImage",
            "RecordID": "={{ $('取得主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -140,
        -40
      ],
      "id": "34a572a5-ea4c-4d73-8f7f-354dd19cb79a",
      "name": "選圖檔",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0e75319-bce9-4fbd-812e-024892a120ad",
              "name": "gen_image_prompt",
              "value": "=You are an expert at creating English descriptions for AI image generation. Your output must align with the provided story's plot and content, specifically for a children's picture book suitable for 12-year-olds.\n\nThe story content is as follows:\nXXXX\n\nThe page elements are defined as follows (if any elements are used, they must strictly follow these definitions for their descriptions). If there is more than one character, provide a complete and distinct visual description for EACH character to prevent distorted or inconsistent image generation:\nYYYY\n\nProvide only the English descriptions, with no additional replies or conversational fillers.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        135
      ],
      "id": "62d0db0d-702e-4746-9a69-28b7ccc4efa0",
      "name": "設定Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://text.pollinations.ai/openai?referrer=gxrrgj6t-443.asse.devtunnels.ms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messages\":\n    [\n        {\n            \"content\": \"你是擅長分辦風格為\\\"Guidance: Disney 3D animation, Pixar-style rendering, stylized realism, soft lighting, detailed textures, expressive characters. A charming Disney 3D animation style, reminiscent of Pixar, featuring stylized yet realistic rendering, soft and inviting lighting, meticulously crafted textures, and highly expressive character designs.\\\"的圖畫\",\n            \"role\": \"system\"\n        },\n        {\n            \"content\":\n            [\n                {\n                    \"text\": \"請挑選一張繪畫風格符合的圖片，若有人物，請挑選符合正常審美的圖片。請以Json格式回覆，格式如下：{\\\"number\\\": [選中的第幾張圖片], \\\"reason\\\": [簡述選中的原因] }\",\n                    \"type\": \"text\"\n                },\n                {{ $json.data.map(item => item.toJsonString()) }}\n            ],\n            \"role\": \"user\"\n        }\n    ],\n    \"model\": \"openai\",\n    \"token\": \"v58NNo7fauiWtBsS\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        1435
      ],
      "id": "6515b03f-a60f-46c5-b1db-df202540ae59",
      "name": "挑一張適合的圖檔11",
      "executeOnce": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Action": "MergeVideo",
          "RecordID": "rec1TNgViJg8ZQYiZ"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-06-20T06:31:31.000Z",
  "versionId": "366f292f-10d2-4fbc-a135-da89b544f159"
}