workflows/aGUbx586xY2cCabi.json
{
  "active": false,
  "connections": {
    "經濟日報分類入口": {
      "main": [
        [
          {
            "node": "抓取URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "抓取URL": {
      "main": [
        [
          {
            "node": "條列URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "條列URL": {
      "main": [
        [
          {
            "node": "最大筆數限制",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最大筆數限制": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得本文": {
      "main": [
        [
          {
            "node": "轉成Json物件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "轉成Json物件": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "資料不存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "資料不存在": {
      "main": [
        [
          {
            "node": "取得本文",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-26T03:49:23.506Z",
  "id": "aGUbx586xY2cCabi",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Grab",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        -10
      ],
      "id": "2d3bffef-e796-49ef-bc13-3528e2654c04",
      "name": "經濟日報分類入口",
      "webhookId": "b732886c-f5e1-48b4-92e3-3b2b3294e62f",
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crawl4ai:11235/md",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"c\": \"0\",\n    \"f\": \"fit\",\n    \"q\": null,\n    \"url\": \"{{ $json.chatInput }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -10
      ],
      "id": "7d8d585b-a2e5-44e9-a8f6-79d6a0b8b29b",
      "name": "抓取URL"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.markdown\nconst regex = /\\(https?:\\/\\/money.*?\\/story\\/.*?\\)/g\nconst regex_2 = /(http.?:[a-z0-9\\/_\\.\\?=]*) \"(.*)\"/\nconst lines = data.match(regex)\nconst today = new Date();\nconst year = today.getFullYear();\nconst month = String(today.getMonth() + 1).padStart(2, '0');\nconst day = String(today.getDate()).padStart(2, '0');\nconst currentDate = `${year}/${month}/${day}`\n\nconst stepA = lines.map(url => {\n    return { json: { url: url } }\n})\n\nconst stepB = stepA.map(data => {\n    const line_item = data.json.url.match(regex_2)\n    if (line_item != null && line_item.length > 2) {\n        return {\n            date: currentDate,\n            url: line_item[1],\n            title: line_item[2]\n        }\n    } else {\n        return {}\n    }\n})\nreturn stepB"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -10
      ],
      "id": "23522c07-faa2-4fa3-92a0-6061f2e75786",
      "name": "條列URL"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        860,
        -10
      ],
      "id": "5b4c4cfe-a17b-423f-99c9-2c6e6d46ca13",
      "name": "最大筆數限制"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crawl4ai:11235/md",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Loop Over Items').item.json.url }}"
            },
            {
              "name": "f",
              "value": "fit"
            },
            {
              "name": "c",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        -160
      ],
      "id": "211efeab-2723-423a-b28e-73d89880a8c8",
      "name": "取得本文"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.markdown;\n\n// 尋找標題和內容的起始與結束位置\nconst startOfTitle = body.indexOf(\"#\");\nconst endOfContent = body.indexOf(\"※\");\n\n// 如果找不到起始或結束標記，則回傳空值，避免錯誤\nif (startOfTitle === -1 || endOfContent === -1) {\n  return {\n    'url': $input.first().url,\n    'title': \"解析失敗\",\n    'content': body,\n  };\n}\n\n// 提取並處理標題與內容\nlet fullContent = body.substring(startOfTitle + 2, endOfContent).trim(); // +2 略過 \"# \" 並移除前後空白\n\nconst endOfTitle = fullContent.indexOf(\"\\n\");\nconst title = fullContent.substring(0, endOfTitle);\nlet content = fullContent.substring(endOfTitle + 1).trim(); // 提取內容並移除前後空白\n\n// 移除特定字串\ncontent = content.replace(\"文章相關個股\\n\", \"\");\n\nreturn {\n  'url': $input.first().json.url,\n  'title': title,\n  'content': content\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        -160
      ],
      "id": "ebab3e2b-c54c-48c2-8d6e-f1bdb1f00b2f",
      "name": "轉成Json物件"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1AI8qur0_6OMZZqylof6_3PYer_2yEhm-Tj8Jvc_pEG4",
          "mode": "list",
          "cachedResultName": "經濟日報",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AI8qur0_6OMZZqylof6_3PYer_2yEhm-Tj8Jvc_pEG4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "TEST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AI8qur0_6OMZZqylof6_3PYer_2yEhm-Tj8Jvc_pEG4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}",
            "title": "={{ $json.title }}",
            "content": "={{ $json.content }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2180,
        -85
      ],
      "id": "13d20234-9eb9-46fd-bfe9-caf4e33440b0",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jbSByzKWoAd2kibE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1080,
        -10
      ],
      "id": "84247cdf-4140-486c-aa91-8bbd3c391d25",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AI8qur0_6OMZZqylof6_3PYer_2yEhm-Tj8Jvc_pEG4",
          "mode": "list",
          "cachedResultName": "經濟日報",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AI8qur0_6OMZZqylof6_3PYer_2yEhm-Tj8Jvc_pEG4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "TEST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AI8qur0_6OMZZqylof6_3PYer_2yEhm-Tj8Jvc_pEG4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "url",
              "lookupValue": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1300,
        -160
      ],
      "id": "c07a7f5b-2062-40ec-a469-734f94b31745",
      "name": "Google Sheets1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jbSByzKWoAd2kibE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10f00c6c-1c42-47f3-a9d4-bc09ab1e79b2",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        -160
      ],
      "id": "7060b626-c429-4c93-8700-311900ee520a",
      "name": "資料不存在",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-28T13:42:41.000Z",
  "versionId": "f9b66438-9823-4172-87b4-ed6f01cb2939"
}