workflows/CfT5vvEpUdUbtXnX.json
{
  "active": false,
  "connections": {
    "設定變數": {
      "main": [
        [
          {
            "node": "是不是一個完整的故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "指令切換",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "步驟 - [生圖指令]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "圖檔轉影片開始",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "合併檔案開始",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "步驟 - [檢查圖片]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "照片轉影片": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最後的合併": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "確認合併狀態",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "下載完成檔",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "確認合併狀態": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Send Analysis4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料要轉影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定風格": {
      "main": [
        [
          {
            "node": "組合URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組合URL": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔": {
      "main": [
        [
          {
            "node": "照片轉影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指令切換": {
      "main": [
        [
          {
            "node": "[重做指令]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "故事內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "故事內容": {
      "main": [
        [
          {
            "node": "設定變數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "圖檔轉影片開始": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合併檔案開始": {
      "main": [
        [
          {
            "node": "取得所有單一影音檔_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生分鏡": {
      "main": [
        [
          {
            "node": "設定人物及場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生故事": {
      "main": [
        [
          {
            "node": "Convert To Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Object": {
      "main": [
        [
          {
            "node": "整理故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定人物及場景": {
      "main": [
        [
          {
            "node": "建立主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得分鏡Code": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "步驟 - [生圖指令]": {
      "main": [
        [
          {
            "node": "設定Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得主檔": {
      "main": [
        [
          {
            "node": "取得分鏡資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Send Analysis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "建立副檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立主檔": {
      "main": [
        [
          {
            "node": "取得分鏡Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立副檔": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得分鏡資料": {
      "main": [
        [
          {
            "node": "逐步取出資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生圖檔描寫": {
      "main": [
        [
          {
            "node": "設定風格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新image": {
      "main": [
        [
          {
            "node": "逐步取出資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "逐步取出資料": {
      "main": [
        [
          {
            "node": "Send Analysis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料待生圖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "步驟 - [檢查圖片]": {
      "main": [
        [
          {
            "node": "取得故事主檔_VerifyImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔資料": {
      "main": [
        [
          {
            "node": "依序處理場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "取得縮圖圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "批次組成ImageBase64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取出縮圖做為後續判斷": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得縮圖圖檔": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批次組成ImageBase64": {
      "main": [
        [
          {
            "node": "挑一張適合的圖檔11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "只保留一張": {
      "main": [
        [
          {
            "node": "依序處理場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得故事主檔_VerifyImage": {
      "main": [
        [
          {
            "node": "取得圖檔資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "依ID刪除故事": {
      "main": [
        [
          {
            "node": "找出副檔備刪",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "刪主檔",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "刪副檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "找出副檔備刪": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "刪副檔": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "建立圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立圖檔": {
      "main": [
        [
          {
            "node": "更新image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[重做指令]": {
      "main": [
        [
          {
            "node": "重做指令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料待生圖": {
      "main": [
        [
          {
            "node": "Send Analysis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "產生圖檔描寫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料待生圖1": {
      "main": [
        [
          {
            "node": "Send Analysis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取出縮圖做為後續判斷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料要轉影片": {
      "main": [
        [
          {
            "node": "Send Analysis4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取得圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是不是一個完整的故事": {
      "main": [
        [
          {
            "node": "如果是完整故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果是完整故事": {
      "main": [
        [
          {
            "node": "直接拿輸入為故事內容",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "產生故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "直接拿輸入為故事內容": {
      "main": [
        [
          {
            "node": "整理故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理故事": {
      "main": [
        [
          {
            "node": "產生分鏡",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定Prompt": {
      "main": [
        [
          {
            "node": "取得主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "挑一張適合的圖檔11": {
      "main": [
        [
          {
            "node": "只保留一張",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis1": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis2": {
      "main": [
        [
          {
            "node": "選圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis3": {
      "main": [
        [
          {
            "node": "轉影片1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis4": {
      "main": [
        [
          {
            "node": "合併影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下載完成檔": {
      "main": [
        [
          {
            "node": "Send Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "依序處理場景": {
      "main": [
        [
          {
            "node": "Send Analysis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料待生圖1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得所有單一影音檔_2": {
      "main": [
        [
          {
            "node": "最後的合併",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-30T11:41:00.947Z",
  "id": "CfT5vvEpUdUbtXnX",
  "isArchived": false,
  "meta": null,
  "name": "繪本英文版",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f92a3dc-22d5-466e-b1f8-69c0045055ff",
              "name": "pollinations_token",
              "value": "xpJ5N0yfR0GOIUfl",
              "type": "string"
            },
            {
              "id": "d6d50a69-8d15-4990-aa43-c34eb25e4546",
              "name": "=timestamp",
              "value": "={{ Math.floor(Date.now() / 1000) }}",
              "type": "number"
            },
            {
              "id": "d37851e8-b1cc-4b0c-9d9b-3b9c93678916",
              "name": "system_prompt",
              "value": "You are an expert in designing storyboards for picture books for 12-year-old children. Please create picture book content and divide it into independent storyboards based on the user's provided story.\n\nEach storyboard must include story narration and a corresponding scene description, suitable for a picture book layout. Please reply in **JSON format**, where each object must contain the following three properties:\n\n1.  **\"sequence\"**: The sequence number of the scene.\n2.  **\"paragraph\"**: The story content, presented in English.\n3.  **\"scene\"**: The scene description, presented in English, contains the following three sub-properties:\n    * **\"description\"**: A detailed description of the scene.\n    * **\"characters\"**: A description of the characters' appearances.\n    * **\"action\"**: A description of the characters' body movements.\n\n**Example Output:**\n\n```json\n[\n  {\n    \"sequence\": 1,\n    \"paragraph\": \"On a sunny day, the north wind and the sun met on the grass.\",\n    \"scene\": {\n      \"action\": \"The Sun smiles brightly while the North Wind puffs up his cheeks, creating a chilly breeze.\",\n      \"characters\": \"The Sun, personified as a cheerful, glowing character with a golden aura. The North Wind, depicted as a swirling, icy figure with a frosty appearance.\",\n      \"description\": \"A bright day with a clear blue sky and fluffy clouds. The sun shines warmly over a grassy field.\"\n    }\n  }\n]\n\n",
              "type": "string"
            },
            {
              "id": "798cfcb3-0f86-4efb-93a7-d7c4ae75d642",
              "name": "user_prompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "915613f9-1411-405f-bd5f-5fea7711ac0b",
              "name": "gen_char_prompt",
              "value": "You are an expert in designing initial visual appearances for characters and objects based on specific requirements. Your task is to analyze the provided story content and extract its key characters and important objects. For each identified character and object, you will generate a detailed visual description optimized for AI image generation.\n\nYour response must be in **JSON format** and structured as an array of objects. Each object will represent either a character or an object and must include the following attributes:\n\n1.  **\"name\"** (string): The clear, concise name of the character or object (e.g., \"Captain Kael\", \"The Obsidian Orb\").\n2.  **\"type\"** (string): Specify if it's a \"character\" or an \"object\".\n3.  **\"description\"** (string): This will be your main AI image prompt. Provide a comprehensive visual description.\n    * **For characters**: **Crucially, include all visible appearance details to ensure consistency across generations, such as:**\n        * **Skin tone** (e.g., fair, olive, dark brown)\n        * **Face shape** (e.g., oval, square, heart-shaped)\n        * **Hair style and color** (e.g., long wavy black hair, short spiky blonde hair)\n        * **Eye color and shape** (e.g., bright blue almond eyes)\n        * **Body build/type** (e.g., slender, muscular, average)\n        * **Specific facial features** (e.g., freckles, scar over left eye, prominent cheekbones)\n        * **Clothing style, patterns, and materials** (e.g., a flowing velvet robe with gold embroidery, worn denim jacket, sturdy leather boots)\n        * **Accessories or adornments** (e.g., a silver locket, intricate ear piercings, a utility belt with pouches)\n        * **Any visible items carried or held** (e.g., a staff carved with runes, an antique pocket watch)\n        * **Overall demeanor or expression** (e.g., a determined gaze, a mischievous smirk)\n    * **For objects**: Describe material, form, texture, state, and any defining details.\n\n```json\n[\n  {\n    \"name\": \"Captain Kael\",\n    \"type\": \"character\",\n    \"description\": \"A rugged male human, late 30s, with olive skin and a square jawline. He has a neatly trimmed dark brown beard and piercing bright blue almond eyes. His build is broad-shouldered and muscular. He wears a worn, dark brown leather trench coat with heavy brass buttons over a dark grey wool tunic, reinforced with tarnished steel pauldrons. A vintage brass compass hangs from a thick leather cord around his neck, and he has a deep, thin scar running down his right cheekbone. His sturdy leather boots are scuffed, and he carries a heavy iron-wood axe strapped to his back. His expression is resolute and slightly grim.\"\n  },\n  {\n    \"name\": \"The Obsidian Orb\",\n    \"type\": \"object\",\n    \"description\": \"A perfectly spherical orb, about 10 cm in diameter, crafted from highly polished obsidian. Its surface is incredibly smooth and reflects light with a deep, inky sheen, occasionally revealing subtle, swirling patterns within its depths. It emits a faint, cold, wispy mist that gently curls around its base.\"\n  }\n]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        200
      ],
      "id": "1ac22646-d9f6-453a-b587-c77ac6053c29",
      "name": "設定變數"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -440,
        60
      ],
      "id": "dc19505a-ed9b-474c-9601-fe86bbbdd7ec",
      "name": "Telegram Trigger",
      "webhookId": "b4e6115e-ad75-40c6-b7cd-bc1d7f81afc9",
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Action"
            },
            {
              "name": "RecordID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        1880
      ],
      "id": "3643146b-c7fa-4365-ada0-d86db98d0d65",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7704c244-855a-4d4e-ad63-f3a119200ecb",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "Start",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "SenceToVideo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33fee299-2cd3-4d03-9504-5be11d3f31af"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e173d0e-6efb-4a39-91f4-a387d58f4cfa",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "MergeVideo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f5aa4e5-c96a-44e1-bbfb-6b51c4433177",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "VerifyImage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -220,
        1860
      ],
      "id": "4181c8f0-df47-49e4-9025-666895e237fc",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ParentRecordID": "={{ $('When Executed by Another Workflow').item.json.RecordID }}",
            "Sequence": "={{ $('Loop Over Items1').item.json.Sequence }}",
            "AudioDuration": "={{ $('Get Status').item.json.data.audio_duration }}",
            "VideoPath": "={{ $('Get Status').item.json.data.videos[0] }}"
          },
          "matchingColumns": [
            "ParentRecordID",
            "Sequence"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1760,
        1760
      ],
      "id": "e9394c13-15e3-4ad2-bad4-177ab2e1e3f1",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/imagesubtitle",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"bgm_file\": \"\",\n    \"bgm_type\": \"random\",\n    \"bgm_volume\": 0.2,\n    \"font_name\": \"STHeitiMedium.ttc\",\n    \"font_size\": 60,\n    \"image_base64\": \"{{ $input.first().binary[\"data\"].data }}\",\n    \"stroke_color\": \"#000000\",\n    \"stroke_width\": 1.5,\n    \"subtitle_enabled\": \"true\",\n    \"subtitle_position\": \"bottom\",\n    \"text_background_color\": true,\n    \"text_fore_color\": \"#FFFFFF\",\n    \"video_language\": \"en-us\",\n    \"video_script\": \"{{ $json.Paragraph.replace(/\"/g, '\\\\\"') }}\",\n    \"video_source\": \"local\",\n    \"voice_name\": \"pollinations:coral\",\n    \"voice_rate\": 1.0,\n    \"voice_volume\": 1.0,\n    \"use_dynamic_effects\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        1680
      ],
      "id": "b3d1188e-4d71-4d40-a636-7dbf08d126d1",
      "name": "照片轉影片"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1100,
        1680
      ],
      "id": "bd824a85-8e93-4e8d-a32b-819a193aef07",
      "name": "Wait",
      "webhookId": "5e3ef7d9-8616-4a6c-9ce6-d1cb2e676a26"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        1580
      ],
      "id": "15e3103e-b70b-46ef-b2f6-22f3acace301",
      "name": "Get Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b6fe6d5-027e-40a6-b4a5-47333a06edd8",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        1680
      ],
      "id": "331ae5fe-6eb2-43c2-afbd-79cf1bc6663e",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/merge",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        2120
      ],
      "id": "ac64ae6d-34fc-48a5-922a-17641b01e452",
      "name": "最後的合併"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        660,
        2120
      ],
      "id": "5f20ecc7-46b9-4692-bbf8-71b7c39b485f",
      "name": "Wait1",
      "webhookId": "c319e2a1-214d-4306-adb5-a311cb990c79"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b6fe6d5-027e-40a6-b4a5-47333a06edd8",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        2120
      ],
      "id": "928d3559-f49b-4914-a4da-d50871353e18",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "=5513588652",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "c25c3fb0-5611-435a-9c11-d1a1af30707e",
      "name": "Send Analysis",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1540,
        2220
      ],
      "webhookId": "d8167853-07b6-49d5-a19f-48e66e15be71",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        2020
      ],
      "id": "6e47e805-ce40-48df-9290-e3d3fd4ac433",
      "name": "確認合併狀態"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "Start",
            "RecordID": "={{ $('建立主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2860,
        0
      ],
      "id": "f2c5f6d3-fb9c-4210-9e3f-b9369ae935e1",
      "name": "Start",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        220,
        1620
      ],
      "id": "c9442579-b30d-46eb-8566-0fed1ef2fa1d",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25124828-d738-4a6c-9554-f091cb606b9e",
              "name": "message.content",
              "value": "={{ $json.data }}\nGuidance: Disney 3D animation, Pixar-style rendering, stylized realism, soft lighting, detailed textures, expressive characters. A charming Disney 3D animation style, reminiscent of Pixar, featuring stylized yet realistic rendering, soft and inviting lighting, meticulously crafted textures, and highly expressive character designs.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        1280
      ],
      "id": "7428d3d3-0cf6-4366-a75d-e42c7c8fc350",
      "name": "設定風格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52dba29a-4770-485c-a792-ab67227c788a",
              "name": "=URL",
              "value": "=[\n    \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=xpJ5N0yfR0GOIUfl&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1280&height=720&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n    \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1280&height=720&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n    \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1280&height=720&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n    \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1280&height=720&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\"\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        1280
      ],
      "id": "bd76b1fe-1ad3-44b5-8a98-6047da58bacd",
      "name": "組合URL"
    },
    {
      "parameters": {
        "url": "={{ $json.PickedImage[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        1680
      ],
      "id": "be062bd7-baf2-4739-983f-cb91927d6082",
      "name": "取得圖檔"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "MergeVideo",
            "RecordID": "={{ $('When Executed by Another Workflow').item.json.RecordID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        1460
      ],
      "id": "eddfc38b-41e9-416c-a544-99a373cad98f",
      "name": "合併影片",
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e3ed24d1-3d28-467e-b191-5eea690ecc92"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd39ccd2-cd4a-4723-87a5-81a9246643a5",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -220,
        60
      ],
      "id": "41dfece4-11a9-4652-b74a-f72178402a81",
      "name": "指令切換"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "a57714e0-4123-419d-b62a-00c622b78fcc",
      "name": "故事內容"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.RecordID }}\"), ({VideoPath} = \"\")) ",
        "returnAll": false,
        "options": {
          "fields": [
            "PickedImage",
            "Paragraph",
            "Sequence"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "Sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        1620
      ],
      "id": "f652dedd-9edb-4140-bfc4-f95246aabca7",
      "name": "圖檔轉影片開始",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.RecordID }}\"), ({VideoPath} != \"\")) ",
        "options": {
          "fields": [
            "VideoPath"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "Sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        2120
      ],
      "id": "0eb0853f-31dc-44a5-8f7a-626ef97b0871",
      "name": "合併檔案開始",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($json.data.Contect) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('設定變數').item.json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms×"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "={{ encodeURIComponent($('設定變數').item.json.system_prompt) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        200
      ],
      "id": "b2177106-f1a4-4071-a94c-f5a9acaa31f9",
      "name": "產生分鏡",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($('設定變數').item.json.user_prompt) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('設定變數').item.json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=Please generate appropriate story content as requested and respond in JSON format as follows:\n{\n    \"Title\":[Story Title]\",\n    \"Contect\":[Story Content]\n}\n\nThe ending should be neutral, ambiguous, or directly related to the story's ending, without containing any grand philosophical exposition. Characters' actions and fates should reflect their motivations (e.g., self-interest, ambition, or specific goals), rather than being presented as allegories of moral behavior or broader moral lessons. Characters' successes or failures should stem directly from their choices and situations in the narrative, rather than from adherence to or deviation from universal moral good."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "id": "37582137-0732-495a-a82f-92bb1ee3d007",
      "name": "產生故事",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58a40198-eba4-48ab-b93c-d132444e0f96",
              "name": "data",
              "value": "={{ JSON.parse($input.first().json.data)  }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        300
      ],
      "id": "943d549c-ef9e-406c-971e-68b8048cd3d4",
      "name": "Convert To Object"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://text.pollinations.ai/openai?referrer=gxrrgj6t-443.asse.devtunnels.ms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messages\":\n    [\n        {\n            \"content\": {{ JSON.stringify($('設定變數').item.json.gen_char_prompt) }},\n            \"role\": \"system\"\n        },\n        {\n            \"content\": {{ JSON.stringify($('整理故事').item.json.data.Contect) }},\n            \"role\": \"user\"\n        }\n    ],\n    \"model\": \"openai\",\n    \"private\": false,\n    \"token\": \"{{ $('設定變數').item.json.pollinations_token }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        200
      ],
      "id": "7ad5f017-6f53-430c-95eb-fbf8ab88b7a5",
      "name": "設定人物及場景",
      "executeOnce": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawString = $('產生分鏡').first().json.data;// 獲取你的輸入字串\nconst startDelimiter = '```json\\n';\nconst endDelimiter = '\\n```'; // 注意：這裡的結束分隔符只包含換行和三個反引號\nconst startIndex = rawString.indexOf(startDelimiter);\nconst endIndex = rawString.indexOf(endDelimiter, startIndex); // 從開始分隔符之後尋找結束分隔符\nlet jsonString;\n\nif (startIndex !== -1 && endIndex !== -1) {\n    // 找到了開頭和結尾分隔符\n    // 從 '```json\\n' 的下一個字元開始，直到 '\\n```' 的前一個字元\n    jsonString = rawString.substring(startIndex + startDelimiter.length, endIndex);\n} else {\n    // 如果沒有找到特定的包裹格式，則假設整個字串就是 JSON\n    console.warn('String does not seem to be wrapped with \"```json\\\\n\" and \"\\\\n```\". Attempting direct parse.');\n    jsonString = rawString;\n}\ntry {\n    const jsonObject = JSON.parse(jsonString);\n    return jsonObject;\n} catch (e) {\n    throw new Error(`Failed to parse JSON. Raw string (or extracted part): \"${jsonString.substring(0, 200)}...\" Error: ${e.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        200
      ],
      "id": "0c63983f-9bca-4c49-85dc-9165e016092d",
      "name": "取得分鏡Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        1220
      ],
      "id": "859078b6-d469-44d3-a730-12b6fd6d8d70",
      "name": "步驟 - [生圖指令]"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "id": "={{ $('When Executed by Another Workflow').item.json.RecordID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        1220
      ],
      "id": "12f7671a-70fd-4477-8874-8b3c8626e054",
      "name": "取得主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2420,
        200
      ],
      "id": "77321ad1-d026-4efe-a0e3-6fa8ce883b90",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblmxMe7DDQGJk8AF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "故事內容": "={{ $('整理故事').item.json.data.Contect }}",
            "故事": "={{ $('整理故事').item.json.data.Title }}",
            "角色設定": "={{ $('設定人物及場景').item.json.choices[0].message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "故事",
              "displayName": "故事",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "故事內容",
              "displayName": "故事內容",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "角色設定",
              "displayName": "角色設定",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        200
      ],
      "id": "36f77cdf-0dbe-46a3-83e8-dbde683aaa2d",
      "name": "建立主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sequence": "={{ $json.sequence }}",
            "Paragraph": "={{ $json.paragraph }}",
            "Scene": "={{ JSON.stringify($json.scene) }}",
            "ParentRecordID": "={{ $('建立主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2640,
        200
      ],
      "id": "ee383f97-7d52-4836-8d86-b95edd653731",
      "name": "建立副檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.id }}\"), ({ImagePrompt} = \"\")) ",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        660,
        1220
      ],
      "id": "2fd66a30-01cc-41bd-9f40-912b404c5c1f",
      "name": "取得分鏡資料",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($json.Scene) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "xpJ5N0yfR0GOIUfl"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=You are an expert at creating English descriptions for AI image generation. Your output must align with the provided story's plot and content, specifically for a children's picture book suitable for 12-year-olds.\n\nThe story content is as follows:\n** Story start ** \n{{ encodeURIComponent($('取得主檔').item.json[\"故事內容\"]) }}\n** Story end ** \nThe page elements are defined as follows (if any elements are used, they must strictly follow these definitions for their descriptions). If there is more than one character, provide a complete and distinct visual description for EACH character to prevent distorted or inconsistent image generation:\n** Definitions start ** \n{{ encodeURIComponent($('取得主檔').item.json[\"角色設定\"]) }}\n** Definitions end ** \n*Provide only the English descriptions, with no additional replies or conversational fillers.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        1280
      ],
      "id": "472e6de2-0fbc-4196-b6ef-196874a4acee",
      "name": "產生圖檔描寫",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('逐步取出資料').item.json.id }}",
            "ImagePrompt": "={{ $('產生圖檔描寫').item.json.data }}",
            "Images": "=[\n    {\n        \"url\": \"{{$input.all()[0].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[1].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[2].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[3].json.URL}}\"\n    }\n]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2420,
        1300
      ],
      "id": "f4c8ebef-3d26-41c5-b22b-0bffe083430d",
      "name": "更新image",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        1220
      ],
      "id": "6265a42d-24ab-43ee-b2fa-a4ad37c0f1f5",
      "name": "逐步取出資料"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        2600
      ],
      "id": "5358914f-4f34-4f61-a38e-475d7223c4c0",
      "name": "步驟 - [檢查圖片]"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.id }}\"), ({ImagePrompt} != \"\"), {PickedImage} = \"\") ",
        "options": {
          "fields": [
            "Images"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        2600
      ],
      "id": "a536838c-b38e-4097-9c57-1dbea8d4abfb",
      "name": "取得圖檔資料",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1320,
        2620
      ],
      "id": "558cbc22-6830-4e87-a397-c85535eacc67",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1760,
        2620
      ],
      "id": "141eff3b-6616-430d-8ddd-eeac4ed76222",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.first().json.Images; // 獲取所有傳入的資料項目\nconst names = [];\n\n// 迭代每一個輸入項目，取出 'name' 屬性\nfor (const item of inputItems)\n{\n    names.push(item.thumbnails.large.url);\n}\n\n// 將收集到的 'name' 陣列封裝成 { \"name\": [...] } 的物件\nreturn [\n{\n    json:\n    {\n        image_url: names\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        2620
      ],
      "id": "5d629386-69e9-4c34-9102-822821a9fb97",
      "name": "取出縮圖做為後續判斷"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        2620
      ],
      "id": "19eb2467-0d39-4405-91b1-6ff225c143a7",
      "name": "取得縮圖圖檔"
    },
    {
      "parameters": {
        "jsCode": "const base64ImagesArray = []; // 用於存放所有 Base64 字串的陣列\n// 遍歷所有傳入 Code 節點的 Item\nfor (const item of $input.all()) {\n    // 檢查當前 Item 是否有二進位資料\n    if (item.binary && Object.keys(item.binary).length > 0) {\n        // 一個 Item 的 binary 物件可能有多個二進位檔案\n        for (const binaryKey in item.binary) {\n            // 確保是物件自身的屬性\n            if (Object.hasOwnProperty.call(item.binary, binaryKey)) {\n                const binaryFile = item.binary[binaryKey];\n                const dataBuffer = binaryFile.data; // 這是 n8n 內部表示的 Base64 編碼緩衝區字串\n\n                if (dataBuffer) {\n                    // 將 n8n 的二進位資料 (Base64 編碼的緩衝區字串) 轉換為真正的 Buffer\n                    // 然後再將 Buffer 轉換為 Base64 字串\n                    const base64String = Buffer.from(dataBuffer, 'base64').toString('base64');\n\n                    innImage_url = { \"url\": base64String }\n\n\n                    // 將結果推入陣列。你可以選擇只推入 Base64 字串，或一個包含更多資訊的物件。\n                    base64ImagesArray.push({\n                        image_url: { \"url\": \"data:\" + binaryFile.mimeType + \";base64,\" + base64String },\n                        \"type\": \"image_url\"\n                    });\n                }\n            }\n        }\n    }\n}\n\n// 返回一個包含 Base64 圖片陣列的單一 Item\nreturn [{\n    json: {\n        data: base64ImagesArray\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        2620
      ],
      "id": "395f3a6e-8978-4683-b4f9-2afdf8bb6e8a",
      "name": "批次組成ImageBase64",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('依序處理場景').item.json.id }}",
            "PickedImage": "=[\n    {\n        \"url\": \"{{ $('依序處理場景').item.json.Images[JSON.parse($json.choices[0].message.content).number - 1].url }}\"\n    }\n]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2420,
        2720
      ],
      "id": "00b3710b-e094-47aa-aea8-4622c1b70b81",
      "name": "只保留一張",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblmxMe7DDQGJk8AF"
        },
        "id": "={{ $json.RecordID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        2600
      ],
      "id": "b067489b-b4a3-4782-8c80-0a6e2cb649ae",
      "name": "取得故事主檔_VerifyImage",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        720
      ],
      "id": "f78ac709-0484-4f35-861b-44a959ed798a",
      "name": "依ID刪除故事",
      "webhookId": "54c58271-489f-42f7-9dbe-39e4e957a116"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        720
      ],
      "id": "3701df49-146b-48f6-b024-aa6462d2e5da",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=({ParentRecordID} = \"{{ $json.chatInput }}\")",
        "options": {
          "fields": [
            "PK"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -220,
        720
      ],
      "id": "a12ae03c-cfb3-4aee-98c3-79693eeb42d7",
      "name": "找出副檔備刪",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "id": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        760
      ],
      "id": "ca1b620d-5199-4557-b8ba-eb62a68462da",
      "name": "刪副檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblmxMe7DDQGJk8AF"
        },
        "id": "={{ $('依ID刪除故事').item.json.chatInput }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        560
      ],
      "id": "2b67dc57-36fe-47dc-87f6-cbb9682200bc",
      "name": "刪主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "URL",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1980,
        1280
      ],
      "id": "cb44ce98-6d34-4391-9845-b6727f1f35f7",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        1280
      ],
      "id": "9e67d0a7-4fd0-4934-98a3-2706911b05b6",
      "name": "建立圖檔",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "SenceToVideo",
            "RecordID": "={{ $('取得故事主檔_VerifyImage').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1320,
        2420
      ],
      "id": "85b1faaf-cf53-40b1-94ec-7411e298523f",
      "name": "轉影片1",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3c7c8ba2-3efb-48bc-8a00-162d20b02d41",
      "name": "[重做指令]"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "={{ $json.message.text.substring(1).split(' ')[0] }}",
            "RecordID": "={{ $json.message.text.substring(1).split(' ')[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "id": "d3ac9983-3ed9-4aea-88f6-a49c4eacda7c",
      "name": "重做指令",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        1180
      ],
      "id": "39f0ce32-9cf4-408e-b22e-6c4d7385f805",
      "name": "如果無資料待生圖"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        2600
      ],
      "id": "aac7c925-bcdb-44ff-8505-ecf74bfb18f0",
      "name": "如果無資料待生圖1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        1620
      ],
      "id": "05008326-5e43-452e-9a3b-0cb40783a9d7",
      "name": "如果無資料要轉影片"
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($json.user_prompt) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "0.8"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=Please confirm whether the input content is a complete story. Only the story name or story outline is not complete. If it is a complete story, please name the story. You will reply in Json format, as follows:\n{\n    \"IsFullStory\":[Is it a complete story, true or false],\n    \"Title\":\"[Story name]\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        200
      ],
      "id": "2463553d-2cbe-489a-bbc0-7fb881b4a0e4",
      "name": "是不是一個完整的故事",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f2b296b-72ce-4b56-b1e1-798553373cac",
              "leftValue": "={{ JSON.parse($json.data).IsFullStory  }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        200
      ],
      "id": "a81e793e-1375-45b1-ae14-06fba681c838",
      "name": "如果是完整故事"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c915e9d-6f8e-4469-bbcc-a31f1b427d31",
              "name": "data",
              "value": "={ \"Title\":\"{{ JSON.parse($json.data).Title  }}\", \"Contect\":{{ JSON.stringify($('設定變數').item.json.user_prompt) }} }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        100
      ],
      "id": "c4bd8da1-2035-4462-b4c4-98fa65894ae8",
      "name": "直接拿輸入為故事內容"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc846706-8a8a-4ced-b2f5-1a6caefabf2a",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        200
      ],
      "id": "ff1d2003-04ec-4620-8b7b-e856141fab7a",
      "name": "整理故事"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "VerifyImage",
            "RecordID": "={{ $('取得主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1540,
        1020
      ],
      "id": "cb89fdd1-08f2-45d6-ac62-c8e6de7e5d91",
      "name": "選圖檔",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0e75319-bce9-4fbd-812e-024892a120ad",
              "name": "gen_image_prompt",
              "value": "=You are an expert at creating English descriptions for AI image generation. Your output must align with the provided story's plot and content, specifically for a children's picture book suitable for 12-year-olds.\n\nThe story content is as follows:\nXXXX\n\nThe page elements are defined as follows (if any elements are used, they must strictly follow these definitions for their descriptions). If there is more than one character, provide a complete and distinct visual description for EACH character to prevent distorted or inconsistent image generation:\nYYYY\n\nProvide only the English descriptions, with no additional replies or conversational fillers.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        1220
      ],
      "id": "bd8140e2-f326-4a72-98d1-094eeceedafa",
      "name": "設定Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://text.pollinations.ai/openai?referrer=gxrrgj6t-443.asse.devtunnels.ms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messages\":\n    [\n        {\n            \"content\": \"你是擅長分辦風格為\\\"Guidance: Disney 3D animation, Pixar-style rendering, stylized realism, soft lighting, detailed textures, expressive characters. A charming Disney 3D animation style, reminiscent of Pixar, featuring stylized yet realistic rendering, soft and inviting lighting, meticulously crafted textures, and highly expressive character designs.\\\"的圖畫\",\n            \"role\": \"system\"\n        },\n        {\n            \"content\":\n            [\n                {\n                    \"text\": \"請挑選一張繪畫風格符合的圖片，若圖片中有人物，請挑選人物無缺陷且符合畫風的圖片。請以Json格式回覆，格式如下：{\\\"number\\\": [選中的第幾張圖片], \\\"reason\\\": [簡述選中的原因] }\",\n                    \"type\": \"text\"\n                },\n                {{ $json.data.map(item => item.toJsonString()) }}\n            ],\n            \"role\": \"user\"\n        }\n    ],\n    \"model\": \"openai\",\n    \"token\": \"xpJ5N0yfR0GOIUfl\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        2620
      ],
      "id": "02cbf950-e9fa-4275-b9ea-b21b35f82b7b",
      "name": "挑一張適合的圖檔11",
      "executeOnce": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "主要資料建立完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "64bfaeb2-fd98-4aa5-9b82-000e506cc636",
      "name": "Send Analysis1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2640,
        0
      ],
      "webhookId": "d8167853-07b6-49d5-a19f-48e66e15be71",
      "typeVersion": 1.2,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "圖檔建立完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a7fc562b-4357-4799-b271-b7ba0283179c",
      "name": "Send Analysis2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1320,
        1020
      ],
      "webhookId": "d8167853-07b6-49d5-a19f-48e66e15be71",
      "typeVersion": 1.2,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "選圖完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a27a6e5a-8729-4d95-8816-2ec1dd392335",
      "name": "Send Analysis3",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1100,
        2420
      ],
      "webhookId": "d8167853-07b6-49d5-a19f-48e66e15be71",
      "typeVersion": 1.2,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "圖轉影片完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "0d645ed9-c673-422e-9a75-ac627c38cec6",
      "name": "Send Analysis4",
      "type": "n8n-nodes-base.telegram",
      "position": [
        660,
        1460
      ],
      "webhookId": "d8167853-07b6-49d5-a19f-48e66e15be71",
      "typeVersion": 1.2,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblmxMe7DDQGJk8AF"
        },
        "id": "={{ $('When Executed by Another Workflow').item.json.RecordID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1320,
        2020
      ],
      "id": "6bea71ee-7719-4a66-a148-c12fac0d1189",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data.merged_video }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        2220
      ],
      "id": "4e7f0f13-f85b-4b0f-b4d9-a94894db3546",
      "name": "下載完成檔",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        2600
      ],
      "id": "3eaba620-a94e-4e2c-8026-919e55b1a623",
      "name": "依序處理場景"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all(); // 獲取所有傳入的資料項目\nconst names = [];\n\n// 迭代每一個輸入項目，取出 'name' 屬性\nfor (const item of inputItems) {\n  if (item.json && item.json.VideoPath) {\n    names.push(item.json.VideoPath);\n  }\n}\n\n// 將收集到的 'name' 陣列封裝成 { \"name\": [...] } 的物件\nreturn [{\n  json: {\n    video_sources: names\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        2120
      ],
      "id": "42f86de5-b50f-4966-89a6-be68f9d7a196",
      "name": "取得所有單一影音檔_2"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Action": "MergeVideo",
          "RecordID": "rec4nXEoH5HRxSv4B"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-30T11:41:00.000Z",
  "versionId": "f2b0ed4a-a782-4508-8aff-6a79f5f5e214"
}