workflows/HLC57q9n8FwZOtLf.json
{
  "active": false,
  "connections": {
    "取得掛單": {
      "main": [
        [
          {
            "node": "Get query4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得摃桿資料": {
      "main": [
        [
          {
            "node": "Get query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "目前持倉": {
      "main": [
        [
          {
            "node": "Get query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查詢逐全倉模式": {
      "main": [
        [
          {
            "node": "Get query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得可用餘額": {
      "main": [
        [
          {
            "node": "Get query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定變數": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "取得可用餘額",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "查詢逐全倉模式",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "目前持倉",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取得摃桿資料",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取得掛單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "設定變數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get query": {
      "main": [
        [
          {
            "node": "簽",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get query1": {
      "main": [
        [
          {
            "node": "簽1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get query2": {
      "main": [
        [
          {
            "node": "簽2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get query3": {
      "main": [
        [
          {
            "node": "簽3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get query4": {
      "main": [
        [
          {
            "node": "簽4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "簽": {
      "main": [
        [
          {
            "node": "Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "簽1": {
      "main": [
        [
          {
            "node": "Get1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "簽2": {
      "main": [
        [
          {
            "node": "Get2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "簽3": {
      "main": [
        [
          {
            "node": "Get3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "簽4": {
      "main": [
        [
          {
            "node": "Get4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        []
      ]
    },
    "Get1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-07-10T13:30:06.278Z",
  "id": "HLC57q9n8FwZOtLf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bingx查詢專用",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -240,
        -680
      ],
      "id": "9939d552-5ddd-43f5-bcac-088def05f8e6",
      "name": "取得掛單"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -240,
        -880
      ],
      "id": "c4b9831b-fd22-48b5-aeee-af98214e8595",
      "name": "取得摃桿資料"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -240,
        -1080
      ],
      "id": "9f95d690-2ff9-4f62-8890-286405a6ac3d",
      "name": "目前持倉"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -240,
        -1280
      ],
      "id": "ad68b310-c23c-4805-82b6-5be0c5b2c184",
      "name": "查詢逐全倉模式"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -240,
        -1480
      ],
      "id": "95844540-8158-4005-a526-14f3cf8e4f77",
      "name": "取得可用餘額"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f661117e-e789-475d-a243-4a26e52b63fe",
              "name": "apikey",
              "value": "TpFRJLqQoR1yB9zQkBLRLbDxPAviTNNWCYGA1cYUMfI6ZKSREJvlV5hY2UwcyNoCOGfIyZmIjn06rU94wvg",
              "type": "string"
            },
            {
              "id": "ad88ade5-ab89-40ff-9b20-fa3c2a2e1eb0",
              "name": "secretkey",
              "value": "iLbLQqrjDKdIXR74dvLH6F8aA1s5ONWJ38G8VEMcl2A5abqF8hJDqyM5ySroqmLHLgeu8Nah901t6rnA",
              "type": "string"
            },
            {
              "id": "dcd77125-b8db-44f2-8801-c380cdc1bb43",
              "name": "timestamp",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "9b7e610b-65b7-4cc3-83ba-2969ff73b6bb",
              "name": "recvWindow",
              "value": 100000,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        -1080
      ],
      "id": "673011ae-d741-4330-9f5a-e8e06b23610c",
      "name": "設定變數"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.action }}",
                    "rightValue": "=get_balance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "658d03ff-cd7d-44d4-aa46-83bfe0d306d5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5063f89-cdba-40d2-86ba-4f0c2859da3e",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.action }}",
                    "rightValue": "get_margintype",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "66c67b45-cbdc-4f9a-b862-c852aef40823",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.action }}",
                    "rightValue": "get_positions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "49029f28-e8d9-413c-9eb3-4589a32cd826",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.action }}",
                    "rightValue": "get_leverage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e47b2765-81e6-4245-b9f3-68050ee0a6fe",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.action }}",
                    "rightValue": "get_open_orders",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -460,
        -1120
      ],
      "id": "d243deaf-6b62-41aa-a293-206f25385cb5",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "symbol"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -900,
        -1080
      ],
      "id": "c50cc376-a96d-4597-a651-a5438de50a53",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "var keyworkflow = []\nvar kwysetting = [\"timestamp\"]\n\nvar para = []\nkwysetting.map(item=>{\n  para.push(item + \"=\" + encodeURIComponent($input.all()[0].json[item]))\n})\n\nkeyworkflow.map(item=>{\n  para.push(item + \"=\" + encodeURIComponent($('When Executed by Another Workflow').first().json[item]))\n})\n\n\ndata = para.join(\"&\")// + \"&recvWindow=10000\"\n\nreturn {\n  \"data\":data\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        -1480
      ],
      "id": "052bb45b-9a07-4038-b29d-386d8d87bb04",
      "name": "Get query"
    },
    {
      "parameters": {
        "jsCode": "var keyworkflow = [\"symbol\"]\nvar kwysetting = [\"timestamp\"]\n\nvar para = []\nkwysetting.map(item=>{\n  para.push(item + \"=\" + encodeURIComponent($input.all()[0].json[item]))\n})\n\nkeyworkflow.map(item=>{\n  para.push(item + \"=\" + encodeURIComponent($('When Executed by Another Workflow').first().json[item]))\n})\n\n\ndata = para.join(\"&\")\n\nreturn {\n  \"data\":data\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        -1280
      ],
      "id": "b1683d4b-13dd-4560-83c5-33c07e74b709",
      "name": "Get query1"
    },
    {
      "parameters": {
        "jsCode": "var keyworkflow = []\nvar kwysetting = [\"timestamp\"]\n\nvar para = []\nkwysetting.map(item=>{\n  para.push(item + \"=\" + encodeURIComponent($input.all()[0].json[item]))\n})\n\nkeyworkflow.map(item=>{\n  para.push(item + \"=\" + encodeURIComponent($('When Executed by Another Workflow').first().json[item]))\n})\n\n\ndata = para.join(\"&\")// + \"&recvWindow=10000\"\n\nreturn {\n  \"data\":data\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        -1080
      ],
      "id": "90bc87d3-5288-4d84-aff7-6e4bca2151f3",
      "name": "Get query2"
    },
    {
      "parameters": {
        "jsCode": "var keyworkflow = [\"symbol\"]\nvar kwysetting = [\"timestamp\"]\n\nvar para = []\nkwysetting.map(item=>{\n  para.push(item + \"=\" + encodeURIComponent($input.all()[0].json[item]))\n})\n\nkeyworkflow.map(item=>{\n  para.push(item + \"=\" + encodeURIComponent($('When Executed by Another Workflow').first().json[item]))\n})\n\n\ndata = para.join(\"&\")\n\nreturn {\n  \"data\":data\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        -880
      ],
      "id": "73adb4e1-3763-485f-b337-87069e6172ac",
      "name": "Get query3"
    },
    {
      "parameters": {
        "jsCode": "var keyworkflow = [\"symbol\"]\nvar kwysetting = [\"timestamp\"]\n\nvar para = []\nkwysetting.map(item=>{\n  para.push(item + \"=\" + encodeURIComponent($input.all()[0].json[item]))\n})\n\nkeyworkflow.map(item=>{\n  para.push(item + \"=\" + encodeURIComponent($('When Executed by Another Workflow').first().json[item]))\n})\n\n\ndata = para.join(\"&\")\n\nreturn {\n  \"data\":data\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        -680
      ],
      "id": "92ce17d2-2bbb-4a25-8b13-4b7344523700",
      "name": "Get query4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PtM1hcbyctDi76QQ",
          "mode": "list",
          "cachedResultName": "hmacsha256"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "secretkey": "={{ $('設定變數').item.json.secretkey }}",
            "message": "={{ $json.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "secretkey",
              "displayName": "secretkey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        200,
        -1480
      ],
      "id": "c2940393-3033-4378-a95d-c792b51e7a4b",
      "name": "簽"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PtM1hcbyctDi76QQ",
          "mode": "list",
          "cachedResultName": "hmacsha256"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "secretkey": "={{ $('設定變數').item.json.secretkey }}",
            "message": "={{ $json.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "secretkey",
              "displayName": "secretkey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        200,
        -1280
      ],
      "id": "45fec0a3-0b06-4a75-8ec0-290a858bcf67",
      "name": "簽1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PtM1hcbyctDi76QQ",
          "mode": "list",
          "cachedResultName": "hmacsha256"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "secretkey": "={{ $('設定變數').item.json.secretkey }}",
            "message": "={{ $json.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "secretkey",
              "displayName": "secretkey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        200,
        -1080
      ],
      "id": "3427aad2-f59b-45a8-a02c-b0cf2a9d10c6",
      "name": "簽2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PtM1hcbyctDi76QQ",
          "mode": "list",
          "cachedResultName": "hmacsha256"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "secretkey": "={{ $('設定變數').item.json.secretkey }}",
            "message": "={{ $json.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "secretkey",
              "displayName": "secretkey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        200,
        -880
      ],
      "id": "7df6cc26-ef84-47c9-94ce-71c4ffefeb0b",
      "name": "簽3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PtM1hcbyctDi76QQ",
          "mode": "list",
          "cachedResultName": "hmacsha256"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "secretkey": "={{ $('設定變數').item.json.secretkey }}",
            "message": "={{ $json.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "secretkey",
              "displayName": "secretkey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        200,
        -680
      ],
      "id": "2ccb4486-34fd-4d9f-9ad4-b0ba02d8a4a7",
      "name": "簽4"
    },
    {
      "parameters": {
        "url": "=https://open-api.bingx.com/openApi/swap/v2/user/balance",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timestamp",
              "value": "={{ $('設定變數').item.json.timestamp }}"
            },
            {
              "name": "signature",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-BX-APIKEY",
              "value": "={{ $('設定變數').item.json.apikey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -1480
      ],
      "id": "20f7601f-7f29-4179-9234-ee5a9bc00ab0",
      "name": "Get"
    },
    {
      "parameters": {
        "url": "=https://open-api-vst.bingx.com/openApi/swap/v2/trade/marginType",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timestamp",
              "value": "={{ $('設定變數').item.json.timestamp }}"
            },
            {
              "name": "signature",
              "value": "={{ $json.data }}"
            },
            {
              "name": "symbol",
              "value": "={{ $('When Executed by Another Workflow').item.json.symbol }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-BX-APIKEY",
              "value": "={{ $('設定變數').item.json.apikey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -1280
      ],
      "id": "9155cbf7-3f2d-4d72-a348-6488493c7183",
      "name": "Get1"
    },
    {
      "parameters": {
        "url": "=https://open-api-vst.bingx.com/openApi/swap/v2/user/positions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timestamp",
              "value": "={{ $('設定變數').item.json.timestamp }}"
            },
            {
              "name": "signature",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-BX-APIKEY",
              "value": "={{ $('設定變數').item.json.apikey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -1080
      ],
      "id": "c8b7137b-9f60-46cd-a3d4-87743611dcc5",
      "name": "Get2"
    },
    {
      "parameters": {
        "url": "=https://open-api-vst.bingx.com/openApi/swap/v2/trade/leverage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timestamp",
              "value": "={{ $('設定變數').item.json.timestamp }}"
            },
            {
              "name": "signature",
              "value": "={{ $json.data }}"
            },
            {
              "name": "symbol",
              "value": "={{ $('When Executed by Another Workflow').item.json.symbol }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-BX-APIKEY",
              "value": "={{ $('設定變數').item.json.apikey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -880
      ],
      "id": "1607cbb9-c116-4591-bd19-ae7226a82790",
      "name": "Get3"
    },
    {
      "parameters": {
        "url": "=https://open-api-vst.bingx.com/openApi/swap/v2/trade/openOrders",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timestamp",
              "value": "={{ $('設定變數').item.json.timestamp }}"
            },
            {
              "name": "signature",
              "value": "={{ $json.data }}"
            },
            {
              "name": "symbol",
              "value": "={{ $('When Executed by Another Workflow').item.json.symbol }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-BX-APIKEY",
              "value": "={{ $('設定變數').item.json.apikey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -680
      ],
      "id": "210d72e4-861a-40bd-805b-8fb9e1c66b71",
      "name": "Get4"
    },
    {
      "parameters": {
        "content": "# 工具名稱: BingxTool_GET\n\n**工具描述**: 用於所有與查詢相關操作的專用工具，包括查詢帳戶資訊、掛單、持資料\n\n---\n\n### 功能 (Actions)\n\n#### 1. get_balance (查詢可用餘額)\n- **功能描述**: 獲取帳戶中可用於開倉的保證金餘額 (USDT)。\n- **`action` 參數**: `get_balance`\n- **輸入參數**: 無\n\n---\n\n#### 2. get_margintype (查詢持倉模式)\n- **功能描述**: 獲取當前指定交易對的持倉模式（逐倉或全倉）。\n- **`action` 參數**: `get_margintype`\n- **輸入參數**:\n| 參數 | 類型 | 是否必要 | 說明 |\n| :--- | :--- | :--- | :--- |\n| `symbol` | String | 是 | 交易對，格式為 \"BTC-USDT\" |\n---\n\n\n#### 3. get_positions (查詢目前持倉)\n- **功能描述**: 獲取當前所有持有的倉位詳細資料。\n- **`action` 參數**: `get_positions`\n- **輸入參數**: 無\n\n---\n\n#### 4. get_leverage (查詢目前槓桿)\n- **功能描述**: 查詢指定交易對目前的槓桿設定。\n- **`action` 參數**: `get_leverage`\n- **輸入參數**:\n| 參數 | 類型 | 是否必要 | 說明 |\n| :--- | :--- | :--- | :--- |\n| `symbol` | String | 是 | 交易對，格式為 \"BTC-USDT\" |\n\n---\n\n#### 5. get_open_orders (取得目前掛單)\n- **功能描述**: 根據指定的交易對，獲取所有尚未成交的掛單。\n- **`action` 參數**: `get_open_orders`\n- **輸入參數**:\n| 參數 | 類型 | 是否必要 | 說明 |\n| :--- | :--- | :--- | :--- |\n| `symbol` | String | 是 | 交易對，格式為 \"BTC-USDT\" |\n",
        "height": 1200,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1420,
        -1600
      ],
      "id": "c604c513-1fc1-41d7-90da-1c9a2f993451",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "action": "get_balance",
          "symbol": "BTC-USDT"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-10T14:46:17.000Z",
  "versionId": "234bb753-cd9a-4ec1-ad79-1054570eaea8"
}