workflows/JUQA7DnxNAgwipKc.json
{
  "active": false,
  "connections": {
    "設定變數": {
      "main": [
        [
          {
            "node": "產生分鏡",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "指令切換",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "建立資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "生圖指令開始",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "圖檔轉影片開始",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "合併檔案開始",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "預先建圖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "照片轉影片": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立資料": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生繪畫提示詞": {
      "main": [
        [
          {
            "node": "設定風格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "轉影片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "產生繪畫提示詞",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最後的合併": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "確認合併狀態",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "最後的合併1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "確認合併狀態": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得所有單一影音檔": {
      "main": [
        [
          {
            "node": "最後的合併",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最後的合併1": {
      "main": [
        [
          {
            "node": "Send Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生分鏡": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        []
      ]
    },
    "組合故事": {
      "main": [
        [
          {
            "node": "英文故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取出未產生圖片Prompt的資料": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生人及物的描寫": {
      "main": [
        [
          {
            "node": "取出Json物件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新image prompt": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "合併影片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取得圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定風格": {
      "main": [
        [
          {
            "node": "組合URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "英文故事": {
      "main": [
        [
          {
            "node": "產生人及物的描寫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取出Json物件": {
      "main": [
        [
          {
            "node": "取出未產生圖片Prompt的資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組合URL": {
      "main": [
        [
          {
            "node": "更新image prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "PreloadImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔": {
      "main": [
        [
          {
            "node": "照片轉影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指令切換": {
      "main": [
        [
          {
            "node": "[生圖指令] - Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[圖片轉影片] - SenceToVideo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[合併影音] - MergeVideo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "故事內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "故事內容": {
      "main": [
        [
          {
            "node": "設定變數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生圖指令開始": {
      "main": [
        [
          {
            "node": "組合故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "圖檔轉影片開始": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合併檔案開始": {
      "main": [
        [
          {
            "node": "取得所有單一影音檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "預先建圖": {
      "main": [
        [
          {
            "node": "產生繪本圖檔",
            "type": "main",
            "index": 0
          },
          {
            "node": "產生繪本圖檔1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[生圖指令] - Start": {
      "main": [
        [
          {
            "node": "生圖指令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[圖片轉影片] - SenceToVideo": {
      "main": [
        [
          {
            "node": "圖片轉影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[合併影音] - MergeVideo": {
      "main": [
        [
          {
            "node": "合併影音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-06T08:12:07.662Z",
  "id": "JUQA7DnxNAgwipKc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "繪本第四版",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f92a3dc-22d5-466e-b1f8-69c0045055ff",
              "name": "pollinations_token",
              "value": "v58NNo7fauiWtBsS",
              "type": "string"
            },
            {
              "id": "35968b04-2ff7-466a-a8e8-c23328032958",
              "name": "seed",
              "value": "={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}",
              "type": "string"
            },
            {
              "id": "d6d50a69-8d15-4990-aa43-c34eb25e4546",
              "name": "=timestamp",
              "value": "={{ Math.floor(Date.now() / 1000) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        -460
      ],
      "id": "5d367f6c-09cd-4012-833e-777643405d17",
      "name": "設定變數"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1900,
        -760
      ],
      "id": "c844deed-bbf6-4cd4-bf40-42aea6531df0",
      "name": "Telegram Trigger",
      "webhookId": "e7b74356-3576-4813-ab07-06dfff533637",
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawString = $input.first().json.message.content;// 獲取你的輸入字串\nconst startDelimiter = '```json\\n';\nconst endDelimiter = '\\n```'; // 注意：這裡的結束分隔符只包含換行和三個反引號\nconst startIndex = rawString.indexOf(startDelimiter);\nconst endIndex = rawString.indexOf(endDelimiter, startIndex); // 從開始分隔符之後尋找結束分隔符\nlet jsonString;\n\nif (startIndex !== -1 && endIndex !== -1) {\n    // 找到了開頭和結尾分隔符\n    // 從 '```json\\n' 的下一個字元開始，直到 '\\n```' 的前一個字元\n    jsonString = rawString.substring(startIndex + startDelimiter.length, endIndex);\n} else {\n    // 如果沒有找到特定的包裹格式，則假設整個字串就是 JSON\n    console.warn('String does not seem to be wrapped with \"```json\\\\n\" and \"\\\\n```\". Attempting direct parse.');\n    jsonString = rawString;\n}\ntry {\n    const jsonObject = JSON.parse(jsonString);\n    return jsonObject;\n} catch (e) {\n    throw new Error(`Failed to parse JSON. Raw string (or extracted part): \"${jsonString.substring(0, 200)}...\" Error: ${e.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -644,
        -460
      ],
      "id": "e3b4f7b5-b310-46d3-a0d3-42908c0cbad5",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "timestamp",
              "type": "number"
            },
            {
              "name": "seed",
              "type": "number"
            },
            {
              "name": "url"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1900,
        650
      ],
      "id": "9687eecc-e581-4fcf-ace0-eccff5931e1f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7704c244-855a-4d4e-ad63-f3a119200ecb",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "Start",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "SenceToVideo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33fee299-2cd3-4d03-9504-5be11d3f31af"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e173d0e-6efb-4a39-91f4-a387d58f4cfa",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "MergeVideo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3d46424c-7b61-4c39-abc9-ffc7e839bdda",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "PreLoadImage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1680,
        629
      ],
      "id": "45a0a422-92b3-4a77-b529-48988dc33dae",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appwEAXL3NashY3Ju",
          "mode": "list",
          "cachedResultName": "繪本",
          "cachedResultUrl": "https://airtable.com/appwEAXL3NashY3Ju"
        },
        "table": {
          "__rl": true,
          "value": "tblvWlgKBc1cHUW6y",
          "mode": "list",
          "cachedResultName": "001",
          "cachedResultUrl": "https://airtable.com/appwEAXL3NashY3Ju/tblvWlgKBc1cHUW6y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('When Executed by Another Workflow').item.json.timestamp }}",
            "audio_duration": "={{ $json.data.audio_duration }}",
            "paragraph": "={{ $('取得圖檔').item.json.paragraph }}",
            "video_path": "={{ $json.data.videos.first() }}"
          },
          "matchingColumns": [
            "timestamp",
            "paragraph"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "sequence",
              "displayName": "sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "paragraph",
              "displayName": "paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene",
              "displayName": "scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video_path",
              "displayName": "video_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "audio_duration",
              "displayName": "audio_duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        314,
        500
      ],
      "id": "b0a0c4d5-41a5-490d-b350-feefa75491ff",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/imagesubtitle",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"bgm_file\": \"\",\n    \"bgm_type\": \"random\",\n    \"bgm_volume\": 0.2,\n    \"font_name\": \"STHeitiMedium.ttc\",\n    \"font_size\": 60,\n    \"image_base64\": \"{{ $input.first().binary[\"data\"].data }}\",\n    \"stroke_color\": \"#000000\",\n    \"stroke_width\": 1.5,\n    \"subtitle_enabled\": \"true\",\n    \"subtitle_position\": \"bottom\",\n    \"text_background_color\": true,\n    \"text_fore_color\": \"#FFFFFF\",\n    \"video_language\": \"zh-tw\",\n    \"video_script\": \"{{ $json.paragraph }}\",\n    \"video_source\": \"local\",\n    \"voice_name\": \"azure-openai:nova\",\n    \"voice_rate\": 1.0,\n    \"voice_volume\": 1.0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -722,
        425
      ],
      "id": "2cf9df18-6382-4c35-8af1-19c46dcdbffc",
      "name": "照片轉影片"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -424,
        425
      ],
      "id": "916cd9e6-ed7c-4ef3-b369-7420d4fb0e64",
      "name": "Wait",
      "webhookId": "d2e80362-d820-40dc-a1c9-4675aa4e97b9"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -204,
        325
      ],
      "id": "8c94096c-16c3-4e77-a58a-3b17129a0713",
      "name": "Get Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b6fe6d5-027e-40a6-b4a5-47333a06edd8",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        425
      ],
      "id": "6986254e-9744-420b-8cf0-a79338cacdfc",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appwEAXL3NashY3Ju",
          "mode": "list",
          "cachedResultName": "繪本",
          "cachedResultUrl": "https://airtable.com/appwEAXL3NashY3Ju"
        },
        "table": {
          "__rl": true,
          "value": "tblvWlgKBc1cHUW6y",
          "mode": "list",
          "cachedResultName": "001",
          "cachedResultUrl": "https://airtable.com/appwEAXL3NashY3Ju/tblvWlgKBc1cHUW6y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('設定變數').item.json.timestamp }}",
            "scene": "={{ JSON.stringify($json.scene) }}",
            "paragraph": "={{ $json.paragraph }}",
            "sequence": "={{ $json.sequence }}"
          },
          "matchingColumns": [
            "timestamp",
            "paragraph"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "sequence",
              "displayName": "sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "paragraph",
              "displayName": "paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene",
              "displayName": "scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "vodeo_path",
              "displayName": "vodeo_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "audio_duration",
              "displayName": "audio_duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -424,
        -460
      ],
      "id": "73b31fed-6823-438b-b00f-efd7c799ea89",
      "name": "建立資料",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert at creating English descriptions for AI image generation. Your output must align with the story's plot and content, specifically for a children's picture book suitable for 12-year-olds. The story is as follows.\n {{ $json.paragraph }}\n\nThe page elements are defined as follows:\nIf any elements are used, please refer to the element definition for a description.\n{{ $('取出Json物件').item.json.response }}\n\n Provide only the English descriptions, no additional replies. ",
              "role": "system"
            },
            {
              "content": "=Please generate prompt words according to the following scene.\n{{ $json.scene }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        236,
        0
      ],
      "id": "615a30ac-fdae-456b-b6c6-3444ac04faa5",
      "name": "產生繪畫提示詞",
      "credentials": {
        "openAiApi": {
          "id": "5ibry7EtqlW5Ub8k",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        0
      ],
      "id": "49b102f8-714c-44ea-aa93-c725b9ce07e1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/merge",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1020,
        850
      ],
      "id": "83920506-6933-4793-bd66-f88f46712e73",
      "name": "最後的合併"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -722,
        850
      ],
      "id": "03bf90cc-54d5-43f0-a848-b6af286ee928",
      "name": "Wait1",
      "webhookId": "d9730284-caab-4cf4-b167-5a58937a782a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b6fe6d5-027e-40a6-b4a5-47333a06edd8",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -204,
        850
      ],
      "id": "3ef5b43a-3099-4e1b-b260-249d246f04b2",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "=5513588652",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "a325b955-619c-4a24-91fb-25f1b5ba230e",
      "name": "Send Analysis",
      "type": "n8n-nodes-base.telegram",
      "position": [
        314,
        850
      ],
      "webhookId": "9d41cc63-14f4-4fa5-9304-445d40481186",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -424,
        775
      ],
      "id": "2c9a7748-3b0b-4d00-bf04-631cdd13d732",
      "name": "確認合併狀態"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all(); // 獲取所有傳入的資料項目\nconst names = [];\n\n// 迭代每一個輸入項目，取出 'name' 屬性\nfor (const item of inputItems) {\n  if (item.json && item.json.video_path) {\n    names.push(item.json.video_path);\n  }\n}\n\n// 將收集到的 'name' 陣列封裝成 { \"name\": [...] } 的物件\nreturn [{\n  json: {\n    video_sources: names\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1240,
        850
      ],
      "id": "29b1b157-15f6-4f86-99ab-c6d979f1b678",
      "name": "取得所有單一影音檔"
    },
    {
      "parameters": {
        "url": "={{ $json.data.merged_video }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        850
      ],
      "id": "ee59856d-4051-4cfb-ab7e-67c31bca3689",
      "name": "最後的合併1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "你是一位擅長為12歲兒童設計繪本分鏡的專家。請根據使用者提供的需求，創作繪本內容並將其拆分為獨立的分鏡。每個分鏡都應該包含故事的敘述和對應的場景描述，適合繪本的排版。請以 **JSON 格式** 回覆，且每個物件都必須包含以下兩個屬性：\n\n1.  **\"sequence\"**: 場景順序。\n2.  **\"paragraph\"**: 故事內容，以中文呈現，適合12歲兒童閱讀。\n3.  **\"scene\"**: 場景描述，以英文呈現，包含以下子屬性：\n    * **\"description\"**: 場景的詳細描述。\n    * **\"characters\"**: 人物的外觀描述。\n    * **\"action\"**: 人物的肢體動作。\n\n**輸出範例：**\n```json\n[\n  {\n    \"sequence\": 1,\n    \"paragraph\": \"在一個陽光明媚的日子裡，北風和太陽在草地上相遇\",\n    \"scene\": {\n      \"action\": \"The Sun smiles brightly while the North Wind puffs up his cheeks, creating a chilly breeze.\",\n      \"characters\": \"The Sun, personified as a cheerful, glowing character with a golden aura. The North Wind, depicted as a swirling, icy figure with a frosty appearance.\",\n      \"description\": \"A bright day with a clear blue sky and fluffy clouds. The sun shines warmly over a grassy field.\"\n    }\n  }\n]\n\nThe story must not conclude with any moral lessons, uplifting messages, or calls to action regarding kindness, altruism, or societal betterment. The ending should be neutral, ambiguous, or directly related to the plot's resolution without any overarching philosophical statements. Characters' actions and fates should reflect their motivations (e.g., self-interest, ambition, or specific goals), not serve as a parable for ethical behavior or broader moral lessons. Their success or failure should stem directly from their choices and circumstances within the narrative, not from adherence to or deviation from universal moral good.",
              "role": "system"
            },
            {
              "content": "=請產生故事：{{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1020,
        -460
      ],
      "id": "e6fd1c66-10c3-4093-adfb-6a65e443d448",
      "name": "產生分鏡",
      "credentials": {
        "openAiApi": {
          "id": "5ibry7EtqlW5Ub8k",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "You're an expert at designing the initial visual appearance of characters and objects based on specific requirements.\n\nYour response must be in JSON format in English.\nThe JSON should be an array of objects. Each object will represent either a character or an object and must include the following attributes:\nname (string): The clear name of the character or object (e.g., \"Captain Kael\", \"The Obsidian Orb\").\ntype (string): Specify if it's a \"character\" or an \"object\".\ndescription (string): This is your main AI image prompt. Provide a comprehensive visual description covering physical attributes, clothing, accessories, unique features, and any relevant demeanor for characters. For objects, describe material, form, texture, state, and any defining details. \n\nYour task is to analyze the provided story content and extract its key characters and important objects. For each identified character and object, you'll generate a detailed visual description, optimized for AI image generation.\n\n",
              "role": "system"
            },
            {
              "content": "={{ $('組合故事').item.json.response }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -800,
        0
      ],
      "id": "3a0eff16-7d2f-4470-a007-79ecb4eec03e",
      "name": "產生人及物的描寫",
      "credentials": {
        "openAiApi": {
          "id": "5ibry7EtqlW5Ub8k",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "Start",
            "timestamp": "={{ $('設定變數').item.json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -204,
        -460
      ],
      "id": "1d44fcf7-cf65-4e86-9dce-a032c69544c2",
      "name": "Start",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet combinedString = '';\nconst stringsToCombine = [];\n\nfor (const item of items) {\n  if (item.json && item.json.paragraph) {\n    stringsToCombine.push(item.json.paragraph);\n  }\n}\n\ncombinedString = stringsToCombine.join(' ');\n\nreturn { response:  combinedString};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1240,
        0
      ],
      "id": "c967f330-8a7a-4e75-904f-1e6d73b0de04",
      "name": "組合故事"
    },
    {
      "parameters": {
        "jsCode": "const items = $('生圖指令開始').all();\n\nconst stringsToCombine = [];\n\nfor (const item of items) {\n  if (item.json && !item.json.image_prompt) {\n    stringsToCombine.push(item.json);\n  }\n}\n\nreturn stringsToCombine;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -204,
        0
      ],
      "id": "6dff4333-c138-4f80-8ae9-cb025f28feef",
      "name": "取出未產生圖片Prompt的資料"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appwEAXL3NashY3Ju",
          "mode": "list",
          "cachedResultName": "繪本",
          "cachedResultUrl": "https://airtable.com/appwEAXL3NashY3Ju"
        },
        "table": {
          "__rl": true,
          "value": "tblvWlgKBc1cHUW6y",
          "mode": "list",
          "cachedResultName": "001",
          "cachedResultUrl": "https://airtable.com/appwEAXL3NashY3Ju/tblvWlgKBc1cHUW6y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Loop Over Items').item.json.timestamp }}",
            "paragraph": "={{ $('Loop Over Items').item.json.paragraph }}",
            "image_prompt": "={{ $('設定風格').item.json.message.content }}",
            "image_url": "={{ $json.URL }}&seed={{ $json.seed }}",
            "image_url_1": "={{ $json.URL }}&seed={{ $json.seed + 1 }}"
          },
          "matchingColumns": [
            "timestamp",
            "paragraph"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "sequence",
              "displayName": "sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "paragraph",
              "displayName": "paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene",
              "displayName": "scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image_url_1",
              "displayName": "image_url_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video_path",
              "displayName": "video_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "audio_duration",
              "displayName": "audio_duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1052,
        175
      ],
      "id": "9c57103c-176b-4bcc-834b-b1a832edb91e",
      "name": "更新image prompt",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1240,
        425
      ],
      "id": "998b3759-7a8c-464d-b6f8-6e6bac474a05",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25124828-d738-4a6c-9554-f091cb606b9e",
              "name": "message.content",
              "value": "={{ $json.message.content }}\nGuidance: Disney 3D animation, Pixar-style rendering, stylized realism, soft lighting, detailed textures, expressive characters. A charming Disney 3D animation style, reminiscent of Pixar, featuring stylized yet realistic rendering, soft and inviting lighting, meticulously crafted textures, and highly expressive character designs.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        612,
        0
      ],
      "id": "a4c571bf-81d3-4599-a28b-8c9ced2feeed",
      "name": "設定風格"
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent( 'Please translate the following story from Chinese into English.\\\\n' + $json.response) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1020,
        0
      ],
      "id": "5d02e07a-25b5-455c-9ea2-727ca8bc69a5",
      "name": "英文故事",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawString = $input.first().json.message.content; // 獲取你的輸入字串\nconst startDelimiter = '```json\\n';\nconst endDelimiter = '\\n```'; // 注意：這裡的結束分隔符只包含換行和三個反引號\nconst startIndex = rawString.indexOf(startDelimiter);\nconst endIndex = rawString.indexOf(endDelimiter, startIndex); // 從開始分隔符之後尋找結束分隔符\nlet jsonString;\n\nif (startIndex !== -1 && endIndex !== -1) {\n    // 找到了開頭和結尾分隔符\n    // 從 '```json\\n' 的下一個字元開始，直到 '\\n```' 的前一個字元\n    jsonString = rawString.substring(startIndex + startDelimiter.length, endIndex);\n} else {\n    // 如果沒有找到特定的包裹格式，則假設整個字串就是 JSON\n    console.warn('String does not seem to be wrapped with \"```json\\\\n\" and \"\\\\n```\". Attempting direct parse.');\n    jsonString = rawString;\n}\ntry {\n    const jsonObject = JSON.parse(jsonString);\n    return [{\n        json: {\n            response: JSON.stringify(jsonObject)\n        }\n    }];\n} catch (e) {\n    throw new Error(`Failed to parse JSON. Raw string (or extracted part): \"${jsonString.substring(0, 200)}...\" Error: ${e.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -424,
        0
      ],
      "id": "bace97ac-1631-4890-8c42-31ba160174b0",
      "name": "取出Json物件"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52dba29a-4770-485c-a792-ab67227c788a",
              "name": "=URL",
              "value": "=https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1024&height=768&nologo=true&model=flux",
              "type": "string"
            },
            {
              "id": "f011a46a-cdac-4c15-9581-4b9e8d668b6f",
              "name": "seed",
              "value": "={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "16b91175-40a0-450d-9b0f-8d35096cf58b",
      "name": "組合URL"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1020,
        425
      ],
      "id": "3062ebb5-5729-467c-b545-da91c220cf2a",
      "name": "取得圖檔"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "SenceToVideo",
            "timestamp": "={{ $('設定變數').item.json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        314,
        -200
      ],
      "id": "409c2a0c-5176-4208-bbfb-4d5a7ef7aaf4",
      "name": "轉影片",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "SenceToVideo",
            "timestamp": "={{ $json.fields.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1020,
        225
      ],
      "id": "e717632f-5e2d-4c55-9bd7-36ea34481fda",
      "name": "合併影片",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}&seed={{ $json.seed }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1240,
        1050
      ],
      "id": "d6cf2507-9150-42fe-a641-5938c838815c",
      "name": "產生繪本圖檔",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "PreLoadImage",
            "timestamp": "={{ $('取出未產生圖片Prompt的資料').item.json.timestamp }}",
            "seed": "={{ $json.seed }}",
            "url": "={{ $json.URL }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "seed",
              "displayName": "seed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1052,
        -50
      ],
      "id": "e6db19d5-f230-4092-bde7-17774cdea105",
      "name": "PreloadImage",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}&seed={{ $json.seed +1}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1240,
        1250
      ],
      "id": "3b9028fe-3384-4ae1-b17a-a6cc03dbc6e2",
      "name": "產生繪本圖檔1",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/Start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e3ed24d1-3d28-467e-b191-5eea690ecc92"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32215663-79a0-485b-b173-d4d93dd8a891",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/SenceToVideo",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9fbd10d-8a19-4f35-a4d9-36d818d1342e",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/MergeVideo",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5ec6cf6a-169d-4bba-b155-53da1c3811db",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1680,
        -780
      ],
      "id": "5c04cb35-ebe5-4387-82c2-3c29e2a14ae2",
      "name": "指令切換"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -460
      ],
      "id": "1d18e9cf-be27-4f0a-9f74-b24089e99922",
      "name": "故事內容"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "SenceToVideo",
            "timestamp": "={{ $json.message.text.split(' ')[1].toNumber() }}",
            "seed": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "seed",
              "displayName": "seed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1240,
        -860
      ],
      "id": "52d37933-c01f-412f-8207-8b91ef12f3f9",
      "name": "圖片轉影片",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "Start",
            "timestamp": "={{ $json.message.text.split(' ')[1].toNumber() }}",
            "seed": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "seed",
              "displayName": "seed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1240,
        -1060
      ],
      "id": "fb5d37a8-2fdc-4415-9450-a7195d96e1fa",
      "name": "生圖指令",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "MergeVideo",
            "timestamp": "={{ $json.message.text.split(' ')[1].toNumber() }}",
            "seed": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "seed",
              "displayName": "seed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1240,
        -660
      ],
      "id": "208dcf70-1be4-4012-821c-bf7064d6fbe7",
      "name": "合併影音",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appwEAXL3NashY3Ju",
          "mode": "list",
          "cachedResultName": "繪本",
          "cachedResultUrl": "https://airtable.com/appwEAXL3NashY3Ju"
        },
        "table": {
          "__rl": true,
          "value": "tblvWlgKBc1cHUW6y",
          "mode": "list",
          "cachedResultName": "001",
          "cachedResultUrl": "https://airtable.com/appwEAXL3NashY3Ju/tblvWlgKBc1cHUW6y"
        },
        "filterByFormula": "=({timestamp} = {{ $json.timestamp }}) ",
        "options": {},
        "sort": {
          "property": [
            {
              "field": "sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1460,
        0
      ],
      "id": "f05ee566-7cd0-4f9e-8368-b96d7b6fcb7d",
      "name": "生圖指令開始",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appwEAXL3NashY3Ju",
          "mode": "list",
          "cachedResultName": "繪本",
          "cachedResultUrl": "https://airtable.com/appwEAXL3NashY3Ju"
        },
        "table": {
          "__rl": true,
          "value": "tblvWlgKBc1cHUW6y",
          "mode": "list",
          "cachedResultName": "001",
          "cachedResultUrl": "https://airtable.com/appwEAXL3NashY3Ju/tblvWlgKBc1cHUW6y"
        },
        "filterByFormula": "=AND({timestamp} = {{$json.timestamp}}, {image_prompt} != \"\", {video_path} = \"\")",
        "returnAll": false,
        "options": {
          "fields": [
            "sequence",
            "paragraph",
            "image_url",
            "timestamp"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1460,
        425
      ],
      "id": "f3638959-1931-4e98-8316-4de555090582",
      "name": "圖檔轉影片開始",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appwEAXL3NashY3Ju",
          "mode": "list",
          "cachedResultName": "繪本",
          "cachedResultUrl": "https://airtable.com/appwEAXL3NashY3Ju"
        },
        "table": {
          "__rl": true,
          "value": "tblvWlgKBc1cHUW6y",
          "mode": "list",
          "cachedResultName": "001",
          "cachedResultUrl": "https://airtable.com/appwEAXL3NashY3Ju/tblvWlgKBc1cHUW6y"
        },
        "filterByFormula": "=AND(({timestamp} = {{ $json.timestamp }}) , {video_path} != BLANK())",
        "options": {
          "fields": [
            "video_path"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1460,
        850
      ],
      "id": "f43e183f-af2c-4a71-85bc-75447a61c960",
      "name": "合併檔案開始",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e23271dd-4cea-4a92-8221-1f0a80d63843",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "2b3cba54-d919-4ad3-ac26-1df2ec6c6fb0",
              "name": "seed",
              "value": "={{ $json.seed }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1460,
        1150
      ],
      "id": "38dd10ae-50ca-4739-a797-ae80de6a7dcb",
      "name": "預先建圖"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -1060
      ],
      "id": "5dd65269-77f1-4b8b-8175-9c137f111cf2",
      "name": "[生圖指令] - Start"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -860
      ],
      "id": "2515b7b0-9d9f-4a07-b4db-94ba6d8d0874",
      "name": "[圖片轉影片] - SenceToVideo"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -660
      ],
      "id": "9f90b578-4f6f-4aaf-8d2c-192bae84f325",
      "name": "[合併影音] - MergeVideo"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-09T10:06:32.000Z",
  "versionId": "f92be2f3-14ea-4528-9093-2ec83b5a3cd2"
}