workflows/JUQA7DnxNAgwipKc.json
{
  "active": false,
  "connections": {
    "設定變數": {
      "main": [
        [
          {
            "node": "是不是一個完整的故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "指令切換",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "步驟 - [生圖指令]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "圖檔轉影片開始",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "合併檔案開始",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "步驟 - [檢查圖片]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "照片轉影片": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最後的合併": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "確認合併狀態",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "最後的合併1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "確認合併狀態": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得所有單一影音檔": {
      "main": [
        [
          {
            "node": "最後的合併",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最後的合併1": {
      "main": [
        [
          {
            "node": "Send Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        []
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "合併影片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料要轉影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定風格": {
      "main": [
        [
          {
            "node": "組合URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組合URL": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔": {
      "main": [
        [
          {
            "node": "照片轉影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指令切換": {
      "main": [
        [
          {
            "node": "[重做指令]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "故事內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "故事內容": {
      "main": [
        [
          {
            "node": "設定變數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "圖檔轉影片開始": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合併檔案開始": {
      "main": [
        [
          {
            "node": "取得所有單一影音檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生分鏡": {
      "main": [
        [
          {
            "node": "設定人物及場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生故事": {
      "main": [
        [
          {
            "node": "Convert To Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Object": {
      "main": [
        [
          {
            "node": "故事內容1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定人物及場景": {
      "main": [
        [
          {
            "node": "建立主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得分鏡Code": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "步驟 - [生圖指令]": {
      "main": [
        [
          {
            "node": "取得主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得主檔": {
      "main": [
        [
          {
            "node": "取得分鏡資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "建立副檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立主檔": {
      "main": [
        [
          {
            "node": "取得分鏡Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立副檔": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得分鏡資料": {
      "main": [
        [
          {
            "node": "逐步取出資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生圖檔描寫": {
      "main": [
        [
          {
            "node": "設定風格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新image": {
      "main": [
        [
          {
            "node": "逐步取出資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "逐步取出資料": {
      "main": [
        [
          {
            "node": "轉影片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料待生圖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "步驟 - [檢查圖片]": {
      "main": [
        [
          {
            "node": "取得故事主檔_VerifyImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔資料": {
      "main": [
        [
          {
            "node": "依序處理場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "取得縮圖圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "批次組成ImageBase64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取出縮圖做為後續判斷": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得縮圖圖檔": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批次組成ImageBase64": {
      "main": [
        [
          {
            "node": "挑一張適合的圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "挑一張適合的圖檔": {
      "main": [
        [
          {
            "node": "只保留一張",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "依序處理場景": {
      "main": [
        [
          {
            "node": "轉影片1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料待生圖1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得故事主檔_VerifyImage": {
      "main": [
        [
          {
            "node": "取得圖檔資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "只保留一張": {
      "main": [
        [
          {
            "node": "依序處理場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "依ID刪除故事": {
      "main": [
        [
          {
            "node": "找出副檔備刪",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "刪主檔",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "刪副檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "找出副檔備刪": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "刪副檔": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "建立圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立圖檔": {
      "main": [
        [
          {
            "node": "更新image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[重做指令]": {
      "main": [
        [
          {
            "node": "重做指令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料待生圖": {
      "main": [
        [
          {
            "node": "轉影片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "產生圖檔描寫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料待生圖1": {
      "main": [
        [
          {
            "node": "轉影片1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取出縮圖做為後續判斷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料要轉影片": {
      "main": [
        [
          {
            "node": "合併影片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取得圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是不是一個完整的故事": {
      "main": [
        [
          {
            "node": "如果是完整故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果是完整故事": {
      "main": [
        [
          {
            "node": "直接拿輸入為故事內容",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "產生故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "直接拿輸入為故事內容": {
      "main": [
        [
          {
            "node": "故事內容1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "故事內容1": {
      "main": [
        [
          {
            "node": "產生分鏡",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-06T08:12:07.662Z",
  "id": "JUQA7DnxNAgwipKc",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "繪本第四版",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f92a3dc-22d5-466e-b1f8-69c0045055ff",
              "name": "pollinations_token",
              "value": "v58NNo7fauiWtBsS",
              "type": "string"
            },
            {
              "id": "d6d50a69-8d15-4990-aa43-c34eb25e4546",
              "name": "=timestamp",
              "value": "={{ Math.floor(Date.now() / 1000) }}",
              "type": "number"
            },
            {
              "id": "d37851e8-b1cc-4b0c-9d9b-3b9c93678916",
              "name": "system_prompt",
              "value": "You are an expert in designing storyboards for picture books for 12-year-old children. Please create the picture book content and split it into independent storyboards according to the requirements provided by the user. Each storyboard should contain the story narration and the corresponding scene description, which is suitable for the layout of the picture book. Please reply in **JSON format**, and each object must contain the following three properties:\n\n1. **\"sequence\"**: The sequence of scenes.\n2. **\"paragraph\"**: The story content, presented in Chinese.\n3. **\"scene\"**: The scene description, presented in English, contains the following three sub-properties:\n* **\"description\"**: Detailed description of the scene.\n* **\"characters\"**: Description of the appearance of the character.\n* **\"action\"**: The body movements of the character.\n\n**Example output:**\n```json\n[\n{\n\"sequence\": 1,\n\"paragraph\": \"On a sunny day, the north wind and the sun meet on the grass\",\n\"scene\": {\n\"action\": \"The Sun smiles brightly while the North Wind puffs up his cheeks, creating a chilly breeze.\",\n\"characters\": \"The Sun, personified as a cheerful, glowing character with a golden aura. The North Wind, depicted as a swirling, icy figure with a frosty appearance.\",\n\"description\": \"A bright day with a clear blue sky and fluffy clouds. The sun shines warmly over a grassy field.\"\n}\n}\n]\n\nThe story must not conclude with any moral lessons, uplifting messages, or calls to action regarding kindness, altruism, or societal betterment. The ending should be neutral, ambiguous, or directly related to the plot's resolution without any overarching philosophical statements. Characters' actions and fates should reflect their motivations (e.g., self-interest, ambition, or specific goals), rather than serving as a parable for ethical behavior or broader moral lessons. Their success or failure should stem directly from their choices and circumstances within the narrative, rather than from adherence to or deviation from a universal moral good.",
              "type": "string"
            },
            {
              "id": "798cfcb3-0f86-4efb-93a7-d7c4ae75d642",
              "name": "user_prompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        -860
      ],
      "id": "5d367f6c-09cd-4012-833e-777643405d17",
      "name": "設定變數"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1900,
        -1010
      ],
      "id": "c844deed-bbf6-4cd4-bf40-42aea6531df0",
      "name": "Telegram Trigger",
      "webhookId": "e7b74356-3576-4813-ab07-06dfff533637",
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Action"
            },
            {
              "name": "RecordID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1900,
        760
      ],
      "id": "9687eecc-e581-4fcf-ace0-eccff5931e1f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7704c244-855a-4d4e-ad63-f3a119200ecb",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "Start",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "SenceToVideo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33fee299-2cd3-4d03-9504-5be11d3f31af"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e173d0e-6efb-4a39-91f4-a387d58f4cfa",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "MergeVideo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f5aa4e5-c96a-44e1-bbfb-6b51c4433177",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "VerifyImage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1680,
        739
      ],
      "id": "45a0a422-92b3-4a77-b529-48988dc33dae",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ParentRecordID": "={{ $('When Executed by Another Workflow').item.json.RecordID }}",
            "Sequence": "={{ $('Loop Over Items1').item.json.Sequence }}",
            "AudioDuration": "={{ $('Get Status').item.json.data.audio_duration }}",
            "VideoPath": "={{ $('Get Status').item.json.data.videos[0] }}"
          },
          "matchingColumns": [
            "ParentRecordID",
            "Sequence"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        660
      ],
      "id": "b0a0c4d5-41a5-490d-b350-feefa75491ff",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/imagesubtitle",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"bgm_file\": \"\",\n    \"bgm_type\": \"random\",\n    \"bgm_volume\": 0.2,\n    \"font_name\": \"STHeitiMedium.ttc\",\n    \"font_size\": 60,\n    \"image_base64\": \"{{ $input.first().binary[\"data\"].data }}\",\n    \"stroke_color\": \"#000000\",\n    \"stroke_width\": 1.5,\n    \"subtitle_enabled\": \"true\",\n    \"subtitle_position\": \"bottom\",\n    \"text_background_color\": true,\n    \"text_fore_color\": \"#FFFFFF\",\n    \"video_language\": \"zh-tw\",\n    \"video_script\": \"{{ $json.Paragraph }}\",\n    \"video_source\": \"local\",\n    \"voice_name\": \"azure-openai:nova\",\n    \"voice_rate\": 1.0,\n    \"voice_volume\": 1.0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        585
      ],
      "id": "2cf9df18-6382-4c35-8af1-19c46dcdbffc",
      "name": "照片轉影片"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -360,
        585
      ],
      "id": "916cd9e6-ed7c-4ef3-b369-7420d4fb0e64",
      "name": "Wait",
      "webhookId": "d2e80362-d820-40dc-a1c9-4675aa4e97b9"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        485
      ],
      "id": "8c94096c-16c3-4e77-a58a-3b17129a0713",
      "name": "Get Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b6fe6d5-027e-40a6-b4a5-47333a06edd8",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        585
      ],
      "id": "6986254e-9744-420b-8cf0-a79338cacdfc",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/merge",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1020,
        1010
      ],
      "id": "83920506-6933-4793-bd66-f88f46712e73",
      "name": "最後的合併"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -800,
        1010
      ],
      "id": "03bf90cc-54d5-43f0-a848-b6af286ee928",
      "name": "Wait1",
      "webhookId": "d9730284-caab-4cf4-b167-5a58937a782a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b6fe6d5-027e-40a6-b4a5-47333a06edd8",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -360,
        1010
      ],
      "id": "3ef5b43a-3099-4e1b-b260-249d246f04b2",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "=5513588652",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "a325b955-619c-4a24-91fb-25f1b5ba230e",
      "name": "Send Analysis",
      "type": "n8n-nodes-base.telegram",
      "position": [
        80,
        1010
      ],
      "webhookId": "9d41cc63-14f4-4fa5-9304-445d40481186",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        910
      ],
      "id": "2c9a7748-3b0b-4d00-bf04-631cdd13d732",
      "name": "確認合併狀態"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all(); // 獲取所有傳入的資料項目\nconst names = [];\n\n// 迭代每一個輸入項目，取出 'name' 屬性\nfor (const item of inputItems) {\n  if (item.json && item.json.VideoPath) {\n    names.push(item.json.VideoPath);\n  }\n}\n\n// 將收集到的 'name' 陣列封裝成 { \"name\": [...] } 的物件\nreturn [{\n  json: {\n    video_sources: names\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1240,
        1010
      ],
      "id": "29b1b157-15f6-4f86-99ab-c6d979f1b678",
      "name": "取得所有單一影音檔"
    },
    {
      "parameters": {
        "url": "={{ $json.data.merged_video }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        1010
      ],
      "id": "ee59856d-4051-4cfb-ab7e-67c31bca3689",
      "name": "最後的合併1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "Start",
            "RecordID": "={{ $('建立主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1180,
        -1060
      ],
      "id": "1d44fcf7-cf65-4e86-9dce-a032c69544c2",
      "name": "Start",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1240,
        535
      ],
      "id": "998b3759-7a8c-464d-b6f8-6e6bac474a05",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25124828-d738-4a6c-9554-f091cb606b9e",
              "name": "message.content",
              "value": "={{ $json.data }}\nGuidance: Disney 3D animation, Pixar-style rendering, stylized realism, soft lighting, detailed textures, expressive characters. A charming Disney 3D animation style, reminiscent of Pixar, featuring stylized yet realistic rendering, soft and inviting lighting, meticulously crafted textures, and highly expressive character designs.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        185
      ],
      "id": "a4c571bf-81d3-4599-a28b-8c9ced2feeed",
      "name": "設定風格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52dba29a-4770-485c-a792-ab67227c788a",
              "name": "=URL",
              "value": "=[\n  \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1024&height=768&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n  \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1024&height=768&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n  \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1024&height=768&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n  \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1024&height=768&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\"\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        185
      ],
      "id": "16b91175-40a0-450d-9b0f-8d35096cf58b",
      "name": "組合URL"
    },
    {
      "parameters": {
        "url": "={{ $json.PickedImage[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        585
      ],
      "id": "3062ebb5-5729-467c-b545-da91c220cf2a",
      "name": "取得圖檔"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "VerifyImage",
            "RecordID": "={{ $('取得主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -360,
        -40
      ],
      "id": "409c2a0c-5176-4208-bbfb-4d5a7ef7aaf4",
      "name": "轉影片",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "MergeVideo",
            "RecordID": "={{ $('When Executed by Another Workflow').item.json.RecordID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -800,
        360
      ],
      "id": "e717632f-5e2d-4c55-9bd7-36ea34481fda",
      "name": "合併影片",
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e3ed24d1-3d28-467e-b191-5eea690ecc92"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd39ccd2-cd4a-4723-87a5-81a9246643a5",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1680,
        -1010
      ],
      "id": "5c04cb35-ebe5-4387-82c2-3c29e2a14ae2",
      "name": "指令切換"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -860
      ],
      "id": "1d18e9cf-be27-4f0a-9f74-b24089e99922",
      "name": "故事內容"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.RecordID }}\"), ({VideoPath} = \"\")) ",
        "returnAll": false,
        "options": {
          "fields": [
            "PickedImage",
            "Paragraph",
            "Sequence"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "Sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1460,
        535
      ],
      "id": "f3638959-1931-4e98-8316-4de555090582",
      "name": "圖檔轉影片開始",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.RecordID }}\"), ({VideoPath} != \"\")) ",
        "options": {
          "fields": [
            "VideoPath"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "Sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1460,
        1010
      ],
      "id": "f43e183f-af2c-4a71-85bc-75447a61c960",
      "name": "合併檔案開始",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($json.data.Contect) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('設定變數').item.json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms×"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "={{ encodeURIComponent($('設定變數').item.json.system_prompt) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -860
      ],
      "id": "269e992f-ee74-41c6-ac45-c56677622ebd",
      "name": "產生分鏡",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($('設定變數').item.json.user_prompt) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('設定變數').item.json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=請依需求產生適合的故事內容，並使用Json格式回覆，其實皆為單一字串，內容如下：\n{\n\"Title\":\"[故事題目]\",\n\"Contect\":[故事內容]\n}\n\nThe ending should be neutral, ambiguous, or directly related to the plot's resolution without any overarching philosophical statements. Characters' actions and fates should reflect their motivations (e.g., self-interest, ambition, or specific goals), rather than serving as a parable for ethical behavior or broader moral lessons. Their success or failure should stem directly from their choices and circumstances within the narrative, rather than from adherence to or deviation from a universal moral good."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        -760
      ],
      "id": "f8bbf8cf-c56a-4376-a3a3-4a6583c778af",
      "name": "產生故事",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58a40198-eba4-48ab-b93c-d132444e0f96",
              "name": "data",
              "value": "={{ JSON.parse($input.first().json.data)  }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -360,
        -760
      ],
      "id": "f5a9d7e3-d12a-4abb-9b0e-1c5df0a579ae",
      "name": "Convert To Object"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://text.pollinations.ai/openai?referrer=gxrrgj6t-443.asse.devtunnels.ms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messages\":\n    [\n        {\n            \"content\": \"You're an expert at designing the initial visual appearance of characters and objects based on specific requirements. Your response must be in JSON format in English. The JSON should be an array of objects. Each object will represent either a character or an object and must include the following attributes: name (string): The clear name of the character or object (e.g., \\\"Captain Kael\\\", \\\"The Obsidian Orb\\\"). type (string): Specify if it's a \\\"character\\\" or an \\\"object\\\". description (string): This is your main AI image prompt. Provide a comprehensive visual description covering physical attributes, clothing, accessories, unique features, and any relevant demeanor for characters. For objects, describe material, form, texture, state, and any defining details. Your task is to analyze the provided story content and extract its key characters and important objects. For each identified character and object, you'll generate a detailed visual description, optimized for AI image generation.\",\n            \"role\": \"system\"\n        },\n        {\n            \"content\": {{ JSON.stringify($('故事內容1').item.json.data.Contect) }},\n            \"role\": \"user\"\n        }\n    ],\n    \"model\": \"openai\",\n    \"private\": false,\n    \"token\": \"{{ $('設定變數').item.json.pollinations_token }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        -860
      ],
      "id": "9425049e-99ce-4e2e-ac79-1631ef2dedb7",
      "name": "設定人物及場景",
      "executeOnce": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawString = $('產生分鏡').first().json.data;// 獲取你的輸入字串\nconst startDelimiter = '```json\\n';\nconst endDelimiter = '\\n```'; // 注意：這裡的結束分隔符只包含換行和三個反引號\nconst startIndex = rawString.indexOf(startDelimiter);\nconst endIndex = rawString.indexOf(endDelimiter, startIndex); // 從開始分隔符之後尋找結束分隔符\nlet jsonString;\n\nif (startIndex !== -1 && endIndex !== -1) {\n    // 找到了開頭和結尾分隔符\n    // 從 '```json\\n' 的下一個字元開始，直到 '\\n```' 的前一個字元\n    jsonString = rawString.substring(startIndex + startDelimiter.length, endIndex);\n} else {\n    // 如果沒有找到特定的包裹格式，則假設整個字串就是 JSON\n    console.warn('String does not seem to be wrapped with \"```json\\\\n\" and \"\\\\n```\". Attempting direct parse.');\n    jsonString = rawString;\n}\ntry {\n    const jsonObject = JSON.parse(jsonString);\n    return jsonObject;\n} catch (e) {\n    throw new Error(`Failed to parse JSON. Raw string (or extracted part): \"${jsonString.substring(0, 200)}...\" Error: ${e.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        -860
      ],
      "id": "e3b4f7b5-b310-46d3-a0d3-42908c0cbad5",
      "name": "取得分鏡Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        135
      ],
      "id": "336fe9f1-4cf3-4328-9aef-fa8a27194ac1",
      "name": "步驟 - [生圖指令]"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblmxMe7DDQGJk8AF"
        },
        "id": "={{ $json.RecordID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1240,
        135
      ],
      "id": "38e233f3-716b-4f64-b632-df9e4e0edd8b",
      "name": "取得主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        -860
      ],
      "id": "dd22edef-a7a6-45c8-b77c-fb4bac178699",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblmxMe7DDQGJk8AF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "故事": "={{ $('故事內容1').item.json.data.Title }}",
            "故事改寫": "={{ $('故事內容1').item.json.data.Contect }}",
            "角色設定": "={{ $('設定人物及場景').item.json.choices[0].message.content }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "故事",
              "displayName": "故事",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "故事改寫",
              "displayName": "故事改寫",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "角色設定",
              "displayName": "角色設定",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        520,
        -860
      ],
      "id": "73b31fed-6823-438b-b00f-efd7c799ea89",
      "name": "建立主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sequence": "={{ $json.sequence }}",
            "Paragraph": "={{ $json.paragraph }}",
            "Scene": "={{ JSON.stringify($json.scene) }}",
            "ParentRecordID": "={{ $('建立主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1180,
        -860
      ],
      "id": "bab4a566-6c1f-4adc-b3e4-8e7b48a5c3ca",
      "name": "建立副檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.id }}\"), ({ImagePrompt} = \"\")) ",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1020,
        135
      ],
      "id": "f05ee566-7cd0-4f9e-8368-b96d7b6fcb7d",
      "name": "取得分鏡資料",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($json.Scene) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "v58NNo7fauiWtBsS"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=You are an expert at creating English descriptions for AI image generation. Your output must align with the story's plot and content, specifically for a children's picture book suitable for 12-year-olds. The story is as follows.\n{{ $('取得主檔').item.json[\"故事改寫\"] }}\n\nThe page elements are defined as follows:\nIf any elements are used, must follows the element definition for a description.\n{{ $('取得主檔').item.json[\"角色設定\"] }}\n\nProvide only the English descriptions, no additional replies. "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        185
      ],
      "id": "b76bed37-88c8-4621-b0dd-54813d005ba0",
      "name": "產生圖檔描寫",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('逐步取出資料').item.json.id }}",
            "ImagePrompt": "={{ $('產生圖檔描寫').item.json.data }}",
            "Images": "=[\n    {\n        \"url\": \"{{$input.all()[0].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[1].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[2].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[3].json.URL}}\"\n    }\n]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        740,
        260
      ],
      "id": "9c57103c-176b-4bcc-834b-b1a832edb91e",
      "name": "更新image",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -800,
        135
      ],
      "id": "49b102f8-714c-44ea-aa93-c725b9ce07e1",
      "name": "逐步取出資料"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        1410
      ],
      "id": "32a92990-a01b-4421-8335-edc2ee95d89c",
      "name": "步驟 - [檢查圖片]"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.id }}\"), ({ImagePrompt} != \"\"), {PickedImage} = \"\") ",
        "options": {
          "fields": [
            "Images"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1020,
        1410
      ],
      "id": "a2d32eac-c7e5-479b-9f37-66be4a71e169",
      "name": "取得圖檔資料",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -140,
        1435
      ],
      "id": "63fdaf67-5730-44af-9a00-f52f2cc6686e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        300,
        1435
      ],
      "id": "3363b13c-18f1-45c1-a1e9-a57b0354fb00",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.first().json.Images; // 獲取所有傳入的資料項目\nconst names = [];\n\n// 迭代每一個輸入項目，取出 'name' 屬性\nfor (const item of inputItems)\n{\n    names.push(item.thumbnails.small.url);\n}\n\n// 將收集到的 'name' 陣列封裝成 { \"name\": [...] } 的物件\nreturn [\n{\n    json:\n    {\n        image_url: names\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        1435
      ],
      "id": "c3b5137c-7fe1-4c8c-b3b6-278589de7b88",
      "name": "取出縮圖做為後續判斷"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        1435
      ],
      "id": "aedfa5d5-55b8-4255-beed-398133be47c4",
      "name": "取得縮圖圖檔"
    },
    {
      "parameters": {
        "jsCode": "const base64ImagesArray = []; // 用於存放所有 Base64 字串的陣列\n// 遍歷所有傳入 Code 節點的 Item\nfor (const item of $input.all()) {\n    // 檢查當前 Item 是否有二進位資料\n    if (item.binary && Object.keys(item.binary).length > 0) {\n        // 一個 Item 的 binary 物件可能有多個二進位檔案\n        for (const binaryKey in item.binary) {\n            // 確保是物件自身的屬性\n            if (Object.hasOwnProperty.call(item.binary, binaryKey)) {\n                const binaryFile = item.binary[binaryKey];\n                const dataBuffer = binaryFile.data; // 這是 n8n 內部表示的 Base64 編碼緩衝區字串\n\n                if (dataBuffer) {\n                    // 將 n8n 的二進位資料 (Base64 編碼的緩衝區字串) 轉換為真正的 Buffer\n                    // 然後再將 Buffer 轉換為 Base64 字串\n                    const base64String = Buffer.from(dataBuffer, 'base64').toString('base64');\n\n                    innImage_url = { \"url\": base64String }\n\n\n                    // 將結果推入陣列。你可以選擇只推入 Base64 字串，或一個包含更多資訊的物件。\n                    base64ImagesArray.push({\n                        image_url: { \"url\": \"data:\" + binaryFile.mimeType + \";base64,\" + base64String },\n                        \"type\": \"image_url\"\n                    });\n                }\n            }\n        }\n    }\n}\n\n// 返回一個包含 Base64 圖片陣列的單一 Item\nreturn [{\n    json: {\n        data: base64ImagesArray\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        1435
      ],
      "id": "387e9f38-ade8-44be-8a45-350f04049bc0",
      "name": "批次組成ImageBase64",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://text.pollinations.ai/openai?referrer=gxrrgj6t-443.asse.devtunnels.ms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messages\":\n    [\n        {\n            \"content\": \"你是擅長分辦風格為\\\"Guidance: Disney 3D animation, Pixar-style rendering, stylized realism, soft lighting, detailed textures, expressive characters. A charming Disney 3D animation style, reminiscent of Pixar, featuring stylized yet realistic rendering, soft and inviting lighting, meticulously crafted textures, and highly expressive character designs.\\\"的圖畫\",\n            \"role\": \"system\"\n        },\n        {\n            \"content\":\n            [\n                {\n                    \"text\": \"請挑選一張繪畫風格符合的圖片，若有人物，請挑選符合正常審美的圖片。請以Json格式回覆，格式如下：{\\\"number\\\": [選中的第幾張圖片], \\\"reason\\\": [簡述選中的原因] }\",\n                    \"type\": \"text\"\n                },\n                {{ $json.data.map(item => item.toJsonString()) }}\n            ],\n            \"role\": \"user\"\n        }\n    ],\n    \"model\": \"openai\",\n    \"token\": \"v58NNo7fauiWtBsS\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        1435
      ],
      "id": "110142d3-9c86-4edd-8baa-bbdff5441356",
      "name": "挑一張適合的圖檔",
      "executeOnce": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('依序處理場景').item.json.id }}",
            "PickedImage": "=[\n    {\n        \"url\": \"{{ $('依序處理場景').item.json.Images[JSON.parse($json.choices[0].message.content).number - 1].url }}\"\n    }\n]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        1535
      ],
      "id": "2385b35e-3c3d-4453-a15d-5f391df0aa71",
      "name": "只保留一張",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -800,
        1410
      ],
      "id": "ddbc9897-0d99-44eb-b232-ad65e9dee07c",
      "name": "依序處理場景"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblmxMe7DDQGJk8AF"
        },
        "id": "={{ $json.RecordID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1240,
        1410
      ],
      "id": "513abf31-9df2-4da7-af2c-b31a635c1614",
      "name": "取得故事主檔_VerifyImage",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1900,
        -350
      ],
      "id": "77592b8f-2347-4278-a0a4-1aedcfb6ebee",
      "name": "依ID刪除故事",
      "webhookId": "a7e5ca63-57e9-4442-b9db-37dd4136e5d3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1460,
        -350
      ],
      "id": "2f552dd3-f2fe-4a0e-a541-9269a54a16f1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=({ParentRecordID} = \"{{ $json.chatInput }}\")",
        "options": {
          "fields": [
            "PK"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1680,
        -350
      ],
      "id": "4bc3a411-d157-4403-88ab-37e0feb52531",
      "name": "找出副檔備刪",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "id": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1240,
        -300
      ],
      "id": "080f6161-665d-45b1-845a-c7b8becba55c",
      "name": "刪副檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appLQFFC5m0OWvKwr",
          "mode": "list",
          "cachedResultName": "第四版",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblmxMe7DDQGJk8AF"
        },
        "id": "={{ $('依ID刪除故事').item.json.chatInput }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1240,
        -500
      ],
      "id": "7cae8b25-cc79-4f15-9bc7-004441861d12",
      "name": "刪主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "URL",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        300,
        185
      ],
      "id": "7d35c156-3167-4ede-86e3-4a32142f8711",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        185
      ],
      "id": "66d02ed7-fa47-48aa-a4fa-2bff972055cb",
      "name": "建立圖檔",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "SenceToVideo",
            "RecordID": "={{ $('取得故事主檔_VerifyImage').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -360,
        1235
      ],
      "id": "ca143290-4d8c-45f7-8451-2f53eebf02ea",
      "name": "轉影片1",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -1060
      ],
      "id": "5dd65269-77f1-4b8b-8175-9c137f111cf2",
      "name": "[重做指令]"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "={{ $json.message.text.substring(1).split(' ')[0] }}",
            "RecordID": "={{ $json.message.text.substring(1).split(' ')[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1240,
        -1060
      ],
      "id": "fb5d37a8-2fdc-4415-9450-a7195d96e1fa",
      "name": "重做指令",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -580,
        135
      ],
      "id": "2ed7558c-2e3f-4966-9318-969a7f693084",
      "name": "如果無資料待生圖"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -580,
        1410
      ],
      "id": "2ed24438-2e97-4725-bd37-c84bd69af2cd",
      "name": "如果無資料待生圖1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1020,
        535
      ],
      "id": "72249014-0d8f-4229-ad8a-3d99fb68548e",
      "name": "如果無資料要轉影片"
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($json.user_prompt) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "0.8"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=請確認輸入的內容是否為一個完整的故事，只有故事名稱或是故事大綱皆不算完整，如果是完整故事，請幫故事命名。你會使用Json格式回覆，內容如下：\n{\n\"IsFullStory\":[是否為完整故事，true or false],\n\"Title\":\"[故事名稱]\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1020,
        -860
      ],
      "id": "67df080b-386a-4611-84fe-a1c2bdcb9660",
      "name": "是不是一個完整的故事",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f2b296b-72ce-4b56-b1e1-798553373cac",
              "leftValue": "={{ JSON.parse($json.data).IsFullStory  }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        -860
      ],
      "id": "e7da13b5-80d6-4451-b0c4-012772742463",
      "name": "如果是完整故事"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c915e9d-6f8e-4469-bbcc-a31f1b427d31",
              "name": "data",
              "value": "={ \"Title\":\"{{ JSON.parse($json.data).Title  }}\", \"Contect\":{{ JSON.stringify($('設定變數').item.json.user_prompt) }} }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -360,
        -960
      ],
      "id": "e227a2df-cf60-4672-a18a-4e40c50517b9",
      "name": "直接拿輸入為故事內容"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc846706-8a8a-4ced-b2f5-1a6caefabf2a",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        -860
      ],
      "id": "d299431f-dfe3-43bf-903f-9256beb9aad3",
      "name": "故事內容1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Action": "VerifyImage",
          "RecordID": "rec1ozWPGGcfGveqQ"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-06-19T13:35:17.000Z",
  "versionId": "6de580da-e088-4f21-bef7-c97f24e7f7aa"
}