workflows/l8kjmxO0u6KzmpM4.json
{
  "active": false,
  "connections": {
    "設定變數": {
      "main": [
        [
          {
            "node": "是不是一個完整的故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "指令切換",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "步驟 - [生圖指令]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "圖檔轉影片開始",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "步驟 - [檢查圖片]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "照片轉影片": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最後的合併": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "確認合併狀態",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "記錄合併後檔案",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "確認合併狀態": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Send Analysis4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料要轉影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定風格": {
      "main": [
        [
          {
            "node": "組合URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組合URL": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔": {
      "main": [
        [
          {
            "node": "取得圖檔內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指令切換": {
      "main": [
        [
          {
            "node": "[重做指令]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "故事內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "故事內容": {
      "main": [
        [
          {
            "node": "設定變數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "圖檔轉影片開始": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合併檔案開始": {
      "main": [
        [
          {
            "node": "取得所有單一影音檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "步驟 - [生圖指令]": {
      "main": [
        [
          {
            "node": "設定Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得主檔": {
      "main": [
        [
          {
            "node": "取得分鏡資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得分鏡資料": {
      "main": [
        [
          {
            "node": "逐步取出資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生圖檔描寫": {
      "main": [
        [
          {
            "node": "設定風格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新image": {
      "main": [
        [
          {
            "node": "逐步取出資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "逐步取出資料": {
      "main": [
        [
          {
            "node": "Send Analysis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料待生圖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "步驟 - [檢查圖片]": {
      "main": [
        [
          {
            "node": "取得故事主檔_VerifyImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔資料": {
      "main": [
        [
          {
            "node": "依序處理場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "取得縮圖圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "批次組成ImageBase64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取出縮圖做為後續判斷": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得縮圖圖檔": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批次組成ImageBase64": {
      "main": [
        [
          {
            "node": "挑一張適合的圖檔11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得故事主檔_VerifyImage": {
      "main": [
        [
          {
            "node": "取得圖檔資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "只保留一張": {
      "main": [
        [
          {
            "node": "依序處理場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "建立圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立圖檔": {
      "main": [
        [
          {
            "node": "更新image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[重做指令]": {
      "main": [
        [
          {
            "node": "重做指令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料待生圖": {
      "main": [
        [
          {
            "node": "Send Analysis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "產生圖檔描寫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料待生圖1": {
      "main": [
        [
          {
            "node": "Send Analysis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取出縮圖做為後續判斷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料要轉影片": {
      "main": [
        [
          {
            "node": "Send Analysis4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取得圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是不是一個完整的故事": {
      "main": [
        [
          {
            "node": "如果是完整故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定Prompt": {
      "main": [
        [
          {
            "node": "取得主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "挑一張適合的圖檔11": {
      "main": [
        [
          {
            "node": "只保留一張",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis2": {
      "main": [
        [
          {
            "node": "選圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis3": {
      "main": [
        [
          {
            "node": "轉影片1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis4": {
      "main": [
        [
          {
            "node": "合併影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下載完成檔": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "依序處理場景": {
      "main": [
        [
          {
            "node": "Send Analysis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料待生圖1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "合併檔案開始",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "記錄合併後檔案": {
      "main": [
        [
          {
            "node": "下載完成檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Send Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得所有單一影音檔": {
      "main": [
        [
          {
            "node": "最後的合併",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔內容": {
      "main": [
        [
          {
            "node": "照片轉影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生分鏡": {
      "main": [
        [
          {
            "node": "設定人物及場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生故事": {
      "main": [
        [
          {
            "node": "Convert To Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Object": {
      "main": [
        [
          {
            "node": "整理故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定人物及場景": {
      "main": [
        [
          {
            "node": "建立主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得分鏡Code": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Send Analysis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "建立副檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立主檔": {
      "main": [
        [
          {
            "node": "取得分鏡Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立副檔": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果是完整故事": {
      "main": [
        [
          {
            "node": "直接拿輸入為故事內容",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "產生故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "直接拿輸入為故事內容": {
      "main": [
        [
          {
            "node": "整理故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理故事": {
      "main": [
        [
          {
            "node": "產生分鏡",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis1": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-27T15:37:12.692Z",
  "id": "l8kjmxO0u6KzmpM4",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "繪本英文版-Youtube",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f92a3dc-22d5-466e-b1f8-69c0045055ff",
              "name": "pollinations_token",
              "value": "xpJ5N0yfR0GOIUfl",
              "type": "string"
            },
            {
              "id": "d6d50a69-8d15-4990-aa43-c34eb25e4546",
              "name": "=timestamp",
              "value": "={{ Math.floor(Date.now() / 1000) }}",
              "type": "number"
            },
            {
              "id": "d37851e8-b1cc-4b0c-9d9b-3b9c93678916",
              "name": "system_prompt",
              "value": "You are an expert in designing detailed storyboards for children, specifically for 12-year-old readers. Your goal is to create rich, sequential storyboard content, similar to a comic book style, based on the user's provided story.\n\nEach storyboard must be a distinct, independent scene and must include concise story narration along with a corresponding detailed scene description, suitable for a comic book layout. Prioritize creating **more numerous storyboards** with **very short, impactful narration** (ideally 2-3 sentences per paragraph, designed for 5-15 seconds of audio playback).\n\nPlease reply in **JSON format**, more than 15 objects, where each object must contain the following three properties:\n\n1.  **\"sequence\"**: The sequence number of the scene.\n2.  **\"paragraph\"**: The story content, presented in English. optimized for short audio segments (5-15 seconds).\n3.  **\"scene\"**: The scene description, presented in English, contains the following three sub-properties:\n    * **\"description\"**: A detailed description of the scene, focusing on visual elements and atmosphere.\n    * **\"characters\"**: A description of the characters' appearances, expressions, and positioning within the scene.\n\n**Example Output:**\n\n```json\n[\n  {\n    \"sequence\": 1,\n    \"paragraph\": \"On a sunny morning, the North Wind and the Sun spotted each other across a wide, green meadow.\",\n    \"scene\": {\n      \"characters\": \"The Sun, a cheerful, radiant figure with a soft golden glow. The North Wind, a swirling, slightly mischievous figure with frosty edges.\",\n      \"description\": \"A vibrant morning scene. A clear, cerulean sky with wispy clouds stretches above a vast, sun-drenched meadow.\"\n    }\n  }\n]",
              "type": "string"
            },
            {
              "id": "798cfcb3-0f86-4efb-93a7-d7c4ae75d642",
              "name": "user_prompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "915613f9-1411-405f-bd5f-5fea7711ac0b",
              "name": "gen_char_prompt",
              "value": "You are an expert in designing initial visual appearances for characters and objects based on specific requirements. Your task is to analyze the provided story content and extract its key characters and important objects. For each identified character and object, you will generate a detailed visual description optimized for AI image generation.\n\nYour response must be in **JSON format** and structured as an array of objects. Each object will represent either a character or an object and must include the following attributes:\n\n1.  **\"name\"** (string): The clear, concise name of the character or object (e.g., \"Captain Kael\", \"The Obsidian Orb\").\n2.  **\"type\"** (string): Specify if it's a \"character\" or an \"object\".\n3.  **\"description\"** (string): This will be your main AI image prompt. Provide a comprehensive visual description.\n    * **For characters**: **Crucially, include all visible appearance details to ensure consistency across generations, such as:**\n        * **Skin tone** (e.g., fair, olive, dark brown)\n        * **Face shape** (e.g., oval, square, heart-shaped)\n        * **Hair style and color** (e.g., long wavy black hair, short spiky blonde hair)\n        * **Eye color and shape** (e.g., bright blue almond eyes)\n        * **Body build/type** (e.g., slender, muscular, average)\n        * **Specific facial features** (e.g., freckles, scar over left eye, prominent cheekbones)\n        * **Clothing style, patterns, and materials** (e.g., a flowing velvet robe with gold embroidery, worn denim jacket, sturdy leather boots)\n        * **Accessories or adornments** (e.g., a silver locket, intricate ear piercings, a utility belt with pouches)\n        * **Any visible items carried or held** (e.g., a staff carved with runes, an antique pocket watch)\n        * **Overall demeanor or expression** (e.g., a determined gaze, a mischievous smirk)\n    * **For objects**: Describe material, form, texture, state, and any defining details.\n\n```json\n[\n  {\n    \"name\": \"Captain Kael\",\n    \"type\": \"character\",\n    \"description\": \"A rugged male human, late 30s, with olive skin and a square jawline. He has a neatly trimmed dark brown beard and piercing bright blue almond eyes. His build is broad-shouldered and muscular. He wears a worn, dark brown leather trench coat with heavy brass buttons over a dark grey wool tunic, reinforced with tarnished steel pauldrons. A vintage brass compass hangs from a thick leather cord around his neck, and he has a deep, thin scar running down his right cheekbone. His sturdy leather boots are scuffed, and he carries a heavy iron-wood axe strapped to his back. His expression is resolute and slightly grim.\"\n  },\n  {\n    \"name\": \"The Obsidian Orb\",\n    \"type\": \"object\",\n    \"description\": \"A perfectly spherical orb, about 10 cm in diameter, crafted from highly polished obsidian. Its surface is incredibly smooth and reflects light with a deep, inky sheen, occasionally revealing subtle, swirling patterns within its depths. It emits a faint, cold, wispy mist that gently curls around its base.\"\n  }\n]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        -880
      ],
      "id": "8f901551-d9c3-4163-9ce6-50a406e65ac6",
      "name": "設定變數"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1900,
        -1030
      ],
      "id": "8927bb52-5232-441d-ba9e-2351159afdba",
      "name": "Telegram Trigger",
      "webhookId": "ad2ca752-c5d2-4e82-869f-a9d3801206bf",
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Action"
            },
            {
              "name": "RecordID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1900,
        280
      ],
      "id": "76d4d799-e78d-41bd-b3a9-fd8ac2a2ea25",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7704c244-855a-4d4e-ad63-f3a119200ecb",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "Start",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "SenceToVideo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33fee299-2cd3-4d03-9504-5be11d3f31af"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e173d0e-6efb-4a39-91f4-a387d58f4cfa",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "MergeVideo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f5aa4e5-c96a-44e1-bbfb-6b51c4433177",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "VerifyImage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1680,
        259
      ],
      "id": "b8b06375-7d87-4b63-8145-1da7f91399df",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ParentRecordID": "={{ $('When Executed by Another Workflow').item.json.RecordID }}",
            "Sequence": "={{ $('Loop Over Items1').item.json.Sequence }}",
            "AudioDuration": "={{ $('Get Status').item.json.data.audio_duration }}",
            "VideoPath": "={{ $('Get Status').item.json.data.videos[0] }}"
          },
          "matchingColumns": [
            "ParentRecordID",
            "Sequence"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        520,
        180
      ],
      "id": "c3925b4d-a474-473d-a111-256db63b4219",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/imagesubtitle",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"bgm_file\": \"\",\n    \"bgm_type\": \"random\",\n    \"bgm_volume\": 0.2,\n    \"font_name\": \"STHeitiMedium.ttc\",\n    \"font_size\": 60,\n    \"image_base64\": \"{{ $json.base64Content }}\",\n    \"stroke_color\": \"#000000\",\n    \"stroke_width\": 1.5,\n    \"subtitle_enabled\": \"true\",\n    \"subtitle_position\": \"bottom\",\n    \"text_background_color\": true,\n    \"text_fore_color\": \"#FFFFFF\",\n    \"video_language\": \"en-us\",\n    \"video_script\": \"{{ $('取得圖檔').item.json.Paragraph.replace(/\"/g, '\\\\\"') }}\",\n    \"video_source\": \"local\",\n    \"voice_name\": \"pollinations:coral\",\n    \"voice_rate\": 1.0,\n    \"voice_volume\": 1.0,\n    \"use_dynamic_effects\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        105
      ],
      "id": "d78e96a5-423c-44ee-9dc6-127aaa0482df",
      "name": "照片轉影片"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -140,
        105
      ],
      "id": "09aa85da-9cc8-47bf-9b8d-cf728befba20",
      "name": "Wait",
      "webhookId": "dc8cf4ba-1bf3-4daa-996d-2748e9444635"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        5
      ],
      "id": "9fd09d44-1eac-4a6c-ba9c-13cb8386fdf4",
      "name": "Get Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b6fe6d5-027e-40a6-b4a5-47333a06edd8",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        300,
        105
      ],
      "id": "1addf279-9fe6-46bb-b53e-efef2ac32a99",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/merge",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        530
      ],
      "id": "845981c1-cc02-44d5-bfbf-8073bfb0cdde",
      "name": "最後的合併"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -580,
        530
      ],
      "id": "f51c46d4-eaa3-4e2f-a806-3e376ff509eb",
      "name": "Wait1",
      "webhookId": "b5b381d4-c11e-4367-9c7f-c693ec62e28b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b6fe6d5-027e-40a6-b4a5-47333a06edd8",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -140,
        530
      ],
      "id": "36b4f665-8add-465e-96f5-7dea93bdbdf7",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "影片製做並上傳Youtube完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "52a2d66a-ba17-4343-ac81-5c1d9caf173d",
      "name": "Send Analysis",
      "type": "n8n-nodes-base.telegram",
      "position": [
        740,
        530
      ],
      "webhookId": "0f6df531-aaad-45b5-8c90-0f04ddd48a26",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        430
      ],
      "id": "7ac2ad4a-8093-470f-9755-eef5cbb34e59",
      "name": "確認合併狀態"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1240,
        55
      ],
      "id": "fbba7d65-dc96-4334-a39e-fdd9ecaf436f",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25124828-d738-4a6c-9554-f091cb606b9e",
              "name": "message.content",
              "value": "={{ $json.data }}\nGuidance: Disney 3D animation, Pixar-style rendering, stylized realism, soft lighting, detailed textures, expressive characters. A charming Disney 3D animation style, reminiscent of Pixar, featuring stylized yet realistic rendering, soft and inviting lighting, meticulously crafted textures, and highly expressive character designs.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -295
      ],
      "id": "56e8fb11-84eb-4322-bdaa-8555692bb36c",
      "name": "設定風格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52dba29a-4770-485c-a792-ab67227c788a",
              "name": "=URL",
              "value": "=[\n    \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=xpJ5N0yfR0GOIUfl&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1280&height=720&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n    \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1280&height=720&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n    \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1280&height=720&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n    \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1280&height=720&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\"\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        -295
      ],
      "id": "7ff9fe2b-6ee3-49b9-965d-1aa91fa155c2",
      "name": "組合URL"
    },
    {
      "parameters": {
        "url": "={{ $json.PickedImage[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        105
      ],
      "id": "7f0b9081-8b49-4cbe-b916-d76e2ff454e0",
      "name": "取得圖檔"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "MergeVideo",
            "RecordID": "={{ $('When Executed by Another Workflow').item.json.RecordID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -580,
        -120
      ],
      "id": "89eb58f2-0c4b-4da3-bf46-61b1ef0f468e",
      "name": "合併影片",
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e3ed24d1-3d28-467e-b191-5eea690ecc92"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd39ccd2-cd4a-4723-87a5-81a9246643a5",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1680,
        -1030
      ],
      "id": "1ec87834-faf4-40f5-aafb-46a59133e674",
      "name": "指令切換"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -880
      ],
      "id": "e5a4d990-01ca-4958-bb87-f51204adcb5d",
      "name": "故事內容"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.RecordID }}\"), ({VideoPath} = \"\")) ",
        "returnAll": false,
        "options": {
          "fields": [
            "PickedImage",
            "Paragraph",
            "Sequence"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "Sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1460,
        55
      ],
      "id": "1a73819c-5c50-4455-8744-3286316fe4c1",
      "name": "圖檔轉影片開始",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.RecordID }}\"), ({VideoPath} != \"\")) ",
        "options": {
          "fields": [
            "VideoPath"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "Sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1240,
        530
      ],
      "id": "75946697-3222-4455-8f74-220b207a13aa",
      "name": "合併檔案開始",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -345
      ],
      "id": "61b3eef3-ec11-4eab-94a1-e29309aa4489",
      "name": "步驟 - [生圖指令]"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "id": "={{ $('When Executed by Another Workflow').item.json.RecordID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1020,
        -345
      ],
      "id": "13c3435b-db6c-47bf-b814-f3f5be43c823",
      "name": "取得主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.id }}\"), ({ImagePrompt} = \"\")) ",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -800,
        -345
      ],
      "id": "b22d8371-7dd3-4223-93af-9ef221208204",
      "name": "取得分鏡資料",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($json.Scene) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "xpJ5N0yfR0GOIUfl"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=You are an expert at creating English descriptions for AI image generation. Your output must align with the provided story's plot and content, specifically for a children's picture book suitable for 12-year-olds.\n\nThe story content is as follows:\n** Story start ** \n{{ encodeURIComponent($('取得主檔').item.json[\"故事內容\"]) }}\n** Story end ** \nThe page elements are defined as follows (if any elements are used, they must strictly follow these definitions for their descriptions). If there is more than one character, provide a complete and distinct visual description for EACH character to prevent distorted or inconsistent image generation:\n** Definitions start ** \n{{ encodeURIComponent($('取得主檔').item.json[\"角色設定\"]) }}\n** Definitions end ** \n*Provide only the English descriptions, with no additional replies or conversational fillers.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        -295
      ],
      "id": "74576a05-43ce-4e66-9887-6968f96112e8",
      "name": "產生圖檔描寫",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('逐步取出資料').item.json.id }}",
            "ImagePrompt": "={{ $('產生圖檔描寫').item.json.data }}",
            "Images": "=[\n    {\n        \"url\": \"{{$input.all()[0].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[1].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[2].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[3].json.URL}}\"\n    }\n]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        -220
      ],
      "id": "306cc9fc-d9c9-4fa6-b7ff-ca7ccb4fe816",
      "name": "更新image",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -580,
        -345
      ],
      "id": "3aaa33d2-11b6-4001-b13d-7758ab1a79e7",
      "name": "逐步取出資料"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        980
      ],
      "id": "05406f5a-ea56-449d-8ad0-fb064567b6a0",
      "name": "步驟 - [檢查圖片]"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.id }}\"), ({ImagePrompt} != \"\"), {PickedImage} = \"\") ",
        "options": {
          "fields": [
            "Images"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1020,
        980
      ],
      "id": "2196e3c4-bc2f-45f9-9149-453f64531ea6",
      "name": "取得圖檔資料",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -140,
        1005
      ],
      "id": "a952d89b-508c-476b-9435-9e6ebf37a7bc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        300,
        1005
      ],
      "id": "b47821f5-2aae-4a1f-a7cb-ffb29a8b671d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.first().json.Images; // 獲取所有傳入的資料項目\nconst names = [];\n\n// 迭代每一個輸入項目，取出 'name' 屬性\nfor (const item of inputItems)\n{\n    names.push(item.thumbnails.large.url);\n}\n\n// 將收集到的 'name' 陣列封裝成 { \"name\": [...] } 的物件\nreturn [\n{\n    json:\n    {\n        image_url: names\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        1005
      ],
      "id": "971cfd0a-320c-4da2-b224-9a6555a08199",
      "name": "取出縮圖做為後續判斷"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        1005
      ],
      "id": "0b52d4d8-38ad-40f7-9fe7-08201deb620c",
      "name": "取得縮圖圖檔"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\n// 取得聚合後的單一輸入項目\nconst aggregatedInputItem = $input.all()[0];\n\n// 確保該項目有 binary 屬性\nif (aggregatedInputItem && aggregatedInputItem.binary) {\n    // 遍歷 binary 物件中的每個二進位資料屬性 (例如: data, data_1, data_2...)\n    for (const binaryKey of Object.keys(aggregatedInputItem.binary)) {\n        const currentBinaryInfo = aggregatedInputItem.binary[binaryKey];\n\n        // 檢查每個二進位資訊物件是否是 filesystem-v2 模式\n        if (currentBinaryInfo && currentBinaryInfo.data === 'filesystem-v2') {\n            try {\n                // *** 修正點：直接使用 this.helpers.getBinaryDataBuffer() ***\n                const binaryBuffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n\n                const base64String = binaryBuffer.toString('base64');\n\n                results.push({\n                    image_url: { \"url\": \"data:\" + currentBinaryInfo.mimeType + \";base64,\" + base64String },\n                    \"type\": \"image_url\"\n                });\n            } catch (error) {\n                console.error(`處理二進位資料 '${binaryKey}' 時發生錯誤:`, error);\n                results.push({\n                    json: {\n                        error: `無法處理二進位資料 '${binaryKey}': ${error.message}`\n                    }\n                });\n            }\n        }\n    }\n} else {\n    // 如果沒有聚合的二進位資料\n    results.push({\n        json: {\n            message: \"沒有找到聚合的二進位資料\",\n            originalInput: aggregatedInputItem\n        }\n    });\n}\n\n// 返回處理後的結果陣列，每個元素包含一個 Base64 圖片\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        1005
      ],
      "id": "1837b4bf-a476-425d-a2a7-896e64ea4353",
      "name": "批次組成ImageBase64",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('依序處理場景').item.json.id }}",
            "PickedImage": "=[\n    {\n        \"url\": \"{{ $('依序處理場景').item.json.Images[JSON.parse($json.choices[0].message.content).number - 1].url }}\"\n    }\n]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        1105
      ],
      "id": "b9902aab-8aee-47d5-86c1-aa8f36173bcf",
      "name": "只保留一張",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblmxMe7DDQGJk8AF"
        },
        "id": "={{ $json.RecordID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1240,
        980
      ],
      "id": "5eca1b94-abe8-4b5d-a4f7-0813adb5627b",
      "name": "取得故事主檔_VerifyImage",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "URL",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        520,
        -295
      ],
      "id": "69aac7a5-aeef-49aa-9ac9-153e0ff7405c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        -295
      ],
      "id": "eb05baa5-db68-4f4c-ad92-12af386ba50e",
      "name": "建立圖檔",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "SenceToVideo",
            "RecordID": "={{ $('取得故事主檔_VerifyImage').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -140,
        805
      ],
      "id": "d79f7d85-95b4-40bb-9b68-c30997a59707",
      "name": "轉影片1",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -1080
      ],
      "id": "39b6374f-8445-4da9-9140-67bf35aed2bd",
      "name": "[重做指令]"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "={{ $json.message.text.substring(1).split(' ')[0] }}",
            "RecordID": "={{ $json.message.text.substring(1).split(' ')[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1240,
        -1080
      ],
      "id": "9dd30a7d-b1fc-4809-b06b-e922b3638af8",
      "name": "重做指令",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -360,
        -345
      ],
      "id": "c91068a7-af8b-466e-bdc1-82a4437d74cf",
      "name": "如果無資料待生圖"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -580,
        980
      ],
      "id": "59b19922-18fc-43ad-b928-73b1d96fcaa1",
      "name": "如果無資料待生圖1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1020,
        55
      ],
      "id": "0f85bfb7-0d12-4c10-89fd-7333ba02aea9",
      "name": "如果無資料要轉影片"
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($json.user_prompt) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "0.8"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=Please confirm whether the input content is a complete story. Only the story name or story outline is not complete. If it is a complete story, please name the story. You will reply in Json format, as follows:\n{\n    \"IsFullStory\":[Is it a complete story, true or false],\n    \"Title\":\"[Story name]\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1020,
        -880
      ],
      "id": "dab57e78-8fab-400f-a740-ee2bacba8778",
      "name": "是不是一個完整的故事",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "VerifyImage",
            "RecordID": "={{ $('取得主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        80,
        -520
      ],
      "id": "a25aae25-4d96-4ada-a2ec-2911fdd82769",
      "name": "選圖檔",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0e75319-bce9-4fbd-812e-024892a120ad",
              "name": "gen_image_prompt",
              "value": "=You are an expert at creating English descriptions for AI image generation. Your output must align with the provided story's plot and content, specifically for a children's picture book suitable for 12-year-olds.\n\nThe story content is as follows:\nXXXX\n\nThe page elements are defined as follows (if any elements are used, they must strictly follow these definitions for their descriptions). If there is more than one character, provide a complete and distinct visual description for EACH character to prevent distorted or inconsistent image generation:\nYYYY\n\nProvide only the English descriptions, with no additional replies or conversational fillers.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        -345
      ],
      "id": "7baa8046-4d0e-4095-a03a-784a7c999b51",
      "name": "設定Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://text.pollinations.ai/openai?referrer=gxrrgj6t-443.asse.devtunnels.ms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messages\":\n    [\n        {\n            \"content\": \"你是擅長分辦風格為\\\"Guidance: Disney 3D animation, Pixar-style rendering, stylized realism, soft lighting, detailed textures, expressive characters. A charming Disney 3D animation style, reminiscent of Pixar, featuring stylized yet realistic rendering, soft and inviting lighting, meticulously crafted textures, and highly expressive character designs.\\\"的圖畫\",\n            \"role\": \"system\"\n        },\n        {\n            \"content\":\n            [\n                {\n                    \"text\": \"請挑選一張繪畫風格符合的圖片，若圖片中有人物，請挑選人物無缺陷且符合畫風的圖片。請以Json格式回覆，格式如下：{\\\"number\\\": [選中的第幾張圖片], \\\"reason\\\": [簡述選中的原因] }\",\n                    \"type\": \"text\"\n                },\n                {{ $input.all().map(item => item.json.toJsonString() ) }}\n            ],\n            \"role\": \"user\"\n        }\n    ],\n    \"model\": \"openai\",\n    \"token\": \"xpJ5N0yfR0GOIUfl\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        1005
      ],
      "id": "36d0d3a1-c4c5-4896-9587-63b5c80bbbaf",
      "name": "挑一張適合的圖檔11",
      "executeOnce": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "圖檔建立完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "5b7e269b-477d-4bd8-8038-51da3057086b",
      "name": "Send Analysis2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -140,
        -520
      ],
      "webhookId": "2f3cb63a-8529-45fe-bc57-faf1bf5d127f",
      "typeVersion": 1.2,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "選圖完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ecccb446-302b-4768-88ac-7f6cce30bc49",
      "name": "Send Analysis3",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -360,
        805
      ],
      "webhookId": "ba8123f6-58d3-45dc-987a-29c16425726b",
      "typeVersion": 1.2,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "圖轉影片完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b28a2afd-ab97-4fb2-a827-90a2690969a6",
      "name": "Send Analysis4",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -800,
        -120
      ],
      "webhookId": "148d7146-4ce2-4309-ad45-c0024f8e345f",
      "typeVersion": 1.2,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.fields.FinalResult }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        530
      ],
      "id": "3ed69485-9aa2-488a-aeb0-f9d2d1d0418e",
      "name": "下載完成檔"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -800,
        980
      ],
      "id": "91a2c454-6f03-4f5f-8916-e15861c4aedb",
      "name": "依序處理場景"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "223c63d7-63ed-4a45-b518-7b6dd9df8f8c",
              "name": "RecordID",
              "value": "={{ $json.RecordID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1460,
        530
      ],
      "id": "12f6b6c6-2442-4f56-98eb-d55684558e0f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblmxMe7DDQGJk8AF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FinalResult": "={{ $json.data.merged_video }}",
            "id": "={{ $('Edit Fields').first().json.RecordID }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "故事",
              "displayName": "故事",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "故事內容",
              "displayName": "故事內容",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "角色設定",
              "displayName": "角色設定",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FinalResult",
              "displayName": "FinalResult",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        80,
        530
      ],
      "id": "53e7f17d-4cc5-4e11-85b7-add298d5c183",
      "name": "記錄合併後檔案",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.fields['故事'] }}",
        "regionCode": "TW",
        "categoryId": "27",
        "options": {
          "description": "={{ $json.fields['故事內容'] }}",
          "embeddable": true,
          "privacyStatus": "public",
          "selfDeclaredMadeForKids": true
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        520,
        530
      ],
      "id": "161523ed-9111-44ee-a274-7ad45977130c",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "A7cw7kFBd4vcYSC8",
          "name": "YouTube account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all(); // 獲取所有傳入的資料項目\nconst names = [];\n\n// 迭代每一個輸入項目，取出 'name' 屬性\nfor (const item of inputItems) {\n  if (item.json && item.json.VideoPath) {\n    names.push(item.json.VideoPath);\n  }\n}\n\n// 將收集到的 'name' 陣列封裝成 { \"name\": [...] } 的物件\nreturn [{\n  json: {\n    video_sources: names\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1020,
        530
      ],
      "id": "78a12599-d225-4120-8bd2-7136fffa4c43",
      "name": "取得所有單一影音檔"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\n// 假設 HTTP 節點的二進位輸出位於 $input.first().binary.data\n// 您需要根據您的 HTTP 節點的實際輸出路徑調整\nconst binaryDataObject = $input.first().binary.data;\n\nif (binaryDataObject && binaryDataObject.data === 'filesystem-v2') {\n  try {\n    // 使用 this.helpers.getBinaryDataBuffer() 來讀取實際的二進位內容\n    // 參數 0: 表示處理第一個輸入項目\n    // 參數 'data': 這是二進位資料在 `item.binary` 中的屬性名稱\n    const binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n    // 將 Buffer 轉換為 Base64 字串\n    const base64String = binaryBuffer.toString('base64');\n\n    results.push({\n      json: {\n        base64Content: base64String,\n        fileName: binaryDataObject.fileName,\n        mimeType: binaryDataObject.mimeType,\n        fileExtension: binaryDataObject.fileExtension\n      }\n    });\n  } catch (error) {\n    console.error(\"無法取得或轉換二進位資料為 Base64:\", error);\n    results.push({\n      json: {\n        error: `處理二進位資料時發生錯誤: ${error.message}`\n      }\n    });\n  }\n} else {\n  results.push({\n    json: {\n      message: \"未找到有效的 'filesystem-v2' 二進位資料引用。\"\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        105
      ],
      "id": "b16f138b-c650-44bb-9c94-92f1dd38d435",
      "name": "取得圖檔內容"
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($json.data.Contect) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('設定變數').item.json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms×"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "={{ encodeURIComponent($('設定變數').item.json.system_prompt) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -880
      ],
      "id": "dcd72850-be66-4a16-9907-049b77c9b91a",
      "name": "產生分鏡",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($('設定變數').item.json.user_prompt) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('設定變數').item.json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=Please generate appropriate story content as requested and respond in JSON format as follows:\n{\n    \"Title\":[Story Title]\",\n    \"Contect\":[Story Content]\n}\n\nThe ending should be neutral, ambiguous, or directly related to the story's ending, without containing any grand philosophical exposition. Characters' actions and fates should reflect their motivations (e.g., self-interest, ambition, or specific goals), rather than being presented as allegories of moral behavior or broader moral lessons. Characters' successes or failures should stem directly from their choices and situations in the narrative, rather than from adherence to or deviation from universal moral good."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        -780
      ],
      "id": "8b5f45d9-c53e-45e0-885d-1f5edf1de9d7",
      "name": "產生故事",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58a40198-eba4-48ab-b93c-d132444e0f96",
              "name": "data",
              "value": "={{ JSON.parse($input.first().json.data)  }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -360,
        -780
      ],
      "id": "df33db4f-1d15-4844-aa9b-87b905f1cec0",
      "name": "Convert To Object"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://text.pollinations.ai/openai?referrer=gxrrgj6t-443.asse.devtunnels.ms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messages\":\n    [\n        {\n            \"content\": {{ JSON.stringify($('設定變數').item.json.gen_char_prompt) }},\n            \"role\": \"system\"\n        },\n        {\n            \"content\": {{ JSON.stringify($('整理故事').item.json.data.Contect) }},\n            \"role\": \"user\"\n        }\n    ],\n    \"model\": \"openai\",\n    \"private\": false,\n    \"token\": \"{{ $('設定變數').item.json.pollinations_token }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        -880
      ],
      "id": "39209ae8-a9fb-4acf-821e-9ae8cf4154f7",
      "name": "設定人物及場景",
      "executeOnce": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawString = $('產生分鏡').first().json.data;// 獲取你的輸入字串\nconst startDelimiter = '```json\\n';\nconst endDelimiter = '\\n```'; // 注意：這裡的結束分隔符只包含換行和三個反引號\nconst startIndex = rawString.indexOf(startDelimiter);\nconst endIndex = rawString.indexOf(endDelimiter, startIndex); // 從開始分隔符之後尋找結束分隔符\nlet jsonString;\n\nif (startIndex !== -1 && endIndex !== -1) {\n    // 找到了開頭和結尾分隔符\n    // 從 '```json\\n' 的下一個字元開始，直到 '\\n```' 的前一個字元\n    jsonString = rawString.substring(startIndex + startDelimiter.length, endIndex);\n} else {\n    // 如果沒有找到特定的包裹格式，則假設整個字串就是 JSON\n    console.warn('String does not seem to be wrapped with \"```json\\\\n\" and \"\\\\n```\". Attempting direct parse.');\n    jsonString = rawString;\n}\ntry {\n    const jsonObject = JSON.parse(jsonString);\n    return jsonObject;\n} catch (e) {\n    throw new Error(`Failed to parse JSON. Raw string (or extracted part): \"${jsonString.substring(0, 200)}...\" Error: ${e.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        -880
      ],
      "id": "2eb6e761-e0cd-46a0-8537-edcb9fca9e5d",
      "name": "取得分鏡Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        -880
      ],
      "id": "8d614749-c361-4c5f-abe0-96c094797407",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblmxMe7DDQGJk8AF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "故事內容": "={{ $('整理故事').item.json.data.Contect }}",
            "故事": "={{ $('整理故事').item.json.data.Title }}",
            "角色設定": "={{ $('設定人物及場景').item.json.choices[0].message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "故事",
              "displayName": "故事",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "故事內容",
              "displayName": "故事內容",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "角色設定",
              "displayName": "角色設定",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        520,
        -880
      ],
      "id": "7a5bc56e-a587-44ed-b9b9-e1cd0a3fae1d",
      "name": "建立主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sequence": "={{ $json.sequence }}",
            "Paragraph": "={{ $json.paragraph }}",
            "Scene": "={{ JSON.stringify($json.scene) }}",
            "ParentRecordID": "={{ $('建立主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1180,
        -880
      ],
      "id": "7acb9cc3-0ab7-41fd-a4a8-f6e1fe2ad179",
      "name": "建立副檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f2b296b-72ce-4b56-b1e1-798553373cac",
              "leftValue": "={{ JSON.parse($json.data).IsFullStory  }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        -880
      ],
      "id": "53bdaf2e-3762-44fc-a780-f94cd0d6a62c",
      "name": "如果是完整故事"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c915e9d-6f8e-4469-bbcc-a31f1b427d31",
              "name": "data",
              "value": "={ \"Title\":\"{{ JSON.parse($json.data).Title  }}\", \"Contect\":{{ JSON.stringify($('設定變數').item.json.user_prompt) }} }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -360,
        -980
      ],
      "id": "04730edc-07e2-4288-9d3a-8527645dc8c1",
      "name": "直接拿輸入為故事內容"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc846706-8a8a-4ced-b2f5-1a6caefabf2a",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        -880
      ],
      "id": "7b4399d2-0e6d-435e-bfdb-85ccbe31251d",
      "name": "整理故事"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "Start",
            "RecordID": "={{ $('建立主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1400,
        -1080
      ],
      "id": "8371205a-5e32-4fe6-858e-ca181629ab94",
      "name": "Start",
      "executeOnce": true
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "主要資料建立完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "6d418a39-48e1-4b00-8335-c58dcc5f2a86",
      "name": "Send Analysis1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1180,
        -1080
      ],
      "webhookId": "d8167853-07b6-49d5-a19f-48e66e15be71",
      "typeVersion": 1.2,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Action": "SenceToVideo",
          "RecordID": "recglyKzmRRZcnm8a"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-07-02T02:40:55.000Z",
  "versionId": "1f71a5d4-8a09-43fb-864e-d11f0fcc089e"
}