workflows/M5kwLmysP5uu2Uwy.json
{
  "active": false,
  "connections": {
    "經濟日報分類入口": {
      "main": [
        [
          {
            "node": "抓取URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "抓取URL": {
      "main": [
        [
          {
            "node": "條列URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "條列URL": {
      "main": [
        [
          {
            "node": "最大筆數限制",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最大筆數限制": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得本文": {
      "main": [
        [
          {
            "node": "轉成Json物件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "轉成Json物件": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "資料不存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "資料不存在": {
      "main": [
        [
          {
            "node": "取得本文",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-28T13:42:27.784Z",
  "id": "M5kwLmysP5uu2Uwy",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Grab V1",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        680
      ],
      "id": "eaf79490-8ff3-4348-8a76-add4dfb74df2",
      "name": "經濟日報分類入口",
      "webhookId": "cfbb2bad-a895-446d-9d65-8b2dfc71c5f1",
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crawl4ai:11235/md",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "c",
              "value": "0"
            },
            {
              "name": "f",
              "value": "fit"
            },
            {
              "name": "=url",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        680
      ],
      "id": "d0a8a6bd-fb74-4f0e-af4e-a1124a71545f",
      "name": "抓取URL"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.markdown\nconst regex = /\\(https?:\\/\\/money.*?\\/story\\/.*?\\)/g\nconst regex_2 = /(http.?:[a-z0-9\\/_\\.\\?=]*) \"(.*)\"/\nconst lines = data.match(regex)\nconst today = new Date();\nconst year = today.getFullYear();\nconst month = String(today.getMonth() + 1).padStart(2, '0');\nconst day = String(today.getDate()).padStart(2, '0');\nconst currentDate = `${year}/${month}/${day}`\n\nconst stepA = lines.map(url => {\n    return { json: { url: url } }\n})\n\nconst stepB = stepA.map(data => {\n    const line_item = data.json.url.match(regex_2)\n    if (line_item != null && line_item.length > 2) {\n        return {\n            date: currentDate,\n            url: line_item[1],\n            title: line_item[2]\n        }\n    } else {\n        return {}\n    }\n})\nreturn stepB"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        680
      ],
      "id": "30411db0-f2d1-46ef-9277-76eb47ed2e2a",
      "name": "條列URL"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        860,
        680
      ],
      "id": "7693aa1d-a93a-46be-8648-a279b04413be",
      "name": "最大筆數限制"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crawl4ai:11235/md",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Loop Over Items').item.json.url }}"
            },
            {
              "name": "f",
              "value": "fit"
            },
            {
              "name": "c",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        280
      ],
      "id": "60d32827-8b51-4839-9474-9dce953834a0",
      "name": "取得本文"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.markdown;\n\n// 尋找標題和內容的起始與結束位置\nconst startOfTitle = body.indexOf(\"#\");\nconst endOfContent = body.indexOf(\"※\");\n\n// 如果找不到起始或結束標記，則回傳空值，避免錯誤\nif (startOfTitle === -1 || endOfContent === -1) {\n  return {\n    'url': $input.first().url,\n    'title': \"解析失敗\",\n    'content': body,\n  };\n}\n\n// 提取並處理標題與內容\nlet fullContent = body.substring(startOfTitle + 2, endOfContent).trim(); // +2 略過 \"# \" 並移除前後空白\n\nconst endOfTitle = fullContent.indexOf(\"\\n\");\nconst title = fullContent.substring(0, endOfTitle);\nlet content = fullContent.substring(endOfTitle + 1).trim(); // 提取內容並移除前後空白\n\n// 移除特定字串\ncontent = content.replace(\"文章相關個股\\n\", \"\");\n\nreturn {\n  'url': $input.first().json.url,\n  'title': title,\n  'content': content\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        280
      ],
      "id": "6d6c09dc-069a-413b-ac9c-3e693bcd34a4",
      "name": "轉成Json物件"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1AI8qur0_6OMZZqylof6_3PYer_2yEhm-Tj8Jvc_pEG4",
          "mode": "list",
          "cachedResultName": "經濟日報",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AI8qur0_6OMZZqylof6_3PYer_2yEhm-Tj8Jvc_pEG4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "TEST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AI8qur0_6OMZZqylof6_3PYer_2yEhm-Tj8Jvc_pEG4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}",
            "title": "={{ $json.title }}",
            "content": "={{ $json.content }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2318,
        630
      ],
      "id": "86699c07-afe0-4cc3-89af-37bed143ef59",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jbSByzKWoAd2kibE",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1080,
        680
      ],
      "id": "641d6091-c684-4ba1-99de-f82358dddcd7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AI8qur0_6OMZZqylof6_3PYer_2yEhm-Tj8Jvc_pEG4",
          "mode": "list",
          "cachedResultName": "經濟日報",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AI8qur0_6OMZZqylof6_3PYer_2yEhm-Tj8Jvc_pEG4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "TEST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AI8qur0_6OMZZqylof6_3PYer_2yEhm-Tj8Jvc_pEG4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "url",
              "lookupValue": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1300,
        280
      ],
      "id": "531c242f-b12c-4b4c-87c9-fe444ea27a17",
      "name": "Google Sheets1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jbSByzKWoAd2kibE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10f00c6c-1c42-47f3-a9d4-bc09ab1e79b2",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        280
      ],
      "id": "7e7caea5-9c50-41e5-b71e-5ed5b8d36aeb",
      "name": "資料不存在",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": "moneynews",
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.1,
      "position": [
        2196,
        30
      ],
      "id": "97d4f6c7-214d-44c1-ba62-3b7c0ea0267d",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2180,
        250
      ],
      "id": "7cd009ff-9624-4e88-bcd7-614caad8dfca",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "PkFzLXsW6A1eRV3Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('轉成Json物件').item.json.title }} - \n{{ $('轉成Json物件').item.json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2300,
        252.5
      ],
      "id": "9e5f60ef-35be-477e-8867-b0e89d541834",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1024,
        "chunkOverlap": 256,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2388,
        450
      ],
      "id": "65e44762-635c-404d-b10f-3fe1d299985c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        340,
        100
      ],
      "id": "fc71ff30-464e-4d1e-bbe6-5a1750ee6996",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"userInput\": \"幫忙找未上市櫃股票的新聞\"\n  \n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        100
      ],
      "id": "c5225baa-b90c-45d3-bbbe-4c04628820cf",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-28T16:22:49.000Z",
  "versionId": "488b22ec-c17e-4bc4-9fdf-20534ac0b501"
}