workflows/oKpCDunx3gvxe3sd.json
{
  "active": false,
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set From Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "AI_Agent_Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tokens": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chart": {
      "main": [
        [
          {
            "node": "Send Chart1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Values": {
      "main": [
        [
          {
            "node": "Get Chart URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chart URL": {
      "main": [
        [
          {
            "node": "Download Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Chart": {
      "main": [
        [
          {
            "node": "Technical Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Run Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Set Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set From Webhook": {
      "main": [
        [
          {
            "node": "AI_Agent_Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI_Agent_Node",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI_Agent_Node",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GetChart": {
      "ai_tool": [
        [
          {
            "node": "AI_Agent_Node",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI_Agent_Node": {
      "main": [
        [
          {
            "node": "Send Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Technical Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Technical Analysis",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Technical Analysis": {
      "main": [
        [
          {
            "node": "Send Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chart1": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Set Values1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Values1": {
      "main": [
        [
          {
            "node": "AI_Agent_Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-21T03:41:11.891Z",
  "id": "oKpCDunx3gvxe3sd",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "StockGemini",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "eabffcc7-693f-43a3-b1e9-28f3ee87fd4c",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        0,
        0
      ],
      "webhookId": "b9750656-1e47-4eb1-90b8-d038fb3cd535",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "9122d6ba-e435-4410-b55f-060690a6b73c",
      "name": "Send Analysis",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1100,
        200
      ],
      "webhookId": "b248db0a-fc41-4f96-a0f8-9a32aaab10e7",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "ticker"
            },
            {
              "name": "chart_style"
            }
          ]
        }
      },
      "id": "dc2496bf-ac65-41f4-a7a0-5eaf28b97f00",
      "name": "Workflow Input Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        760
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2aad542-6bab-450a-bcbd-8053dee6a218",
              "name": "output",
              "value": "={{ $('Technical Analysis').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e32db9c5-53f8-4011-9e56-be5351f990c0",
      "name": "response",
      "type": "n8n-nodes-base.set",
      "position": [
        1696,
        760
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "08777b34-dda8-4167-8dfc-d3b1055f7c58",
      "name": "Download Chart",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        660,
        760
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/advanced-chart/storage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"style\": \"{{ $json.chart_style }}\",\n  \"theme\": \"light\",\n  \"interval\": \"1W\",\n  \"symbol\": \"{{ $json.ticker }}\",\n  \"override\": {\n    \"showStudyLastValue\": false\n  },\n  \"studies\": [\n    {\n      \"name\": \"Volume\",\n      \"forceOverlay\": true\n    },\n{\n      \"name\": \"Relative Strength Index\"\n    },\n{\n      \"name\": \"Stochastic RSI\"\n}\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "788e983e-a807-4970-ab44-9030eb2f6a35",
      "name": "Get Chart URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        440,
        760
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "sedOlHxowWhIK8NO",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "5513588652",
        "file": "={{ $('Get Chart URL').item.json.url }}",
        "additionalFields": {}
      },
      "id": "174a8965-f2d0-48aa-8720-b096b4949b78",
      "name": "Send Chart",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1260,
        760
      ],
      "webhookId": "9d70ab8b-d1e3-4e69-b786-bf2f6aa32942",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b43e52ce-7691-4a9c-a0c3-bdebdbacb29b",
                    "leftValue": "={{ $json}}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Else"
            }
          ]
        },
        "options": {}
      },
      "id": "6a31c10c-0ea0-4d3b-93a5-0ad20d907005",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        220,
        0
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b17a56c7-b8f6-4f9f-9acc-1dd43445072f",
      "name": "Set Text",
      "type": "n8n-nodes-base.set",
      "position": [
        440,
        0
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf5f7210-5b54-4f4a-abf7-87873be82df4",
              "name": "ticker",
              "type": "string",
              "value": "={{ $json.ticker }}"
            },
            {
              "id": "12a27443-a009-4bd5-b33f-bcec74aa74c7",
              "name": "chart_style",
              "type": "string",
              "value": "={{ $json.chart_style }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a393d22-861e-4f3c-8830-edc8446f881f",
      "name": "Set Values",
      "type": "n8n-nodes-base.set",
      "position": [
        220,
        760
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0dcc7247-e0d7-42e8-bbfc-9291cfb59ad8",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b868f4c3-b9e9-4d51-8718-7f43a7e6deda",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        220,
        400
      ],
      "webhookId": "0dcc7247-e0d7-42e8-bbfc-9291cfb59ad8",
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1c18b3ab-4534-4cb8-b77f-2540a74c3805",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        440,
        1120
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "84dff258-18c5-4615-8e8f-4abdd6333a6a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        1120
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gxrrgj6t-443.asse.devtunnels.ms/webhook-test/12a80fbc-ac59-48f3-b6fd-683d7c420995",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=text",
              "value": "=Please analyze {{ $json.Name }} stocks"
            }
          ]
        },
        "options": {}
      },
      "id": "2150504d-8c95-4eff-ba3e-c36296886f2c",
      "name": "Run Agent",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        660,
        1120
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appV4DbeteFL3sLlz",
          "mode": "list",
          "cachedResultName": "TEST Base 1st",
          "cachedResultUrl": "https://airtable.com/appV4DbeteFL3sLlz"
        },
        "table": {
          "__rl": true,
          "value": "tblCtgkFsRxADsCCl",
          "mode": "list",
          "cachedResultName": "TEST Table 1",
          "cachedResultUrl": "https://airtable.com/appV4DbeteFL3sLlz/tblCtgkFsRxADsCCl"
        },
        "filterByFormula": "NOT({Name}='')",
        "options": {}
      },
      "id": "6dea88f3-81c9-49b6-a1d4-dc87cb0f4b9d",
      "name": "Get tokens",
      "type": "n8n-nodes-base.airtable",
      "position": [
        220,
        1120
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "type": "string",
              "value": "={{ $json.body.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f8cc7d73-14d0-4c0b-89c9-ca40549ca5c0",
      "name": "Set From Webhook",
      "type": "n8n-nodes-base.set",
      "position": [
        440,
        400
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        660,
        420
      ],
      "id": "3f68a479-c1fd-4a1d-8030-2f479a0f99b7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PkFzLXsW6A1eRV3Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "335458851"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        780,
        420
      ],
      "id": "2e247fe5-e659-438a-9d2b-a35203d3c3dc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "name": "GetChart",
        "description": "Call this tool to get an analysis of a requested stock. The URL that is output from this tool must be returned in markdown format. For example, ![](url)\n\nIt'll be obligatory to pass ticker and chart style. Both can be specified by user. If chart style is not specified by user, use \"candle\" as default. Possible options for style: [bar, candle, line, area, heikinAshi, hollowCandle, baseline, hiLo, column]",
        "workflowId": {
          "__rl": true,
          "value": "oKpCDunx3gvxe3sd",
          "mode": "list",
          "cachedResultName": "StockGemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ticker": "={{ $fromAI('query') }}",
            "chart_style": "candle"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ticker",
              "displayName": "ticker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chart_style",
              "displayName": "chart_style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "21f9d6f1-9eb7-4c86-89dd-25333c146ac7",
      "name": "GetChart",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        900,
        420
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Overview\n\nYou are an AI agent specializing in  analyzing stocks. You can perform technical analysis using the **GetChart** tool to generate stock graphs.\n\n\n# Instructions\n\n1. Begin by offering a warm and professional greeting.\n2. Maintain a conversational style when discussing finance and stock markets.\n3. If a user requests a technical analysis of a stock, supplying its ticker:\n- Stock ticker format: [EXCHANGE]:[SYMBOL]\n- If the user does not point out the [EXCHANGE], use a famous trading provider as [EXCHANGE].\n- The [SYMBOL] format must suit https://chart-img.com/\n- Send only the stock ticker to the GetChart tool.\n- Present the chart's analysis and insights in a conversational format.\n4. When addressing financial subjects, provide thorough, easy-to-understand explanations suitable for the user's knowledge.\n5. Refrain from giving direct financial recommendations(buy or sell) or making predictions.\n\n\n## Tools\n\n- **GetChart**: Used for generating stock graphs based on provided tickers.\n\n## Standard Operating Procedure\n\n1. Interact with the user: Maintain a professional and approachable demeanor.\n2. Conduct stock analysis:\n- Upon request for technical analysis, send the stock's ticker symbol to the GetChart tool.\n- Present the chart's findings in an easy-to-understand, conversational manner.\n3. Clarify financial topics: Simplify intricate terms into accessible explanations suitable for the user's knowledge level.\n4. Refrain from offering financial recommendations: Deliver information and analysis without suggesting specific actions.\n5. Verify user understanding: Ask clarifying questions to ensure all needs are met.\nReply format follows the CommonMark standard to ensure the stability and universality of the format.你會使用中文回覆。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        692,
        200
      ],
      "id": "cf37dc87-470d-4c7b-b434-5cb60eacdd8b",
      "name": "AI_Agent_Node"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        908,
        980
      ],
      "id": "4fa914f0-9372-4aa4-a811-0d0b6b5df829",
      "name": "Google Gemini Chat Model1",
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "PkFzLXsW6A1eRV3Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "335458848"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1028,
        980
      ],
      "id": "1ac04b47-710b-4c03-a845-ecaa710cbde9",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.url }}",
        "options": {
          "systemMessage": "# Professional Role\n\nYou are a financial analyst, specializing in the interpretive analysis of stock charts. Your primary responsibility is to scrutinize provided financial charts and deliver comprehensive assessments of their technical dimensions. This includes examining candlestick formations, Moving Average Convergence Divergence (MACD) metrics, trading volume patterns, **Relative Strength Index (RSI), Stochastic RSI**, and prevailing market sentiment. Your analysis should be a thorough dissection of the chart, pinpointing critical areas and offering practical insights.\n\nWhen evaluating a stock chart, ensure the inclusion of the following:\n\n1. **Candlestick Pattern Interpretation**:\n    - Recognize and articulate the significance of any notable candlestick formations (e.g., bullish engulfing, doji, hammer).\n    - Provide commentary on the prevailing market direction (upward, downward, or lateral).\n    - Identify potential zones for price surges or retracements.\n\n2. **Relative Strength Index (RSI) Examination**:\n    - **Extract the numerical RSI value from the chart.**\n    - Describe the current RSI value and its market positioning (e.g., overbought, oversold, neutral) **based on the extracted value.**\n    - Explain how the extracted RSI value and its trend either support or oppose the ongoing price trend.\n    - Identify any divergences between RSI values and price movement **that can be discerned from the chart.**\n\n3. **Stochastic RSI Scrutiny(Stoch RSI)**:\n    - **Extract the numerical values of the Stochastic RSI's K and D lines from the chart.**\n    - Detail the present values of the K and D lines **based on the extracted numerical data.**\n    - Analyze any crossovers or divergences observed between the K and D lines **based on the extracted values and their visual representation.**\n    - Explain how the extracted Stochastic RSI readings and their relationship either support or oppose the prevailing market momentum.\n\n\nDeliver your analysis with clarity, precision, and an emphasis on data. Your objective is to furnish traders and investors with actionable information that facilitates well-informed decision-making. Always justify your conclusions with clear reasoning derived from the chart. Reply format follows the CommonMark standard to ensure the stability and universality of the format.\n你會使用中文回覆。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        880,
        760
      ],
      "id": "0c96111e-14a6-404e-aba0-fe60ed830688",
      "name": "Technical Analysis"
    },
    {
      "parameters": {
        "chatId": "5513588652",
        "text": "={{ $('Technical Analysis').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "b20a7300-76b7-4b58-909c-ca02bbb78c05",
      "name": "Send Chart1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1476,
        760
      ],
      "webhookId": "9d70ab8b-d1e3-4e69-b786-bf2f6aa32942",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "formTitle": "請輸入您要查詢的資料",
        "formDescription": "標的物請符合以下格式\n[交易所]:[代碼]\n比如：\nBinance:ADAUSDT\nPYTH:AAPL",
        "formFields": {
          "values": [
            {
              "fieldLabel": "target",
              "placeholder": "PYTH:AAPL",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        220,
        200
      ],
      "id": "c0f91e74-0e15-4c90-8b23-870a2c7a82f6",
      "name": "On form submission",
      "webhookId": "113eacd0-d26f-4a16-bea6-14f8ac7adec6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e089180-b37c-4d5c-a381-e1c0d341d5dd",
              "name": "text",
              "value": "=請問{{ $json.target }}走勢如何？",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "73da229e-e555-4266-912f-7ed32f4e7f96",
      "name": "Set Values1",
      "type": "n8n-nodes-base.set",
      "position": [
        440,
        200
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2025-05-21T14:53:26.000Z",
  "versionId": "550e681e-a49c-4bfe-a805-f0b689c988ce"
}