workflows/QksLEgS1JQO7HKVM.json
{
  "active": false,
  "connections": {
    "設定變數": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "指令切換",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "步驟 - [生圖指令]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "圖檔轉影片開始",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "步驟 - [檢查圖片]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "照片轉影片": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最後的合併": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "確認合併狀態",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "記錄合併後檔案",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "確認合併狀態": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Send Analysis4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料要轉影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定風格": {
      "main": [
        [
          {
            "node": "組合URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組合URL": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔": {
      "main": [
        [
          {
            "node": "取得圖檔內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指令切換": {
      "main": [
        [
          {
            "node": "[重做指令]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "故事內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "故事內容": {
      "main": [
        [
          {
            "node": "設定變數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "圖檔轉影片開始": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合併檔案開始": {
      "main": [
        [
          {
            "node": "取得所有單一影音檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "步驟 - [生圖指令]": {
      "main": [
        [
          {
            "node": "設定Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得主檔": {
      "main": [
        [
          {
            "node": "取得分鏡資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得分鏡資料": {
      "main": [
        [
          {
            "node": "逐步取出資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新image": {
      "main": [
        [
          {
            "node": "逐步取出資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "逐步取出資料": {
      "main": [
        [
          {
            "node": "Send Analysis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料待生圖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "步驟 - [檢查圖片]": {
      "main": [
        [
          {
            "node": "取得故事主檔_VerifyImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔資料": {
      "main": [
        [
          {
            "node": "依序處理場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "取得縮圖圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取出縮圖做為後續判斷": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得縮圖圖檔": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得故事主檔_VerifyImage": {
      "main": [
        [
          {
            "node": "取得圖檔資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "建立圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立圖檔": {
      "main": [
        [
          {
            "node": "更新image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[重做指令]": {
      "main": [
        [
          {
            "node": "重做指令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料待生圖": {
      "main": [
        [
          {
            "node": "Send Analysis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "產生圖檔描寫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料待生圖1": {
      "main": [
        [
          {
            "node": "Send Analysis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取出縮圖做為後續判斷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果無資料要轉影片": {
      "main": [
        [
          {
            "node": "Send Analysis4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取得圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定Prompt": {
      "main": [
        [
          {
            "node": "取得主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis2": {
      "main": [
        [
          {
            "node": "選圖檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis3": {
      "main": [
        [
          {
            "node": "轉影片1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis4": {
      "main": [
        [
          {
            "node": "合併影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下載完成檔": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "依序處理場景": {
      "main": [
        [
          {
            "node": "Send Analysis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "如果無資料待生圖1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "合併檔案開始",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "記錄合併後檔案": {
      "main": [
        [
          {
            "node": "下載完成檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Send Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得所有單一影音檔": {
      "main": [
        [
          {
            "node": "最後的合併",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得圖檔內容": {
      "main": [
        [
          {
            "node": "照片轉影片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生故事": {
      "main": [
        [
          {
            "node": "Convert To Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Object": {
      "main": [
        [
          {
            "node": "整理故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得分鏡Code": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Send Analysis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "建立副檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立主檔": {
      "main": [
        [
          {
            "node": "取得分鏡Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立副檔": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "如果是完整故事": {
      "main": [
        [
          {
            "node": "直接拿輸入為故事內容",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "產生故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "直接拿輸入為故事內容": {
      "main": [
        [
          {
            "node": "整理故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理故事": {
      "main": [
        [
          {
            "node": "產生分鏡",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis1": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "取得故事分類",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "取得故事分類": {
      "main": [
        [
          {
            "node": "如果是完整故事",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "產生分鏡",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "產生分鏡": {
      "main": [
        [
          {
            "node": "設定人物及場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "設定人物及場景",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "設定人物及場景": {
      "main": [
        [
          {
            "node": "建立主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "產生圖檔描寫",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "產生圖檔描寫": {
      "main": [
        [
          {
            "node": "設定風格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "取得張數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得張數": {
      "main": [
        [
          {
            "node": "只保留一張",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "只保留一張": {
      "main": [
        [
          {
            "node": "依序處理場景",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-30T12:46:10.773Z",
  "id": "QksLEgS1JQO7HKVM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "繪本Gemini-Youtube",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d37851e8-b1cc-4b0c-9d9b-3b9c93678916",
              "name": "system_prompt",
              "value": "You are an expert in designing detailed storyboards for children, specifically for 12-year-old readers. Your goal is to create rich, sequential storyboard content, similar to a comic book style, based on the user's provided story.\n\nEach storyboard must be a distinct, independent scene and must include concise story narration along with a corresponding detailed scene description, suitable for a comic book layout. Prioritize creating **more numerous storyboards** with **very short, impactful narration** (ideally 2-3 sentences per paragraph, designed for 5-15 seconds of audio playback).\n\nPlease reply in **JSON format**, more than 15 objects, where each object must contain the following three properties:\n\n1.  **\"sequence\"**: The sequence number of the scene.\n2.  **\"paragraph\"**: The story content, presented in English. optimized for short audio segments (5-15 seconds).\n3.  **\"scene\"**: The scene description, presented in English, contains the following three sub-properties:\n    * **\"description\"**: A detailed description of the scene, focusing on visual elements and atmosphere.\n    * **\"characters\"**: A description of the characters' appearances, expressions, and positioning within the scene.\n\n**Example Output:**\n\n```json\n[\n  {\n    \"sequence\": 1,\n    \"paragraph\": \"On a sunny morning, the North Wind and the Sun spotted each other across a wide, green meadow.\",\n    \"scene\": {\n      \"characters\": \"The Sun, a cheerful, radiant figure with a soft golden glow. The North Wind, a swirling, slightly mischievous figure with frosty edges.\",\n      \"description\": \"A vibrant morning scene. A clear, cerulean sky with wispy clouds stretches above a vast, sun-drenched meadow.\"\n    }\n  }\n]",
              "type": "string"
            },
            {
              "id": "798cfcb3-0f86-4efb-93a7-d7c4ae75d642",
              "name": "user_prompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "915613f9-1411-405f-bd5f-5fea7711ac0b",
              "name": "gen_char_prompt",
              "value": "You are an expert in designing initial visual appearances for characters and objects based on specific requirements. Your task is to analyze the provided story content and extract its key characters and important objects. For each identified character and object, you will generate a detailed visual description optimized for AI image generation.\n\nYour response must be in **JSON format** and structured as an array of objects. Each object will represent either a character or an object and must include the following attributes:\n\n1.  **\"name\"** (string): The clear, concise name of the character or object (e.g., \"Captain Kael\", \"The Obsidian Orb\").\n2.  **\"type\"** (string): Specify if it's a \"character\" or an \"object\".\n3.  **\"description\"** (string): This will be your main AI image prompt. Provide a comprehensive visual description.\n    * **For characters**: **Crucially, include all visible appearance details to ensure consistency across generations, such as:**\n        * **Skin tone** (e.g., fair, olive, dark brown)\n        * **Face shape** (e.g., oval, square, heart-shaped)\n        * **Hair style and color** (e.g., long wavy black hair, short spiky blonde hair)\n        * **Eye color and shape** (e.g., bright blue almond eyes)\n        * **Body build/type** (e.g., slender, muscular, average)\n        * **Specific facial features** (e.g., freckles, scar over left eye, prominent cheekbones)\n        * **Clothing style, patterns, and materials** (e.g., a flowing velvet robe with gold embroidery, worn denim jacket, sturdy leather boots)\n        * **Accessories or adornments** (e.g., a silver locket, intricate ear piercings, a utility belt with pouches)\n        * **Any visible items carried or held** (e.g., a staff carved with runes, an antique pocket watch)\n        * **Overall demeanor or expression** (e.g., a determined gaze, a mischievous smirk)\n    * **For objects**: Describe material, form, texture, state, and any defining details.\n\n```json\n[\n  {\n    \"name\": \"Captain Kael\",\n    \"type\": \"character\",\n    \"description\": \"A rugged male human, late 30s, with olive skin and a square jawline. He has a neatly trimmed dark brown beard and piercing bright blue almond eyes. His build is broad-shouldered and muscular. He wears a worn, dark brown leather trench coat with heavy brass buttons over a dark grey wool tunic, reinforced with tarnished steel pauldrons. A vintage brass compass hangs from a thick leather cord around his neck, and he has a deep, thin scar running down his right cheekbone. His sturdy leather boots are scuffed, and he carries a heavy iron-wood axe strapped to his back. His expression is resolute and slightly grim.\"\n  },\n  {\n    \"name\": \"The Obsidian Orb\",\n    \"type\": \"object\",\n    \"description\": \"A perfectly spherical orb, about 10 cm in diameter, crafted from highly polished obsidian. Its surface is incredibly smooth and reflects light with a deep, inky sheen, occasionally revealing subtle, swirling patterns within its depths. It emits a faint, cold, wispy mist that gently curls around its base.\"\n  }\n]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        -900
      ],
      "id": "6dd5659f-f5ea-4fe1-9920-f7ecb6c197ca",
      "name": "設定變數"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1900,
        -1050
      ],
      "id": "82c4d177-db76-40d5-a0fa-919fd5bf7c25",
      "name": "Telegram Trigger",
      "webhookId": "bd4525b1-4785-4053-aed0-b37e84886452",
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Action"
            },
            {
              "name": "RecordID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1900,
        410
      ],
      "id": "f4fe283c-321a-44b4-823c-a0b08aec9e6f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7704c244-855a-4d4e-ad63-f3a119200ecb",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "Start",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "SenceToVideo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33fee299-2cd3-4d03-9504-5be11d3f31af"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e173d0e-6efb-4a39-91f4-a387d58f4cfa",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "MergeVideo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f5aa4e5-c96a-44e1-bbfb-6b51c4433177",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "VerifyImage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1680,
        389
      ],
      "id": "5399fdc5-0591-48b8-ae01-e8656c4df8d5",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ParentRecordID": "={{ $('When Executed by Another Workflow').item.json.RecordID }}",
            "Sequence": "={{ $('Loop Over Items1').item.json.Sequence }}",
            "AudioDuration": "={{ $('Get Status').item.json.data.audio_duration }}",
            "VideoPath": "={{ $('Get Status').item.json.data.videos[0] }}"
          },
          "matchingColumns": [
            "ParentRecordID",
            "Sequence"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        754,
        310
      ],
      "id": "c36333e6-4def-438c-bb7d-e35ca12f8c0f",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/imagesubtitle",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"bgm_file\": \"\",\n    \"bgm_type\": \"random\",\n    \"bgm_volume\": 0.2,\n    \"font_name\": \"STHeitiMedium.ttc\",\n    \"font_size\": 60,\n    \"image_base64\": \"{{ $json.base64Content }}\",\n    \"stroke_color\": \"#000000\",\n    \"stroke_width\": 1.5,\n    \"subtitle_enabled\": \"true\",\n    \"subtitle_position\": \"bottom\",\n    \"text_background_color\": true,\n    \"text_fore_color\": \"#FFFFFF\",\n    \"video_language\": \"en-us\",\n    \"video_script\": \"{{ $('取得圖檔').item.json.Paragraph.replace(/\"/g, '\\\\\"') }}\",\n    \"video_source\": \"local\",\n    \"voice_name\": \"pollinations:coral\",\n    \"voice_rate\": 1.0,\n    \"voice_volume\": 1.0,\n    \"use_dynamic_effects\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        235
      ],
      "id": "7a706b91-b1c5-486c-b182-5a35dbe6ae0a",
      "name": "照片轉影片"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -62,
        235
      ],
      "id": "b61d110c-ab41-47f3-a0c8-1ae67c74fbff",
      "name": "Wait",
      "webhookId": "09a480d9-969b-4f63-a25d-9d79232eecab"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        236,
        160
      ],
      "id": "c6a1b62d-480e-42e7-8be5-489f494c8f0e",
      "name": "Get Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b6fe6d5-027e-40a6-b4a5-47333a06edd8",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        456,
        235
      ],
      "id": "0ca288a5-00de-4a86-97b4-f44cc217f2a2",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/merge",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        660
      ],
      "id": "ecb9d57d-1d67-4705-abe9-d0766698ae2a",
      "name": "最後的合併"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -580,
        660
      ],
      "id": "a98cd902-3dd3-481d-9206-40288b8ba4e5",
      "name": "Wait1",
      "webhookId": "fb988a41-4d41-4873-8767-3a14f835b2ec"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b6fe6d5-027e-40a6-b4a5-47333a06edd8",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -62,
        660
      ],
      "id": "a0375496-fe55-49b4-8d89-745eee05dc6e",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "影片製做並上傳Youtube完成",
        "additionalFields": {}
      },
      "id": "aaf4c51a-65b1-4cfc-92fd-8f01680eb44a",
      "name": "Send Analysis",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1052,
        660
      ],
      "webhookId": "7b6d4bc1-283c-4a7b-b171-9165a4d43f29",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        585
      ],
      "id": "850a50b3-84d4-458f-bcf9-637fe4b03aed",
      "name": "確認合併狀態"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1240,
        185
      ],
      "id": "07080c6a-628c-4eba-a955-5ee1c1748eaf",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25124828-d738-4a6c-9554-f091cb606b9e",
              "name": "message.content",
              "value": "={{ $json.output }}\nGuidance: Disney 3D animation, Pixar-style rendering, stylized realism, soft lighting, detailed textures, expressive characters. A charming Disney 3D animation style, reminiscent of Pixar, featuring stylized yet realistic rendering, soft and inviting lighting, meticulously crafted textures, and highly expressive character designs.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        236,
        -240
      ],
      "id": "80419865-ac7b-4455-93ed-675603967bde",
      "name": "設定風格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52dba29a-4770-485c-a792-ab67227c788a",
              "name": "=URL",
              "value": "=[\n    \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=xpJ5N0yfR0GOIUfl&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1280&height=720&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n    \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1280&height=720&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n    \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1280&height=720&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\",\n    \"https://image.pollinations.ai/prompt/{{encodeURIComponent($json.message.content)}}?token=v58NNo7fauiWtBsS&referrer=gxrrgj6t-443.asse.devtunnels.ms&private=true&width=1280&height=720&nologo=true&model=flux&seed={{ Math.floor(Math.random() * (999999 - 100000 + 1)) + 100000 }}\"\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        456,
        -240
      ],
      "id": "a09a69c0-1e42-4ad3-8d7d-c9b72f02a512",
      "name": "組合URL"
    },
    {
      "parameters": {
        "url": "={{ $json.PickedImage[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        235
      ],
      "id": "ffa00fc5-189f-4ee1-92ae-dd852a1d2377",
      "name": "取得圖檔"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "MergeVideo",
            "RecordID": "={{ $('When Executed by Another Workflow').item.json.RecordID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -580,
        -40
      ],
      "id": "59df4b53-6bd9-4b94-a72a-aab89583a4c1",
      "name": "合併影片",
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e3ed24d1-3d28-467e-b191-5eea690ecc92"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd39ccd2-cd4a-4723-87a5-81a9246643a5",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1680,
        -1050
      ],
      "id": "a7843c6d-e046-46f6-9eff-9535ac90f964",
      "name": "指令切換"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -900
      ],
      "id": "4632373b-c49a-4e2d-bad3-d4f3ae38973b",
      "name": "故事內容"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.RecordID }}\"), ({VideoPath} = \"\")) ",
        "returnAll": false,
        "options": {
          "fields": [
            "PickedImage",
            "Paragraph",
            "Sequence"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "Sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1460,
        185
      ],
      "id": "f7d971da-b1ed-4be2-84f5-117abda8ee49",
      "name": "圖檔轉影片開始",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.RecordID }}\"), ({VideoPath} != \"\")) ",
        "options": {
          "fields": [
            "VideoPath"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "Sequence"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1240,
        660
      ],
      "id": "cf754f5a-21db-41b1-b8d6-4e518a122d3e",
      "name": "合併檔案開始",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -290
      ],
      "id": "b1abd37d-a234-412e-853a-81656d8ab5e6",
      "name": "步驟 - [生圖指令]"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "id": "={{ $('When Executed by Another Workflow').item.json.RecordID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1020,
        -290
      ],
      "id": "4f13c65a-afdc-419a-82ba-e709187b456f",
      "name": "取得主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.id }}\"), ({ImagePrompt} = \"\")) ",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -800,
        -290
      ],
      "id": "a4d72816-d50d-4954-9e32-406e5e3ed870",
      "name": "取得分鏡資料",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/appLQFFC5m0OWvKwr/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('逐步取出資料').item.json.id }}",
            "ImagePrompt": "={{ $('產生圖檔描寫').item.json.output }}",
            "Images": "=[\n    {\n        \"url\": \"{{$input.all()[0].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[1].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[2].json.URL}}\"\n    },\n    {\n        \"url\": \"{{$input.all()[3].json.URL}}\"\n    }\n]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1272,
        -190
      ],
      "id": "1d56bce4-8938-429b-85e5-7641cd6008ab",
      "name": "更新image",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -580,
        -290
      ],
      "id": "f28731fd-60f8-4406-ae69-9dd626780537",
      "name": "逐步取出資料"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        1110
      ],
      "id": "53c25076-7d5f-435f-b238-fee14d850716",
      "name": "步驟 - [檢查圖片]"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "filterByFormula": "=AND(({ParentRecordID} = \"{{ $json.id }}\"), ({ImagePrompt} != \"\"), {PickedImage} = \"\") ",
        "options": {
          "fields": [
            "Images"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1020,
        1110
      ],
      "id": "760590d6-d3da-4faf-b118-be9cea414747",
      "name": "取得圖檔資料",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -62,
        1160
      ],
      "id": "3944472d-aa73-42ed-98b3-3c28e7480fab",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        456,
        1160
      ],
      "id": "ad61cf66-15bf-4639-959a-c1fe093c8eb0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.first().json.Images; // 獲取所有傳入的資料項目\nconst names = [];\n\n// 迭代每一個輸入項目，取出 'name' 屬性\nfor (const item of inputItems)\n{\n    names.push(item.thumbnails.large.url);\n}\n\n// 將收集到的 'name' 陣列封裝成 { \"name\": [...] } 的物件\nreturn [\n{\n    json:\n    {\n        image_url: names\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        1160
      ],
      "id": "1ff94367-371a-488d-965f-5651e5f2e3d0",
      "name": "取出縮圖做為後續判斷"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        236,
        1160
      ],
      "id": "9b7c0bf1-a20d-4204-8c92-d4862eb8856e",
      "name": "取得縮圖圖檔"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblmxMe7DDQGJk8AF"
        },
        "id": "={{ $json.RecordID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1240,
        1110
      ],
      "id": "6cb8975d-c4ef-44e4-bb2b-298a72a48de3",
      "name": "取得故事主檔_VerifyImage",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "URL",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        754,
        -240
      ],
      "id": "568d66d5-22ae-410c-8270-23808cd36115",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1052,
        -240
      ],
      "id": "186d900f-dcd3-4659-b54d-7fe2363a44b6",
      "name": "建立圖檔",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "SenceToVideo",
            "RecordID": "={{ $('取得故事主檔_VerifyImage').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -62,
        935
      ],
      "id": "3c182788-64e2-4749-b2be-8521dae5ef4b",
      "name": "轉影片1",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -1100
      ],
      "id": "4f8e069d-01b9-4bda-8df3-8932ce20b21a",
      "name": "[重做指令]"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "={{ $json.message.text.substring(1).split(' ')[0] }}",
            "RecordID": "={{ $json.message.text.substring(1).split(' ')[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1240,
        -1100
      ],
      "id": "e2eaebcf-b27a-4e3a-a103-48fdd2f6919e",
      "name": "重做指令",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -360,
        -290
      ],
      "id": "50b58a0e-55e5-4cad-9ee7-6cf2adc0d8b9",
      "name": "如果無資料待生圖"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -580,
        1110
      ],
      "id": "dcc1623d-b2a1-40b9-9371-c8f7d7014991",
      "name": "如果無資料待生圖1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ca5df0-880b-4b63-92de-7ab786fabe85",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1020,
        185
      ],
      "id": "22086e66-f92a-421f-a9fd-47a7b6405a08",
      "name": "如果無資料要轉影片"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "VerifyImage",
            "RecordID": "={{ $('取得主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        236,
        -540
      ],
      "id": "ca28402e-dc31-4124-b583-299967d485c7",
      "name": "選圖檔",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0e75319-bce9-4fbd-812e-024892a120ad",
              "name": "gen_image_prompt",
              "value": "=You are an expert at creating English descriptions for AI image generation. Your output must align with the provided story's plot and content, specifically for a children's picture book suitable for 12-year-olds.\n\nThe story content is as follows:\nXXXX\n\nThe page elements are defined as follows (if any elements are used, they must strictly follow these definitions for their descriptions). If there is more than one character, provide a complete and distinct visual description for EACH character to prevent distorted or inconsistent image generation:\nYYYY\n\nProvide only the English descriptions, with no additional replies or conversational fillers.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        -290
      ],
      "id": "7cd38c70-b348-41fa-818b-bf98c1615a5a",
      "name": "設定Prompt"
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "圖檔建立完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ff82c6fd-1c8e-48cb-b5dc-202e00e38bd6",
      "name": "Send Analysis2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -62,
        -540
      ],
      "webhookId": "f3650a82-3d96-4eae-89c5-b3f8338f70ff",
      "typeVersion": 1.2,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "選圖完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "5df2b432-0cd9-43f7-bcf9-71dcffd5926c",
      "name": "Send Analysis3",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -360,
        935
      ],
      "webhookId": "e590cf58-8415-402e-af92-6d9a1df6eec8",
      "typeVersion": 1.2,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "圖轉影片完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "c9372746-2c81-47f7-9d2c-305c0d175366",
      "name": "Send Analysis4",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -800,
        -40
      ],
      "webhookId": "6ddd4d9f-6fb6-4403-9e30-ee137e0ff814",
      "typeVersion": 1.2,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.fields.FinalResult }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        456,
        660
      ],
      "id": "1ebeecf0-8530-462e-b098-f75096102a89",
      "name": "下載完成檔"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -800,
        1110
      ],
      "id": "525f0991-491a-4067-8933-cf5b97e8d6ae",
      "name": "依序處理場景"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "223c63d7-63ed-4a45-b518-7b6dd9df8f8c",
              "name": "RecordID",
              "value": "={{ $json.RecordID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1460,
        660
      ],
      "id": "06886a56-0f95-4533-ac6c-60818b9e2ded",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblmxMe7DDQGJk8AF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FinalResult": "={{ $json.data.merged_video }}",
            "id": "={{ $('Edit Fields').first().json.RecordID }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "故事",
              "displayName": "故事",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "故事內容",
              "displayName": "故事內容",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "角色設定",
              "displayName": "角色設定",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FinalResult",
              "displayName": "FinalResult",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        236,
        660
      ],
      "id": "7888ac14-5e9a-433b-baea-b719782f9789",
      "name": "記錄合併後檔案",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.fields['故事'] }}",
        "regionCode": "TW",
        "categoryId": "27",
        "options": {
          "description": "={{ $json.fields['故事內容'] }}",
          "embeddable": true,
          "privacyStatus": "public",
          "selfDeclaredMadeForKids": true
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        754,
        660
      ],
      "id": "82e20dfa-bfac-40e0-8e14-0e010ade3e65",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "A7cw7kFBd4vcYSC8",
          "name": "YouTube account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all(); // 獲取所有傳入的資料項目\nconst names = [];\n\n// 迭代每一個輸入項目，取出 'name' 屬性\nfor (const item of inputItems) {\n  if (item.json && item.json.VideoPath) {\n    names.push(item.json.VideoPath);\n  }\n}\n\n// 將收集到的 'name' 陣列封裝成 { \"name\": [...] } 的物件\nreturn [{\n  json: {\n    video_sources: names\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1020,
        660
      ],
      "id": "f75d00a9-233a-493f-a715-6e38a5cf6deb",
      "name": "取得所有單一影音檔"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\n// 假設 HTTP 節點的二進位輸出位於 $input.first().binary.data\n// 您需要根據您的 HTTP 節點的實際輸出路徑調整\nconst binaryDataObject = $input.first().binary.data;\n\nif (binaryDataObject && binaryDataObject.data === 'filesystem-v2') {\n  try {\n    // 使用 this.helpers.getBinaryDataBuffer() 來讀取實際的二進位內容\n    // 參數 0: 表示處理第一個輸入項目\n    // 參數 'data': 這是二進位資料在 `item.binary` 中的屬性名稱\n    const binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n    // 將 Buffer 轉換為 Base64 字串\n    const base64String = binaryBuffer.toString('base64');\n\n    results.push({\n      json: {\n        base64Content: base64String,\n        fileName: binaryDataObject.fileName,\n        mimeType: binaryDataObject.mimeType,\n        fileExtension: binaryDataObject.fileExtension\n      }\n    });\n  } catch (error) {\n    console.error(\"無法取得或轉換二進位資料為 Base64:\", error);\n    results.push({\n      json: {\n        error: `處理二進位資料時發生錯誤: ${error.message}`\n      }\n    });\n  }\n} else {\n  results.push({\n    json: {\n      message: \"未找到有效的 'filesystem-v2' 二進位資料引用。\"\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        235
      ],
      "id": "b4444709-ab80-4dbb-9936-f0d8d4c38cff",
      "name": "取得圖檔內容"
    },
    {
      "parameters": {
        "url": "=https://text.pollinations.ai/{{ encodeURIComponent($('設定變數').item.json.user_prompt) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('設定變數').item.json.pollinations_token }}"
            },
            {
              "name": "referrer",
              "value": "gxrrgj6t-443.asse.devtunnels.ms"
            },
            {
              "name": "seed",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "model",
              "value": "openai"
            },
            {
              "name": "temperature",
              "value": "1.0"
            },
            {
              "name": "json",
              "value": "false"
            },
            {
              "name": "system",
              "value": "=Please generate appropriate story content as requested and respond in JSON format as follows:\n{\n    \"Title\":[Story Title]\",\n    \"Contect\":[Story Content]\n}\n\nThe ending should be neutral, ambiguous, or directly related to the story's ending, without containing any grand philosophical exposition. Characters' actions and fates should reflect their motivations (e.g., self-interest, ambition, or specific goals), rather than being presented as allegories of moral behavior or broader moral lessons. Characters' successes or failures should stem directly from their choices and situations in the narrative, rather than from adherence to or deviation from universal moral good."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -204,
        -800
      ],
      "id": "57530bb1-b6c3-4128-92a2-8c48dcc4977b",
      "name": "產生故事",
      "credentials": {
        "httpBearerAuth": {
          "id": "VeQg4nYZVc5tRPce",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58a40198-eba4-48ab-b93c-d132444e0f96",
              "name": "data",
              "value": "={{ JSON.parse($input.first().json.data)  }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -800
      ],
      "id": "b73b5b28-933f-4dc9-97e0-03e53d9c4398",
      "name": "Convert To Object"
    },
    {
      "parameters": {
        "jsCode": "const rawString = $('產生分鏡').first().json.output;// 獲取你的輸入字串\nconst startDelimiter = '```json\\n';\nconst endDelimiter = '\\n```'; // 注意：這裡的結束分隔符只包含換行和三個反引號\nconst startIndex = rawString.indexOf(startDelimiter);\nconst endIndex = rawString.indexOf(endDelimiter, startIndex); // 從開始分隔符之後尋找結束分隔符\nlet jsonString;\n\nif (startIndex !== -1 && endIndex !== -1) {\n    // 找到了開頭和結尾分隔符\n    // 從 '```json\\n' 的下一個字元開始，直到 '\\n```' 的前一個字元\n    jsonString = rawString.substring(startIndex + startDelimiter.length, endIndex);\n} else {\n    // 如果沒有找到特定的包裹格式，則假設整個字串就是 JSON\n    console.warn('String does not seem to be wrapped with \"```json\\\\n\" and \"\\\\n```\". Attempting direct parse.');\n    jsonString = rawString;\n}\ntry {\n    const jsonObject = JSON.parse(jsonString);\n    return jsonObject;\n} catch (e) {\n    throw new Error(`Failed to parse JSON. Raw string (or extracted part): \"${jsonString.substring(0, 200)}...\" Error: ${e.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1428,
        -900
      ],
      "id": "3c3cf33c-77b7-4cf3-bfc4-a9f40325e680",
      "name": "取得分鏡Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1648,
        -900
      ],
      "id": "09f50b28-b6fb-4abf-8136-07a064cc3285",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblmxMe7DDQGJk8AF",
          "mode": "list",
          "cachedResultName": "主檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblmxMe7DDQGJk8AF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "故事內容": "={{ $('整理故事').item.json.data.Contect }}",
            "故事": "={{ $('整理故事').item.json.data.Title }}",
            "角色設定": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "故事",
              "displayName": "故事",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "故事內容",
              "displayName": "故事內容",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "角色設定",
              "displayName": "角色設定",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FinalResult",
              "displayName": "FinalResult",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1208,
        -900
      ],
      "id": "f675820d-2eeb-4b27-be1f-3087faa90b24",
      "name": "建立主檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sequence": "={{ $json.sequence }}",
            "Paragraph": "={{ $json.paragraph }}",
            "Scene": "={{ JSON.stringify($json.scene) }}",
            "ParentRecordID": "={{ $('建立主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1868,
        -900
      ],
      "id": "537c7ffd-4433-4595-853a-64e8a3e9536d",
      "name": "建立副檔",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f2b296b-72ce-4b56-b1e1-798553373cac",
              "leftValue": "={{ $json.IsFullStory }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -424,
        -900
      ],
      "id": "7947d2d1-5fbc-4090-ad98-72b5fda5909e",
      "name": "如果是完整故事"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c915e9d-6f8e-4469-bbcc-a31f1b427d31",
              "name": "data",
              "value": "={ \"Title\":\"{{ $json.Title }}\", \"Contect\":{{ JSON.stringify($('設定變數').item.json.user_prompt) }} }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -1000
      ],
      "id": "ba52cbef-363d-42f4-ad84-02586f182585",
      "name": "直接拿輸入為故事內容"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc846706-8a8a-4ced-b2f5-1a6caefabf2a",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        236,
        -900
      ],
      "id": "85d16576-2e52-4ad1-92b1-21f597855699",
      "name": "整理故事"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Action": "Start",
            "RecordID": "={{ $('建立主檔').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordID",
              "displayName": "RecordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2088,
        -1100
      ],
      "id": "943f7d9d-39f7-460a-a3cd-8ee2887cc95b",
      "name": "Start",
      "executeOnce": true
    },
    {
      "parameters": {
        "chatId": "=5513588652",
        "text": "主要資料建立完成",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "fbaa3ce7-5bd3-45db-b591-2c623f34fd98",
      "name": "Send Analysis1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1868,
        -1100
      ],
      "webhookId": "23f82c15-f3e4-47f0-9b50-335302a9816a",
      "typeVersion": 1.2,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "0vSzsoInEfTGHS1W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_prompt }}",
        "options": {
          "systemMessage": "=Please confirm whether the input content is a complete story. Only the story name or story outline is not complete. If it is a complete story, please name the story. You will reply in Json format, as follows:\n{\n    \"IsFullStory\":[Is it a complete story, true or false],\n    \"Title\":\"[Story name]\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1020,
        -900
      ],
      "id": "d407eb98-1bfa-4a39-8406-38b214e916af",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -932,
        -680
      ],
      "id": "8094e2ed-cefc-4590-8664-7830824622e3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PkFzLXsW6A1eRV3Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawString = $input.first().json.output\nconst startDelimiter = '```json\\n';\nconst endDelimiter = '\\n```'; // 注意：這裡的結束分隔符只包含換行和三個反引號\nconst startIndex = rawString.indexOf(startDelimiter);\nconst endIndex = rawString.indexOf(endDelimiter, startIndex); // 從開始分隔符之後尋找結束分隔符\nlet jsonString;\n\nif (startIndex !== -1 && endIndex !== -1) {\n    // 找到了開頭和結尾分隔符\n    // 從 '```json\\n' 的下一個字元開始，直到 '\\n```' 的前一個字元\n    jsonString = rawString.substring(startIndex + startDelimiter.length, endIndex);\n} else {\n    // 如果沒有找到特定的包裹格式，則假設整個字串就是 JSON\n    console.warn('String does not seem to be wrapped with \"```json\\\\n\" and \"\\\\n```\". Attempting direct parse.');\n    jsonString = rawString;\n}\ntry {\n    const jsonObject = JSON.parse(jsonString);\n    return jsonObject;\n} catch (e) {\n    throw new Error(`Failed to parse JSON. Raw string (or extracted part): \"${jsonString.substring(0, 200)}...\" Error: ${e.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -644,
        -900
      ],
      "id": "d97e7811-49af-4639-9552-2c4904adb38c",
      "name": "取得故事分類"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        -680
      ],
      "id": "6fafd8ed-6bbb-4471-bbde-f54b772989d1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "PkFzLXsW6A1eRV3Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.Contect }}",
        "options": {
          "systemMessage": "={{ $('設定變數').item.json.system_prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        456,
        -900
      ],
      "id": "b58caed4-8b45-4c5b-a73f-6694b82cb7f6",
      "name": "產生分鏡"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        920,
        -680
      ],
      "id": "472febf8-eb74-4c29-9d00-cc9dcee3ba07",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "PkFzLXsW6A1eRV3Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('整理故事').item.json.data.Contect }}",
        "options": {
          "systemMessage": "={{ $('設定變數').item.json.gen_char_prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        832,
        -900
      ],
      "id": "4b978926-ef5c-427c-a22c-354f38b4ca7d",
      "name": "設定人物及場景"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "請挑選一張繪畫風格符合的圖片，若圖片中有人物或動物，請挑選無缺陷且符合畫風的圖片。請以Json格式回覆，格式如下：\n{\"number\": 選中的第幾張圖片, \"reason\": 簡述選出的原因 }",
        "messages": {
          "messageValues": [
            {
              "message": "你是擅長分辦風格為\n\"Guidance: Disney 3D animation, Pixar-style rendering, stylized realism, soft lighting, detailed textures, expressive characters. A charming Disney 3D animation style, reminiscent of Pixar, featuring stylized yet realistic rendering, soft and inviting lighting, meticulously crafted textures, and highly expressive character designs.\"\n的圖畫辦識家。"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "=data"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_1"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_2"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_3"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        676,
        1160
      ],
      "id": "482c4cde-6695-4f57-87e7-940cb9a971aa",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        764,
        1380
      ],
      "id": "5dc10767-ed62-452e-a4ad-9206891a5d21",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "PkFzLXsW6A1eRV3Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -52,
        -20
      ],
      "id": "a4d82135-158b-4313-a376-4cf4b14aa6ae",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "PkFzLXsW6A1eRV3Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Scene }}",
        "options": {
          "systemMessage": "=You are an expert at creating English descriptions for AI image generation. Your output must align with the provided story's plot and content, specifically for a children's picture book suitable for 12-year-olds.\n\nThe story content is as follows:\n** Story start ** \n{{ $('取得主檔').item.json[\"故事內容\"] }}\n** Story end ** \nThe page elements are defined as follows (if any elements are used, they must strictly follow these definitions for their descriptions). If there is more than one character, provide a complete and distinct visual description for EACH character to prevent distorted or inconsistent image generation:\n** Definitions start ** \n{{ $('取得主檔').item.json[\"角色設定\"] }}\n** Definitions end ** \n*Provide only the English descriptions, with no additional replies or conversational fillers.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -140,
        -240
      ],
      "id": "c6d8a226-01f4-43c1-becf-63e8ad41e78b",
      "name": "產生圖檔描寫"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app9JKYAYQjGasueF",
          "mode": "list",
          "cachedResultName": "英文版",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF"
        },
        "table": {
          "__rl": true,
          "value": "tblWoqvEiSRHwisf3",
          "mode": "list",
          "cachedResultName": "副檔",
          "cachedResultUrl": "https://airtable.com/app9JKYAYQjGasueF/tblWoqvEiSRHwisf3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('依序處理場景').item.json.id }}",
            "PickedImage": "=[\n    {\n        \"url\": \"{{ $('取得縮圖圖檔').all()[$json.number].json.image_url}}\"\n    }\n]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "PK",
              "displayName": "PK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ParentRecordID",
              "displayName": "ParentRecordID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sequence",
              "displayName": "Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Paragraph",
              "displayName": "Paragraph",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PickedImage",
              "displayName": "PickedImage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VideoPath",
              "displayName": "VideoPath",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AudioDuration",
              "displayName": "AudioDuration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1272,
        1285
      ],
      "id": "5c3f5ce6-d452-4506-995b-6d1814b81203",
      "name": "只保留一張",
      "credentials": {
        "airtableTokenApi": {
          "id": "ckwlAnEfq7dI2kS0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawString = $input.first().json.text\nconst startDelimiter = '```json\\n';\nconst endDelimiter = '\\n```'; // 注意：這裡的結束分隔符只包含換行和三個反引號\nconst startIndex = rawString.indexOf(startDelimiter);\nconst endIndex = rawString.indexOf(endDelimiter, startIndex); // 從開始分隔符之後尋找結束分隔符\nlet jsonString;\n\nif (startIndex !== -1 && endIndex !== -1) {\n    // 找到了開頭和結尾分隔符\n    // 從 '```json\\n' 的下一個字元開始，直到 '\\n```' 的前一個字元\n    jsonString = rawString.substring(startIndex + startDelimiter.length, endIndex);\n} else {\n    // 如果沒有找到特定的包裹格式，則假設整個字串就是 JSON\n    console.warn('String does not seem to be wrapped with \"```json\\\\n\" and \"\\\\n```\". Attempting direct parse.');\n    jsonString = rawString;\n}\ntry {\n    const jsonObject = JSON.parse(jsonString);\n    return jsonObject;\n} catch (e) {\n    throw new Error(`Failed to parse JSON. Raw string (or extracted part): \"${jsonString.substring(0, 200)}...\" Error: ${e.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1052,
        1160
      ],
      "id": "803099ce-9b65-4aad-a115-40e431662290",
      "name": "取得張數"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Action": "SenceToVideo",
          "RecordID": "recglyKzmRRZcnm8a"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-07-01T02:47:15.000Z",
  "versionId": "cdfc887b-ffc2-4132-a648-0eb31e76c91a"
}