workflows/zlubH3hTnYvwuF8E.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-30T16:34:40.898Z",
  "id": "zlubH3hTnYvwuF8E",
  "meta": null,
  "name": "刪除Job",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "027c37be-e7c2-4012-a1fe-2d2b73d34135",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/api/v1/tasks?page=1&page_size=10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "a130d3c1-9f77-4539-af44-2f6378a37c08",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.tasks[0].task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        0
      ],
      "id": "436e1753-1fc8-4278-9d85-dbb99ab791d1",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8605aaf5-c57f-4098-b12a-c7c77a5a6e90",
              "leftValue": "={{ $json.data.tasks.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "251199a8-26dc-4b09-b0b4-3a3ae4066ab8",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-30T16:47:39.000Z",
  "versionId": "b4928503-fd0e-463d-a364-30fb0413c5b4"
}